force-app/main/default/flows/Campaign_after_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Creazione Campagna e invio comunicazioni Alert</description>
        <name>Creazione_Campagna_e_invio_comunicazioni_Alert</name>
        <label>Creazione Campagna e invio comunicazioni Alert</label>
        <locationX>370</locationX>
        <locationY>416</locationY>
        <actionName>Campaign.Creazione_Campagna_e_invio_comunicazioni_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>invioOK</targetReference>
        </connector>
        <faultConnector>
            <targetReference>invioKO</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Campaign.Creazione_Campagna_e_invio_comunicazioni_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Creazione sola Campagna_Alert</description>
        <name>Creazione_sola_Campagna_Alert</name>
        <label>Creazione sola Campagna_Alert</label>
        <locationX>941</locationX>
        <locationY>403</locationY>
        <actionName>Campaign.Creazione_sola_Campagna_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>invioOK</targetReference>
        </connector>
        <faultConnector>
            <targetReference>invioKO</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Campaign.Creazione_sola_Campagna_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>KO invio</description>
        <name>invioKO</name>
        <label>invioKO</label>
        <locationX>670</locationX>
        <locationY>683</locationY>
        <assignmentItems>
            <assignToReference>messaggeOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invio Email Alert KO </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AppLogErrors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>invioOK</name>
        <label>invioOK</label>
        <locationX>666</locationX>
        <locationY>559</locationY>
        <assignmentItems>
            <assignToReference>messaggeOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>invio OK</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CampagnaInviaCommunications</name>
        <label>CampagnaInviaCommunications</label>
        <locationX>664</locationX>
        <locationY>411</locationY>
        <defaultConnector>
            <targetReference>Creazione_Campagna_e_invio_comunicazioni_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CampgnaConInvioComu</defaultConnectorLabel>
        <rules>
            <name>IniziativaLookup_IS_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Iniziative_Marketing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creazione_sola_Campagna_Alert</targetReference>
            </connector>
            <label>campagnaSenzaInvio</label>
        </rules>
    </decisions>
    <description>Campaign After Update
- Send Email Create Campaign</description>
    <environments>Default</environments>
    <interviewLabel>Campaign after update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign after update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>AppLogErrors</name>
        <label>AppLogErrors</label>
        <locationX>679</locationX>
        <locationY>832</locationY>
        <inputAssignments>
            <field>ApexClass__c</field>
            <value>
                <stringValue>Autolaunched Flow - Campaign_after_update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CompleteMessage__c</field>
            <value>
                <elementReference>messaggeOut</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>messaggeOut</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>ApplicationLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>CampagnaInviaCommunications</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4</filterLogic>
        <filters>
            <field>Campagna_creata_da_Direzione_Agente__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On-going</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Campaign</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>messaggeOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
