force-app/main/default/flows/Case_Primo_ed_Ultimo_tentativo_richiamata_STT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Primo_o_Ultimo</name>
        <label>Primo o Ultimo ?</label>
        <locationX>248</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Se_il_primo_maggiore1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ultimo</defaultConnectorLabel>
        <rules>
            <name>Primo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Primo_tentativo_richiamata_STT__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Primo_Tentativo</targetReference>
            </connector>
            <label>Primo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_il_primo_maggiore1</name>
        <label>Se il primo è maggiore</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Update_ultimo_tentativo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Se il primo tentativo è corretto</defaultConnectorLabel>
        <rules>
            <name>Se_il_primo_maggiore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Primo_tentativo_richiamata_STT__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.CallStartDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Swap_primo_ultimo</targetReference>
            </connector>
            <label>Se il primo è maggiore</label>
        </rules>
    </decisions>
    <description>Flow che all&apos;associazione della Voice Call ad un Case aggiorni i campi Primo Tentativo e Ultimo tentativo richiamata STT</description>
    <environments>Default</environments>
    <interviewLabel>Case Primo ed Ultimo tentativo richiamata STT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Primo ed Ultimo tentativo richiamata STT</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>248</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primo_o_Ultimo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Swap_primo_ultimo</name>
        <label>Swap primo ultimo</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primo_tentativo_richiamata_STT__c</field>
            <value>
                <elementReference>$Record.CallStartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ultimo_tentativo_richiamata_STT__c</field>
            <value>
                <elementReference>Get_Case.Primo_tentativo_richiamata_STT__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Primo_Tentativo</name>
        <label>Update Primo Tentativo</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primo_tentativo_richiamata_STT__c</field>
            <value>
                <elementReference>$Record.CallStartDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ultimo_tentativo</name>
        <label>Update ultimo tentativo</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ultimo_tentativo_richiamata_STT__c</field>
            <value>
                <elementReference>$Record.CallStartDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CallType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </filters>
        <filters>
            <field>RelatedRecordId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>VoiceCall</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
