force-app/main/default/flows/Case_reminder_and_closure_process_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>1513</locationX>
        <locationY>889</locationY>
        <assignmentItems>
            <assignToReference>$Record.Data_chiusura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DataChiusura</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Data_sollecito__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DataSollecito</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Case_0</name>
        <label>Update_Case_0</label>
        <locationX>661</locationX>
        <locationY>891</locationY>
        <assignmentItems>
            <assignToReference>$Record.Data_chiusura__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Data_sollecito__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Rule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Case_1</name>
        <label>Update Case 1</label>
        <locationX>1514</locationX>
        <locationY>1054</locationY>
        <assignmentItems>
            <assignToReference>$Record.Data_chiusura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DataChiusura1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Data_sollecito__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DataSollecito1</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Case_2</name>
        <label>Update Case 2</label>
        <locationX>1504</locationX>
        <locationY>1270</locationY>
        <assignmentItems>
            <assignToReference>$Record.Data_sollecito__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DataSollecito2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Data_chiusura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DataChiusura2</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>BestCase_Founded</name>
        <label>BestCase Founded?</label>
        <locationX>956</locationX>
        <locationY>893</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Rule.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubCategoryAll</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Founded</name>
        <label>CategoryAllFounded?</label>
        <locationX>1288</locationX>
        <locationY>1272</locationY>
        <defaultConnector>
            <targetReference>Update_Case_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CategoryAll.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_is_changed</name>
        <label>Status is changed?</label>
        <locationX>482</locationX>
        <locationY>894</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Chiuso in autonomia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SubCateogryAllFounded</name>
        <label>SubCateogryAllFounded</label>
        <locationX>1177</locationX>
        <locationY>1051</locationY>
        <defaultConnector>
            <targetReference>Update_Case_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubCategoryAll.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CategoryAll</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <formulas>
        <name>DataChiusura</name>
        <dataType>DateTime</dataType>
        <expression>Now()+{!Get_Rule.Valore_Chiusura__c}</expression>
    </formulas>
    <formulas>
        <name>DataChiusura1</name>
        <dataType>DateTime</dataType>
        <expression>Now()+{!SubCategoryAll.Valore_Chiusura__c}</expression>
    </formulas>
    <formulas>
        <name>DataChiusura2</name>
        <dataType>DateTime</dataType>
        <expression>Now()+{!CategoryAll.Valore_Chiusura__c}</expression>
    </formulas>
    <formulas>
        <name>DataSollecito</name>
        <dataType>DateTime</dataType>
        <expression>Now()+{!Get_Rule.Valore_Sollecito__c}</expression>
    </formulas>
    <formulas>
        <name>DataSollecito1</name>
        <dataType>DateTime</dataType>
        <expression>Now()+{!SubCategoryAll.Valore_Sollecito__c}</expression>
    </formulas>
    <formulas>
        <name>DataSollecito2</name>
        <dataType>DateTime</dataType>
        <expression>Now()+{!CategoryAll.Valore_Sollecito__c}</expression>
    </formulas>
    <interviewLabel>Case reminder and closure process flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case reminder and closure process flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CategoryAll</name>
        <label>CategoryAll</label>
        <locationX>1185</locationX>
        <locationY>1270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Founded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LOB__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LOB__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>*</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subcategory__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>*</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.DeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </filters>
        <filters>
            <field>Regola_Attiva__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Configurazione_Chiusura_Automatica_Case__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rule</name>
        <label>BestCase</label>
        <locationX>809</locationX>
        <locationY>891</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BestCase_Founded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LOB__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LOB__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Category__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subcategory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubCategory__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.DeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </filters>
        <filters>
            <field>Regola_Attiva__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Configurazione_Chiusura_Automatica_Case__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SubCategoryAll</name>
        <label>SubCategoryAll</label>
        <locationX>964</locationX>
        <locationY>1049</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SubCateogryAllFounded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LOB__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LOB__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Category__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subcategory__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>*</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.DeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </filters>
        <filters>
            <field>Regola_Attiva__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Configurazione_Chiusura_Automatica_Case__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>814</locationY>
        <connector>
            <targetReference>Status_is_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
