force-app/main/default/flows/Case_AfterUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notifica_Acquisto_Danni</name>
        <label>Notifica Acquisto Danni</label>
        <locationX>2165</locationX>
        <locationY>83</locationY>
        <actionName>Case.Messaggio_automatico_su_ricezione_Case_Acquisto_Danni</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>messageOutOKDaol_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Finish_FLow_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Messaggio_automatico_su_ricezione_Case_Acquisto_Danni</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notifica_Acquisto_Protezione_Vita</name>
        <label>Notifica Acquisto Protezione Vita</label>
        <locationX>2168</locationX>
        <locationY>2</locationY>
        <actionName>Case.Messaggio_automatico_su_ricezione_Case_Acquisto_Protezione_Vita</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>messageOutOKDaol_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Finish_FLow_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Messaggio_automatico_su_ricezione_Case_Acquisto_Protezione_Vita</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Notifica email Cliente EmailCase se company = AAI</description>
        <name>Notifica_al_Cliente_da_CASE_AAI_CTL_feedback</name>
        <label>Notifica al Cliente da CASE AAI CTL feedback</label>
        <locationX>2166</locationX>
        <locationY>494</locationY>
        <actionName>Case.Notifica_al_Cliente_da_CASE_AAI_CTL_feedback</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>messageOutOKDaol_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Finish_FLow_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Notifica_al_Cliente_da_CASE_AAI_CTL_feedback</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>NOtifica cliente CASEemail se company = AXA MPS</description>
        <name>Notifica_al_Cliente_da_CASE_MPS_CTL_feedback</name>
        <label>Notifica al Cliente da CASE MPS CTL feedback</label>
        <locationX>2172</locationX>
        <locationY>630</locationY>
        <actionName>Case.Notifica_al_Cliente_da_CASE_MPS_CTL_feedback</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>messageOutOKDaol_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Finish_FLow_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Notifica_al_Cliente_da_CASE_MPS_CTL_feedback</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Notifica cliente Email CASE, se Account Agency = 000729 RCI</description>
        <name>Notifica_al_Cliente_da_CASE_RCI_CTL_feedback</name>
        <label>Notifica al Cliente da CASE RCI CTL feedback</label>
        <locationX>2156</locationX>
        <locationY>358</locationY>
        <actionName>Case.Notifica_al_Cliente_da_CASE_RCI_CTL_feedback</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>messageOutOKDaol_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Finish_FLow_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Notifica_al_Cliente_da_CASE_RCI_CTL_feedback</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notifica_Rinnovi_Danni</name>
        <label>Notifica Rinnovi Danni</label>
        <locationX>2169</locationX>
        <locationY>171</locationY>
        <actionName>Case.Messaggio_automatico_su_ricezione_Case_Rinnovi_Danni</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>messageOutOKDaol_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Finish_FLow_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Messaggio_automatico_su_ricezione_Case_Rinnovi_Danni</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notifica_Rinnovo_Protezione_Vita</name>
        <label>Notifica Rinnovo Protezione Vita</label>
        <locationX>2172</locationX>
        <locationY>262</locationY>
        <actionName>Case.Messaggio_automatico_su_ricezione_Case_Rinnovo_Protezione_Vita</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>messageOutOKDaol_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Finish_FLow_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Messaggio_automatico_su_ricezione_Case_Rinnovo_Protezione_Vita</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Send Email from FLOW for portal cauzione dinamic fields on Case description</description>
        <name>Send_Email_from_FLOW</name>
        <label>Send Email from FLOW</label>
        <locationX>1015</locationX>
        <locationY>694</locationY>
        <actionName>InvocableSendEmailFromFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>messageOutOKDaol</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Errore_on_Update_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AccountName</name>
            <value>
                <stringValue>{!$Record.Account.FirstName} {!$Record.Account.LastName} {!$Record.Account.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>AgencyCodeCase</name>
            <value>
                <elementReference>$Record.Agency_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CaseDesc</name>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CaseEmail</name>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>$Record.Oggetto_Apertura_Case__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress_Name</name>
            <value>
                <stringValue>AXA Assicurazioni</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PathOfDevelop</name>
            <value>
                <stringValue>Portale Cauzioni</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <stringValue>Notifica_Agente_Portale_Cauzioni_v1</stringValue>
            </value>
        </inputParameters>
        <nameSegment>InvocableSendEmailFromFlow</nameSegment>
        <outputParameters>
            <assignToReference>messageOut</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Errore_on_Update</name>
        <label>Errore on Update</label>
        <locationX>56</locationX>
        <locationY>1153</locationY>
        <assignmentItems>
            <assignToReference>messageOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ForChatTrsncriptOwner. KO share record with OwnerCase. RecordShared</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateAppLogErrors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Errore_on_Update_0</name>
        <label>Errore on Update</label>
        <locationX>1216</locationX>
        <locationY>966</locationY>
        <assignmentItems>
            <assignToReference>messageOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ForPortaleCauzioneDAOL. KO Invio Mail Portale Cauzioni. Apex invocable</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateAppLogErrors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Usata per i debug nei Logs</description>
        <name>Finish_FLow</name>
        <label>Finish FLow</label>
        <locationX>689</locationX>
        <locationY>859</locationY>
        <assignmentItems>
            <assignToReference>messageOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Finish ok</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Usata per i debug nei Logs</description>
        <name>Finish_FLow_0</name>
        <label>Finish FLow</label>
        <locationX>1509</locationX>
        <locationY>598</locationY>
        <assignmentItems>
            <assignToReference>messageOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Finish KO MTD mancante nella ORG</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateAppLogErrors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Usata per i debug nei Logs</description>
        <name>Finish_FLow_0_0</name>
        <label>Finish FLow</label>
        <locationX>1968</locationX>
        <locationY>763</locationY>
        <assignmentItems>
            <assignToReference>messageOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ForCTLCasesFeedbacksInvioCliente. KO Invio Cliente Mail per CASE CTL </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateAppLogErrors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>messageOutOKDaol</name>
        <label>messageOut_OK</label>
        <locationX>964</locationX>
        <locationY>851</locationY>
        <assignmentItems>
            <assignToReference>OwnerNameChatRelated</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email OK inviata</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>messageOutOKDaol_0</name>
        <label>messageOut_OK</label>
        <locationX>1682</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OwnerNameChatRelated</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flow OK. Non desicion for this scenario</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>messageOutOKDaol_0_0</name>
        <label>messageOut_OK</label>
        <locationX>2422</locationX>
        <locationY>462</locationY>
        <assignmentItems>
            <assignToReference>OwnerNameChatRelated</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flow ok. inviata mail cliente da CTL case</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>NOrmalFlow</name>
        <label>NOrmalFlow</label>
        <locationX>50</locationX>
        <locationY>983</locationY>
        <assignmentItems>
            <assignToReference>messageOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Is OK</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>decisionTree</name>
        <label>decisionTree</label>
        <locationX>684</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Finish_FLow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CaseFromChatBotAssign</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chat PCC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chat Webform PCC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetChat_Transcript</targetReference>
            </connector>
            <label>CaseFromChatBotAssign</label>
        </rules>
    </decisions>
    <decisions>
        <name>emailSuppliNotNuLL</name>
        <label>emailSuppliNotNuLL</label>
        <locationX>1279</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>messageOutOKDaol</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>emailNotNull_desc_NotNULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_from_FLOW</targetReference>
            </connector>
            <label>emailNotNull_desc_NotNULL</label>
        </rules>
    </decisions>
    <decisions>
        <description>is like the path for choose the right scenario for doing a IDs v5 flow1 to chattranscript flow2 for Portale cauzione</description>
        <name>FLowFirstOptionPath</name>
        <label>FLowFirstOptionPath</label>
        <locationX>1280</locationX>
        <locationY>381</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ForChatTrsncriptOwner</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chat PCC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chat Webform PCC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decisionTree</targetReference>
            </connector>
            <label>ForChatTrsncriptOwner</label>
        </rules>
        <rules>
            <name>ForPortaleCauzioneDAOL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Daol</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comunicazioni_Agenti_AAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portale Cauzioni</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>emailSuppliNotNuLL</targetReference>
            </connector>
            <label>ForPortaleCauzioneDAOL</label>
        </rules>
        <rules>
            <name>For_CTL_cases_from_feedbacks_Invio_AUTO_cliente</name>
            <conditionLogic>1 AND 2 AND 7 AND 8 AND (3 OR 4 OR 5 OR 6 OR 9 OR 10 OR 11 OR 12)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close_the_loop</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EFNOL_LIVELLO_1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EFNOL_LIVELLO_2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SINISTRI_CHECK_OUT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CARING_ANGEL_v2021</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Survey Rinnovi P&amp;C AAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Survey Rinnovi Protezione Vita AAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Survey Acquisto P&amp;C AAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Survey Acquisto Protezione Vita AAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_MTD_for_ON_OFF_invio</targetReference>
            </connector>
            <label>For CTL cases from feedbacks Invio AUTO cliente</label>
        </rules>
    </decisions>
    <decisions>
        <name>GetAccountCompanyORAgency</name>
        <label>GetAccountCompanyORAgency</label>
        <locationX>1821</locationX>
        <locationY>381</locationY>
        <defaultConnector>
            <targetReference>messageOutOKDaol_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome NON Clients</defaultConnectorLabel>
        <rules>
            <name>Get_Rinnovo_Protezione_Vita</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Survey Rinnovi Protezione Vita AAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notifica_Rinnovo_Protezione_Vita</targetReference>
            </connector>
            <label>Get Rinnovo Protezione Vita</label>
        </rules>
        <rules>
            <name>Get_Acquisto_Protezione_Vita</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Survey Acquisto Protezione Vita AAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notifica_Acquisto_Protezione_Vita</targetReference>
            </connector>
            <label>Get Acquisto Protezione Vita</label>
        </rules>
        <rules>
            <name>Get_Acquisto_Danni</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Survey Acquisto P&amp;C AAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notifica_Acquisto_Danni</targetReference>
            </connector>
            <label>Get Acquisto Danni</label>
        </rules>
        <rules>
            <name>Get_Rinnovi_Danni</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Survey Rinnovi P&amp;C AAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notifica_Rinnovi_Danni</targetReference>
            </connector>
            <label>Get Rinnovi Danni</label>
        </rules>
        <rules>
            <name>Get_AAI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.TECH_Company__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.AAI_Agency_Reference_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>000729</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.AAI_Agency_Reference_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notifica_al_Cliente_da_CASE_AAI_CTL_feedback</targetReference>
            </connector>
            <label>Get AAI</label>
        </rules>
        <rules>
            <name>Get_AXA_MPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.TECH_Company__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AXA MPS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notifica_al_Cliente_da_CASE_MPS_CTL_feedback</targetReference>
            </connector>
            <label>Get AXA MPS</label>
        </rules>
        <rules>
            <name>Get_RCI_cliente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.AAI_Agency_Reference_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>000729</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.AAI_Agency_Reference_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notifica_al_Cliente_da_CASE_RCI_CTL_feedback</targetReference>
            </connector>
            <label>Get RCI cliente</label>
        </rules>
    </decisions>
    <decisions>
        <name>OwnerAutomatedProcess</name>
        <label>OwnerAutomatedProcess</label>
        <locationX>454</locationX>
        <locationY>858</locationY>
        <defaultConnector>
            <targetReference>Finish_FLow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ifOwnerIsAutoProcess</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>GetChat_Transcript.Owner:User.Username</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetChat_Transcript.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OwnerNameChatRelated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Automated Process</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetChat_Transcript.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>shareRecord_ownerCase</targetReference>
            </connector>
            <label>ifOwnerIsAutoProcess</label>
        </rules>
    </decisions>
    <decisions>
        <name>Switch_on_off_invioEmail</name>
        <label>Switch_on_off_invioEmail</label>
        <locationX>1662</locationX>
        <locationY>382</locationY>
        <defaultConnector>
            <targetReference>messageOutOKDaol_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OFF</defaultConnectorLabel>
        <rules>
            <name>On</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Switch_on_off_mail_forClient_CTL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>True</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAccountCompanyORAgency</targetReference>
            </connector>
            <label>On</label>
        </rules>
    </decisions>
    <description>trigger after update 
v1 -  per cambiare il owner del chat transcript
v5 - per inviare email portale cauzioni
v6 -  CTL invio automatico cliente</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Case AfterUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case AfterUpdate_Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateAppLogErrors</name>
        <label>CreateAppLogErrors</label>
        <locationX>1061</locationX>
        <locationY>1644</locationY>
        <inputAssignments>
            <field>ApexClass__c</field>
            <value>
                <stringValue>Case After Update Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CompleteMessage__c</field>
            <value>
                <elementReference>messageOut</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Error nel FLOW. See completed message</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>ApplicationLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>shareRecord_ownerCase</name>
        <label>shareRecord_ownerCase</label>
        <locationX>269</locationX>
        <locationY>965</locationY>
        <connector>
            <targetReference>NOrmalFlow</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Errore_on_Update</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>GetChat_Transcript.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscriptShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>CaseAfterUpdate_InvioCTL_Auto_Cliente</description>
        <name>get_MTD_for_ON_OFF_invio</name>
        <label>get_MTD_for_ON_OFF_invio</label>
        <locationX>1510</locationX>
        <locationY>381</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Switch_on_off_invioEmail</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Finish_FLow_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CaseAfterUpdate_InvioCTL_Auto_Cliente</stringValue>
            </value>
        </filters>
        <object>MPS_Code_Utils__mdt</object>
        <outputAssignments>
            <assignToReference>Switch_on_off_mail_forClient_CTL</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Prendere dei records associati al case che fa partire il flow.</description>
        <name>GetChat_Transcript</name>
        <label>GetChat_Transcript</label>
        <locationX>461</locationX>
        <locationY>508</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOwnerName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LiveChatTranscript</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>GetOwner Name because 2 times call in the conditions does not works</description>
        <name>GetOwnerName</name>
        <label>GetOwnerName</label>
        <locationX>464</locationX>
        <locationY>673</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OwnerAutomatedProcess</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetChat_Transcript.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>OwnerNameChatRelated</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>1152</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>FLowFirstOptionPath</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>messageOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerNameChatRelated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Switch_on_off_mail_forClient_CTL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>False</stringValue>
        </value>
    </variables>
</Flow>
