force-app/main/default/flows/ChatTranScriptAfterUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Disable Trigger on Case and Chat Transcript</description>
        <name>Disable_Trigger_on_Case_and_Chat_Transcript</name>
        <label>Disable Trigger on Case and Chat Transcript</label>
        <locationX>909</locationX>
        <locationY>475</locationY>
        <actionName>CaseHandlerOffTriggerInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>IsOwnerChanged</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>CaseHandlerOffTriggerInvocable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <description>assgena i valori a le variavile da usare</description>
        <name>Account_CF_IVA</name>
        <label>Account_CF_IVA</label>
        <locationX>594</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>AccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>codiceFiscaleOpIVA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Codice_Fiscale_o_IVA__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>newOwnerValidation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Finish update Ok</description>
        <name>Finish_flow_OK</name>
        <label>Finish flow OK</label>
        <locationX>1605</locationX>
        <locationY>595</locationY>
        <assignmentItems>
            <assignToReference>MessageOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OK</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Finish_KO</name>
        <label>Finish KO</label>
        <locationX>1340</locationX>
        <locationY>817</locationY>
        <assignmentItems>
            <assignToReference>MessageOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KO: non trovati/error update</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Solo per controllare in debug quando non entra nei casi da lavorare</description>
        <name>FinishFLOW</name>
        <label>Finish FLOW</label>
        <locationX>758</locationX>
        <locationY>853</locationY>
        <assignmentItems>
            <assignToReference>MessageOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Finish OUT Condition</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>getOldOwnerRecord</name>
        <label>getOldOwnerRecord</label>
        <locationX>747</locationX>
        <locationY>337</locationY>
        <assignmentItems>
            <assignToReference>ownerOld</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ownerNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetNamesOwnersChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Solo per controllare in debug</description>
        <name>UpdateMEssageOK</name>
        <label>UpdateMEssageOK</label>
        <locationX>153</locationX>
        <locationY>852</locationY>
        <assignmentItems>
            <assignToReference>MessageOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OK</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>IsOwnerChanged</name>
        <label>IsOwnerChanged</label>
        <locationX>730</locationX>
        <locationY>649</locationY>
        <defaultConnector>
            <targetReference>FinishFLOW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CaseRelatedOwnerUtenteTecnico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCaseRelated</targetReference>
            </connector>
            <label>CaseRelatedOwnerUtenteTecnico</label>
        </rules>
        <rules>
            <name>fiChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ownerNew</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ownerOld</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_CF_IVA</targetReference>
            </connector>
            <label>IFChangOwner</label>
        </rules>
    </decisions>
    <decisions>
        <name>newOwnerValidation</name>
        <label>newOwnerValidation</label>
        <locationX>356</locationX>
        <locationY>609</locationY>
        <defaultConnector>
            <targetReference>FinishFLOW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ownerValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ownerNew</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newOwnerName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Automated Process</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newOwnerName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Utente Tecnico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseCodFiscal_or_PartitaIVA</targetReference>
            </connector>
            <label>ownerValid</label>
        </rules>
        <rules>
            <name>ownerValidFromQueue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ownerNew</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Owner:Group.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseCodFiscal_or_PartitaIVA</targetReference>
            </connector>
            <label>ownerValidQueue</label>
        </rules>
    </decisions>
    <decisions>
        <description>if Owner is &apos;Utente Tecnico&apos; change for Queue owner</description>
        <name>ownerIsTecnichal</name>
        <label>ownerIsTecnichal</label>
        <locationX>1324</locationX>
        <locationY>632</locationY>
        <defaultConnector>
            <targetReference>FinishFLOW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isOwnerTecnico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newOwnerName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Utente Tecnico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseRelatedOwnerQueue</targetReference>
            </connector>
            <label>isOwnerTecnico</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpdateCaseCodFiscal_or_PartitaIVA</name>
        <label>UpdateCaseCodFiscal_or_PartitaIVA</label>
        <locationX>153</locationX>
        <locationY>612</locationY>
        <defaultConnector>
            <targetReference>UpdateCaseRelated_pIVA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>partita IVA</defaultConnectorLabel>
        <rules>
            <name>codiceFiscale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FormulaCodFiscaleORpIVA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseRelated</targetReference>
            </connector>
            <label>codiceFiscale</label>
        </rules>
    </decisions>
    <description>Flow che parte nel trigger After Update - block trigger v6</description>
    <environments>Default</environments>
    <formulas>
        <description>torna true se un codice fiscale , false una P IVA</description>
        <name>FormulaCodFiscaleORpIVA</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!codiceFiscaleOpIVA}) =16 ,true , false )</expression>
    </formulas>
    <formulas>
        <description>if the new owner is queue &apos;chat non disponibile&apos; or &apos;chat fuori orario&apos; status is &apos;Chiuso d&apos;ufficio&apos;</description>
        <name>isNewOwnerQueueChatNonDisponibile</name>
        <dataType>String</dataType>
        <expression>Case ({!ownerQueueForCase}, &quot;Chat_non_disponibile&quot;, &quot;Chiuso d&apos;ufficio&quot;, &quot;Chat_fuori_orario&quot;, &quot;Chiuso d&apos;ufficio&quot; , &quot;Open&quot; )</expression>
    </formulas>
    <interviewLabel>ChatTranScript {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ChatTranScriptAfterUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>if case related owner is &apos;Utente Tecnico&apos; change for Queue, because means there was a error</description>
        <name>getCaseRelated</name>
        <label>getCaseRelated</label>
        <locationX>956</locationX>
        <locationY>608</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getUserName</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Finish_KO</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>ownerQueueForCase</assignToReference>
            <field>Current_Owner_Queue__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerIDCaseRelated</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getIDOwnerQueueByDevName</name>
        <label>getIDOwnerQueueByDevName</label>
        <locationX>1182</locationX>
        <locationY>601</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ownerIsTecnichal</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Finish_KO</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ownerQueueForCase</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>newQueueOwnerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetNamesOwnersChanged</name>
        <label>GetNamesOwnersChanged</label>
        <locationX>747</locationX>
        <locationY>469</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Disable_Trigger_on_Case_and_Chat_Transcript</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ownerNew</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>newOwnerName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>if user is &apos;Utente Tecnico&apos; needs to be change to queue or case will be  lost.</description>
        <name>getUserName</name>
        <label>getUserName</label>
        <locationX>1070</locationX>
        <locationY>606</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getIDOwnerQueueByDevName</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Finish_KO</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OwnerIDCaseRelated</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>newOwnerName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCaseRelated</name>
        <label>UpdateCaseRelated</label>
        <locationX>50</locationX>
        <locationY>742</locationY>
        <connector>
            <targetReference>UpdateMEssageOK</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Codice_Fiscale__c</field>
            <value>
                <elementReference>codiceFiscaleOpIVA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ownerNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Preso in carico</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseRelated_pIVA</name>
        <label>UpdateCaseRelated_pIVA</label>
        <locationX>259</locationX>
        <locationY>738</locationY>
        <connector>
            <targetReference>UpdateMEssageOK</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ownerNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>P_Iva__c</field>
            <value>
                <elementReference>codiceFiscaleOpIVA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Preso in carico</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseRelatedOwnerQueue</name>
        <label>UpdateCaseRelatedOwnerQueue</label>
        <locationX>1479</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Finish_flow_OK</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Finish_KO</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>newQueueOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>isNewOwnerQueueChatNonDisponibile</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>623</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getOldOwnerRecord</targetReference>
        </connector>
        <object>LiveChatTranscript</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>fiscale o IVa del cliente che ha iniziato la chat, non necesariamente essitente nel CRM</description>
        <name>codiceFiscaleOpIVA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessageOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newQueueOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>per scenario che chat transcript owner = Automated Process, bisogna condividere il chat con i member della coda owner del Case</description>
        <name>OwnerIDCaseRelated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ownerNew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ownerOld</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>on the flow Letizia Create Case, the field *Current_Owner_Queue__c is fill with the right Queue for this Case, this value is saved on the MTD- Chat Bot Case Config for every scenario</description>
        <name>ownerQueueForCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
