force-app/main/default/flows/clonaCaseWrapper.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>setCase</name>
        <label>setCase</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>caseCloned</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clonaCase.caseToBeCreate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseClonedId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clonaCase.caseToBeCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EsitoClonazione</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>EsitoClonazione</name>
        <label>EsitoClonazione</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>setCase_si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseCloned</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseCloned.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Clona_Case</targetReference>
            </connector>
            <label>setCase si</label>
        </rules>
    </decisions>
    <description>Questo Flow richiama un subflow ed è utilizzato da un&apos;action che può essere inserita a layout</description>
    <environments>Default</environments>
    <interviewLabel>clonaCaseWrapper {!$Flow.CurrentDateTime}</interviewLabel>
    <label>clonaCaseWrapper</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>alertClonaCase</name>
        <label>alertClonaCase</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>clonaCase</targetReference>
        </connector>
        <fields>
            <name>alert</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255);&quot;&gt;Stai per clonare il Case e i record ad esso correlati. Confermare?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Conferma</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Clona_Case</name>
        <label>Clona Case</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>link</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(51, 51, 51); font-size: 16px;&quot;&gt;La clonazione di Case e relativi allegati è avvenuta con successo. &lt;/span&gt;&lt;a href=&quot;/{!caseClonedId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 112, 224); font-size: 16px;&quot;&gt;Clicca qui per visualizzare il nuovo Case.﻿&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Chiudi</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>alertClonaCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>clonaCase</name>
        <label>clonaCase</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>setCase</targetReference>
        </connector>
        <flowName>cloneCase</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>caseCloned</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseClonedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
