force-app/main/default/flows/cloneCase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>disableTriggerEmailMessage</name>
        <label>disableTriggerEmailMessage</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <actionName>EmailMessageSkipTriggerInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>createEmailMessage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>EmailMessageSkipTriggerInvocable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>addIdEmailMessage</name>
        <label>addIdEmailMessage</label>
        <locationX>264</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>listaEmailMessageId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forEmailMessage2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>forEmailMessage2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getCloneId</name>
        <label>getCloneId</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>caseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseToBeCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getEmailMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sbiancaId</name>
        <label>sbiancaId</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>getCaseData.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCaseData.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCaseData.UniqueCode__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCaseData.Document_Unique_ID__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCaseData.Case_Number_AAF__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>creaCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setAttachment</name>
        <label>setAttachment</label>
        <locationX>264</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>forAttachment.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>forAttachment.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>setAttachmentCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setAttachmentCollection</name>
        <label>setAttachmentCollection</label>
        <locationX>264</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>AttachmentToBeCreated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forAttachment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>forAttachment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setCommunicationsToCustomer</name>
        <label>setCommunicationsToCustomer</label>
        <locationX>264</locationX>
        <locationY>5366</locationY>
        <assignmentItems>
            <assignToReference>forCommunicationsToCustomer.CaseId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>forCommunicationsToCustomer.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>forCommunicationsToCustomer.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>setCommunicationsToCustomerCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setCommunicationsToCustomerCollection</name>
        <label>setCommunicationsToCustomerCollection</label>
        <locationX>264</locationX>
        <locationY>5474</locationY>
        <assignmentItems>
            <assignToReference>CommunicationToCustomerToBeCreated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forCommunicationsToCustomer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>forCommunicationsToCustomer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setContentDocumentLink</name>
        <label>setContentDocumentLink</label>
        <locationX>264</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>forContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>forContentDocumentLink.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>setContentDocumentLinkCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setContentDocumentLinkCollection</name>
        <label>setContentDocumentLinkCollection</label>
        <locationX>264</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkToBeCreated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>forContentDocumentLink</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setEmailMessage</name>
        <label>setEmailMessage</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>forEmailMessage.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>forEmailMessage.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>forEmailMessage.ValidatedFromAddress</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>setEmailMessageCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setEmailMessageCollection</name>
        <label>setEmailMessageCollection</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>emailMessageToBeCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forEmailMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>forEmailMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setLiveChatTranscripts</name>
        <label>setLiveChatTranscripts</label>
        <locationX>264</locationX>
        <locationY>4118</locationY>
        <assignmentItems>
            <assignToReference>forLiveChatTranscripts.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>forLiveChatTranscripts.LiveChatVisitorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LiveChatVisitorsId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>forLiveChatTranscripts.Name</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>forLiveChatTranscripts.ChatKey</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>forLiveChatTranscripts.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>setLiveChatTranscriptsCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setLiveChatTranscriptsCollection</name>
        <label>setLiveChatTranscriptsCollection</label>
        <locationX>264</locationX>
        <locationY>4226</locationY>
        <assignmentItems>
            <assignToReference>LiveChatTranscriptToBeCreated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forLiveChatTranscripts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>forLiveChatTranscripts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setLiveChatVisitors</name>
        <label>setLiveChatVisitors</label>
        <locationX>264</locationX>
        <locationY>3794</locationY>
        <assignmentItems>
            <assignToReference>LiveChatVisitorToBeInsert</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getChatVisitors</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LiveChatVisitorToBeInsert.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>createLiveChatVisitors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setLiveChatVisitorsId</name>
        <label>setLiveChatVisitorsId</label>
        <locationX>264</locationX>
        <locationY>4010</locationY>
        <assignmentItems>
            <assignToReference>LiveChatVisitorsId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LiveChatVisitorToBeInsert.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setLiveChatTranscripts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setStoricoChiamate</name>
        <label>setStoricoChiamate</label>
        <locationX>264</locationX>
        <locationY>4742</locationY>
        <assignmentItems>
            <assignToReference>forStoricoChiamate.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>forStoricoChiamate.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>setStoricoChiamateCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setStoricoChiamateCollection</name>
        <label>setStoricoChiamateCollection</label>
        <locationX>264</locationX>
        <locationY>4850</locationY>
        <assignmentItems>
            <assignToReference>StoricoChiamateToBeCreated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forStoricoChiamate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>forStoricoChiamate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setStoricoConversazioni</name>
        <label>setStoricoConversazioni</label>
        <locationX>264</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>forStoricoConversazioni.Connected_case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>forStoricoConversazioni.RecordTypeId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>forStoricoConversazioni.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>setStoricoConversazioniCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setStoricoConversazioniCollection</name>
        <label>setStoricoConversazioniCollection</label>
        <locationX>264</locationX>
        <locationY>3170</locationY>
        <assignmentItems>
            <assignToReference>StoricoConversazioniToBeCreated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forStoricoConversazioni</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>forStoricoConversazioni</targetReference>
        </connector>
    </assignments>
    <description>[SC]: Questo Flow viene utilizzato da un pulsante (inserito a layout). Questo flow è stato sviluppato per l&apos;iniziativa IDCRM121 - Microevolutive COPS</description>
    <environments>Default</environments>
    <interviewLabel>cloneCase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cloneCase</label>
    <loops>
        <name>forAttachment</name>
        <label>forAttachment</label>
        <locationX>176</locationX>
        <locationY>2330</locationY>
        <collectionReference>getAttachment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setAttachment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createAttachment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>forCommunicationsToCustomer</name>
        <label>forCommunicationsToCustomer</label>
        <locationX>176</locationX>
        <locationY>5258</locationY>
        <collectionReference>getCommunicationsToCustomer</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setCommunicationsToCustomer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createCommunicationsToCustomer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>forContentDocumentLink</name>
        <label>forContentDocumentLink</label>
        <locationX>176</locationX>
        <locationY>1706</locationY>
        <collectionReference>getContentDocumentLink</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>setContentDocumentLink</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createContentDocumentLink</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>forEmailMessage</name>
        <label>forEmailMessage</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <collectionReference>getEmailMessage</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>setEmailMessage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>disableTriggerEmailMessage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>forEmailMessage2</name>
        <label>forEmailMessage</label>
        <locationX>176</locationX>
        <locationY>1298</locationY>
        <collectionReference>getEmailMessage</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addIdEmailMessage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getContentDocumentLink</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>forLiveChatTranscripts</name>
        <label>forLiveChatTranscripts</label>
        <locationX>176</locationX>
        <locationY>3578</locationY>
        <collectionReference>getLiveChatTranscripts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getChatVisitors</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createLiveChatTranscripts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>forStoricoChiamate</name>
        <label>forStoricoChiamate</label>
        <locationX>176</locationX>
        <locationY>4634</locationY>
        <collectionReference>getStoricoChiamate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setStoricoChiamate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createStoricoChiamate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>forStoricoConversazioni</name>
        <label>forStoricoConversazioni</label>
        <locationX>176</locationX>
        <locationY>2954</locationY>
        <collectionReference>getStoricoConversazioni</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setStoricoConversazioni</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createStoricoConversazioni</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createAttachment</name>
        <label>createAttachment</label>
        <locationX>176</locationX>
        <locationY>2738</locationY>
        <connector>
            <targetReference>getStoricoConversazioni</targetReference>
        </connector>
        <inputReference>AttachmentToBeCreated</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createCommunicationsToCustomer</name>
        <label>createCommunicationsToCustomer</label>
        <locationX>176</locationX>
        <locationY>5666</locationY>
        <inputReference>CommunicationToCustomerToBeCreated</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createContentDocumentLink</name>
        <label>createContentDocumentLink</label>
        <locationX>176</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>getAttachment</targetReference>
        </connector>
        <inputReference>ContentDocumentLinkToBeCreated</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createEmailMessage</name>
        <label>createEmailMessage</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>forEmailMessage2</targetReference>
        </connector>
        <inputReference>emailMessageToBeCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createLiveChatTranscripts</name>
        <label>createLiveChatTranscripts</label>
        <locationX>176</locationX>
        <locationY>4418</locationY>
        <connector>
            <targetReference>getStoricoChiamate</targetReference>
        </connector>
        <inputReference>LiveChatTranscriptToBeCreated</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createLiveChatVisitors</name>
        <label>createLiveChatVisitors</label>
        <locationX>264</locationX>
        <locationY>3902</locationY>
        <connector>
            <targetReference>setLiveChatVisitorsId</targetReference>
        </connector>
        <inputReference>LiveChatVisitorToBeInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createStoricoChiamate</name>
        <label>createStoricoChiamate</label>
        <locationX>176</locationX>
        <locationY>5042</locationY>
        <connector>
            <targetReference>getCommunicationsToCustomer</targetReference>
        </connector>
        <inputReference>StoricoChiamateToBeCreated</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createStoricoConversazioni</name>
        <label>createStoricoConversazioni</label>
        <locationX>176</locationX>
        <locationY>3362</locationY>
        <connector>
            <targetReference>getLiveChatTranscripts</targetReference>
        </connector>
        <inputReference>StoricoConversazioniToBeCreated</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getAttachment</name>
        <label>getAttachment</label>
        <locationX>176</locationX>
        <locationY>2222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>forAttachment</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>In</operator>
            <value>
                <elementReference>listaEmailMessageId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Attachment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCaseData</name>
        <label>getCaseData</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sbiancaId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getChatVisitors</name>
        <label>getChatVisitors</label>
        <locationX>264</locationX>
        <locationY>3686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setLiveChatVisitors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forLiveChatTranscripts.LiveChatVisitor.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LiveChatVisitor</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCommunicationsToCustomer</name>
        <label>getCommunicationsToCustomer</label>
        <locationX>176</locationX>
        <locationY>5150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>forCommunicationsToCustomer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Communications_to_customer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContentDocumentLink</name>
        <label>getContentDocumentLink</label>
        <locationX>176</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>forContentDocumentLink</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LinkedEntityId</field>
            <operator>In</operator>
            <value>
                <elementReference>listaEmailMessageId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEmailMessage</name>
        <label>getEmailMessage</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>forEmailMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailMessage</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getLiveChatTranscripts</name>
        <label>getLiveChatTranscripts</label>
        <locationX>176</locationX>
        <locationY>3470</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>forLiveChatTranscripts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LiveChatTranscript</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getStoricoChiamate</name>
        <label>getStoricoChiamate</label>
        <locationX>176</locationX>
        <locationY>4526</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>forStoricoChiamate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Storico_Chiamate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getStoricoConversazioni</name>
        <label>getStoricoConversazioni</label>
        <locationX>176</locationX>
        <locationY>2846</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>forStoricoConversazioni</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Connected_case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Storico_conversazioni__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCaseData</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>creaCase</name>
        <label>creaCase</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>getCloneId</targetReference>
        </connector>
        <flowName>subCreateCase</flowName>
        <inputAssignments>
            <name>case</name>
            <value>
                <elementReference>getCaseData</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>caseToBeCreate</assignToReference>
            <name>case</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AttachmentToBeCreated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attachment</objectType>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseIdNew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseToBeCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CommunicationToCustomerToBeCreated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Communications_to_customer__c</objectType>
    </variables>
    <variables>
        <name>ContentDocumentLinkToBeCreated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>duplicateCaseData</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>emailMessageToBeCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>listaEmailMessageId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LiveChatTranscriptToBeCreated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
    <variables>
        <name>LiveChatVisitorsId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LiveChatVisitorToBeInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LiveChatVisitor</objectType>
    </variables>
    <variables>
        <name>newCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StoricoChiamateToBeCreated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Storico_Chiamate__c</objectType>
    </variables>
    <variables>
        <name>StoricoConversazioniToBeCreated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Storico_conversazioni__c</objectType>
    </variables>
</Flow>
