force-app/main/default/flows/Crea_Questionario_IP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>setErrorMessage_1</name>
        <label>setErrorMessage_1</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>titolo</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Errore</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messaggio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Impossibile trovare RecordTypeId del questionario &quot;Perizia&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variante</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>error</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>setErrorMessage_2</name>
        <label>setErrorMessage_2</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>titolo</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Errore</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messaggio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Impossibile trovare CaseId </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variante</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>error</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>setErrorMessage_3</name>
        <label>setErrorMessage_3</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>titolo</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Errore</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messaggio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Impossibile trovare il questionario associato al Case</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variante</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>error</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>setErrorMessage_4</name>
        <label>setErrorMessage_4</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>titolo</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Errore</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messaggio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Il questionario è già stato creato</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variante</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>error</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>setErrorMessage_5</name>
        <label>setErrorMessage_5</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>titolo</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Errore</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messaggio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variante</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>error</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>setSuccessMessage_1</name>
        <label>setSuccessMessage_1</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>titolo</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Questionario creato</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messaggio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Questionario creato con successo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variante</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>success</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>creaQuestionario</name>
        <label>creaQuestionario</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>pageBlank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non creare</defaultConnectorLabel>
        <rules>
            <name>Crea</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getQuestionario</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Crea_Questionario</targetReference>
            </connector>
            <label>Crea</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>vediQuestionario</name>
        <dataType>String</dataType>
        <expression>&quot;Il questionario è stato creato con successo. Vedi &lt;a href=&apos;/&quot; &amp; {!questionarioId} &amp; &quot;&apos;target=&apos;_blank&apos;&gt;Questionario&lt;/a&gt;.&quot;</expression>
    </formulas>
    <interviewLabel>Crea Questionario IP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crea Questionario IP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createQuestionario</name>
        <label>createQuestionario</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>setSuccessMessage_1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>setErrorMessage_5</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Allegati_perito__c</field>
            <value>
                <elementReference>Allegati</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cellulare_intestatario__c</field>
            <value>
                <elementReference>Cellulare_Intestatario.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cognome_Contraente__c</field>
            <value>
                <elementReference>Cognome_contraente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Contraente__c</field>
            <value>
                <elementReference>Mail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Esito_valutazione__c</field>
            <value>
                <elementReference>Esito_valutazione</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intestatario_diverso_da_contraente__c</field>
            <value>
                <elementReference>Intestatario_diverso_da_Contraente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_contraente__c</field>
            <value>
                <elementReference>Nome_contraente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nominativo_intestatario__c</field>
            <value>
                <elementReference>Nominativo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_Cellulare_Contraente__c</field>
            <value>
                <elementReference>Cellulare.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getRecordTypeQuestionario.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telefono_intestatario__c</field>
            <value>
                <elementReference>Telefono.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>importo_valutazione__c</field>
            <value>
                <elementReference>Importo_valutazione</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>mail_perito__c</field>
            <value>
                <elementReference>Mail_perito.value</elementReference>
            </value>
        </inputAssignments>
        <object>Questionario_CA__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getCase</name>
        <label>getCase</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getQuestionario</targetReference>
        </connector>
        <faultConnector>
            <targetReference>setErrorMessage_2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQuestionario</name>
        <label>getQuestionario</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>creaQuestionario</targetReference>
        </connector>
        <faultConnector>
            <targetReference>setErrorMessage_3</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Questionario_CA__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecordTypeQuestionario</name>
        <label>getRecordTypeQuestionario</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCase</targetReference>
        </connector>
        <faultConnector>
            <targetReference>setErrorMessage_1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Perizia</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>pageBlank</name>
        <label>pageBlank</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>setErrorMessage_4</targetReference>
        </connector>
        <fields>
            <name>nextEvent</name>
            <extensionName>c:flowNextEventComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Crea_Questionario</name>
        <label>Screen Crea Questionario</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>createQuestionario</targetReference>
        </connector>
        <fields>
            <name>Dati_anagrafici_Contraente_IMPRESA</name>
            <fieldText>Dati anagrafici &quot;Contraente IMPRESA&quot;</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dati_anagrafici_Contraente_IMPRESA_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nome_contraente</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getCase.Account.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>Nome contraente</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Cellulare</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Cellulare</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>getQuestionario.Numero_Cellulare_Contraente__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>^(\+|00)\d{2}\d{9,10}$</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Intestatario_diverso_da_Contraente</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Intestatario diverso da Contraente</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dati_anagrafici_Contraente_IMPRESA_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cognome_contraente</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getCase.Account.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Cognome contraente</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Mail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mail</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>email@example.com</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>getCase.Account.MC_MainEmail__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Dati_anagrafici_Intestatario_al_PRA_IMPRESA</name>
            <fieldText>Dati anagrafici &quot;Intestatario al PRA IMPRESA&quot;</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dati_anagrafici_Intestatario_al_PRA_IMPRESA_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nominativo</name>
                    <dataType>String</dataType>
                    <fieldText>Nominativo</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Cellulare_Intestatario</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Cellulare</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>^(\+|00)\d{2}\d{9,10}$</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dati_anagrafici_Intestatario_al_PRA_IMPRESA_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Telefono</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Telefono</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Intestatario_diverso_da_Contraente</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Dati_Incarico</name>
            <fieldText>Dati Incarico</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dati_Incarico_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mail_perito</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mail perito</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Dati_perizia</name>
            <fieldText>Dati perizia</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dati_perizia_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Importo_valutazione</name>
                    <dataType>Currency</dataType>
                    <fieldText>Importo valutazione</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Note</name>
                    <fieldText>Note</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dati_perizia_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Esito_valutazione</name>
                    <dataType>String</dataType>
                    <fieldText>Esito valutazione</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Allegati</name>
                    <dataType>String</dataType>
                    <fieldText>Allegati</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Crea questionario</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRecordTypeQuestionario</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>messaggio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>questionario_record_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&quot;Perizia&quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>questionarioId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>getQuestionario.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>titolo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>variante</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
