force-app/main/default/flows/Create_Record_Feedback_from_Voice_Call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <description>Una volta compilata la survey dopo una chiamata, viene creato un nuovo record di Feedback__c che riprende i valori inseriti</description>
    <formulas>
        <description>Casting da testo a number</description>
        <name>Rating1Number</name>
        <dataType>Number</dataType>
        <expression>IF(
 {!$Record.Rating1__c} != &apos;null&apos;,
 VALUE({!$Record.Rating1__c}),
 null
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Rating2Number</name>
        <dataType>Number</dataType>
        <expression>IF(
 {!$Record.Rating2__c} != &apos;null&apos;,
 VALUE({!$Record.Rating2__c}),
 null
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Rating3Number</name>
        <dataType>Number</dataType>
        <expression>IF(
 {!$Record.Rating3__c} != &apos;null&apos;,
 VALUE({!$Record.Rating3__c}),
 null
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Rating4Number</name>
        <dataType>Number</dataType>
        <expression>IF(
 {!$Record.Rating4__c} != &apos;null&apos;,
 VALUE({!$Record.Rating4__c}),
 null
)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Create Record Feedback from Voice Call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Record Feedback from Voice Call</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Feedback</name>
        <label>Create Feedback</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Complaint__c</field>
            <value>
                <elementReference>$Record.RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FeedbackComments__c</field>
            <value>
                <elementReference>$Record.FeedbackComments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating1__c</field>
            <value>
                <elementReference>Rating1Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating2__c</field>
            <value>
                <elementReference>Rating2Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating3__c</field>
            <value>
                <elementReference>Rating3Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating4__c</field>
            <value>
                <elementReference>Rating4Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>PhoneSurveyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Origin__c</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Voice_Call__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Feedback__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetID_Phone_Survey</name>
        <label>GetIDPhoneSurvey</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Feedback</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Feedback__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PhoneSurvey</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PhoneSurveyID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetID_Phone_Survey</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Survey_Enable__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>True</stringValue>
            </value>
        </filters>
        <object>VoiceCall</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FeedbackToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Feedback__c</objectType>
    </variables>
    <variables>
        <name>PhoneSurveyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
