force-app/main/default/flows/Create_Article_Feedback_From_TASK.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <interviewLabel>Create Article Feedback From TASK {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Article Feedback From TASK</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Article_Feedback</name>
        <label>Create Article Feedback</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Delete_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>Article__c</field>
            <value>
                <elementReference>GetTask.TECH_ArticleVersionId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feedback_Reason__c</field>
            <value>
                <elementReference>GetTask.TECH_ArticleFeedbackReason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feedback_Source__c</field>
            <value>
                <elementReference>GetTask.TECH_ArticleFeedbackSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feedback_Vote_Description__c</field>
            <value>
                <elementReference>GetTask.TECH_ArticleFeedbackDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Thumb_Vote__c</field>
            <value>
                <elementReference>GetTask.TECH_ArticleFeedbackVote__c</elementReference>
            </value>
        </inputAssignments>
        <object>Article_Feedback__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Task</name>
        <label>Delete Task</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <inputReference>GetTask</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetTask</name>
        <label>GetTask</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Article_Feedback</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getTaskRT.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTaskRT</name>
        <label>getTaskRT</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ArticleFeedbackTask</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getTaskRT</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
