force-app/main/default/flows/Create_Case_AXA_Caring_from_Voice_Call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Skip_trigger_Logic</name>
        <label>Skip trigger Logic</label>
        <locationX>1942</locationX>
        <locationY>647</locationY>
        <actionName>CaseHandlerOffTriggerInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Team_case_Map</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>CaseHandlerOffTriggerInvocable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_for_Matched_Role</name>
        <label>Assign for Matched Role</label>
        <locationX>1810</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>ProfileDevname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Team_case_Map.Ruolo_Team_Member__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Team_Member_Role</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Skip_Trigger</name>
        <label>Check if Skip Trigger</label>
        <locationX>2096</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Skip_trigger</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Metadata.Use_Logic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Metadata</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Metadata.TECH_Queue_Destination__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.TECH_Queue_Destination__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Skip_trigger_Logic</targetReference>
            </connector>
            <label>Skip trigger</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Queue</name>
        <label>Check Queue</label>
        <locationX>2096</locationX>
        <locationY>1355</locationY>
        <defaultConnectorLabel>Nulla</defaultConnectorLabel>
        <rules>
            <name>Banca_PIC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TECH_Queue_Destination__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AXA Caring Banca PIC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_Banca_PIC</targetReference>
            </connector>
            <label>Banca PIC</label>
        </rules>
        <rules>
            <name>Banca_Info</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TECH_Queue_Destination__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AXA Caring Banca Info</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_Banca_Info</targetReference>
            </connector>
            <label>Banca Info</label>
        </rules>
        <rules>
            <name>Clienti_AAI_Info</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TECH_Queue_Destination__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AXA Caring Clienti AAI Info</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_Clienti_AAI_Info</targetReference>
            </connector>
            <label>Clienti AAI Info</label>
        </rules>
        <rules>
            <name>Clienti_AAI_PIC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TECH_Queue_Destination__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AXA Caring Clienti AAI PIC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_Clienti_AAI_PIC</targetReference>
            </connector>
            <label>Clienti AAI PIC</label>
        </rules>
        <rules>
            <name>Prenotazione_PIC_Voice_Bot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TECH_Queue_Destination__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salute AAI PIC Bot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Bot_Queue</targetReference>
            </connector>
            <label>Prenotazione PIC Voice Bot</label>
        </rules>
        <rules>
            <name>Dipendenti_PIC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TECH_Queue_Destination__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AXA Caring Dipendenti PIC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_Dipendenti_PIC</targetReference>
            </connector>
            <label>Dipendenti PIC</label>
        </rules>
        <rules>
            <name>Dipendenti_Info</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TECH_Queue_Destination__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AXA Caring Dipendenti Info</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_Dipendenti_Info</targetReference>
            </connector>
            <label>Dipendenti Info</label>
        </rules>
        <rules>
            <name>Medical_Concierge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TECH_Queue_Destination__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AXA Caring Medical Concierge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_Medical_Concierge</targetReference>
            </connector>
            <label>Medical Concierge</label>
        </rules>
        <rules>
            <name>Centri_Convenzionati</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TECH_Queue_Destination__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AXA Caring Centri Convenzionati</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_Centri_Convenzionati</targetReference>
            </connector>
            <label>Centri Convenzionati</label>
        </rules>
        <rules>
            <name>Agenti_AXA_Caring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TECH_Queue_Destination__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HD1 VOICE AGENTI AXA CARING</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_Agenti_AXA_Caring</targetReference>
            </connector>
            <label>Agenti AXA Caring</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Team_member_map</name>
        <label>Check Team member map</label>
        <locationX>1942</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Get_Team_Member_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Record_matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Team_case_Map</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_for_Matched_Role</targetReference>
            </connector>
            <label>Is Record matched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Choice_to_create_MT_Banca_Info</name>
        <label>Choice to create MT Banca Info</label>
        <locationX>622</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Set_Voice_Call_RelatedRecordID_Banca_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Choice_to_create_MT_Bc_Info</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Metadata.Use_Logic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Metadata</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Work_Time_Banca_Info</targetReference>
            </connector>
            <label>Choice to create MT Bc Info</label>
        </rules>
    </decisions>
    <decisions>
        <name>Choice_to_create_MT_Banca_Pic</name>
        <label>Choice to create MT Banca Pic</label>
        <locationX>182</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Set_Voice_Call_RelatedRecordID_Banca_PIC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Choice_to_create_MT_Bc_Pic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Metadata.Use_Logic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Metadata</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Work_Time_Banca_Pic</targetReference>
            </connector>
            <label>Choice to create MT Bc Pic</label>
        </rules>
    </decisions>
    <decisions>
        <name>Choice_to_create_MT_Centri_Convenzionati</name>
        <label>Choice to create MT Centri Convenzionati</label>
        <locationX>3262</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Set_Voice_Call_RelatedRecordID_Centri_Convenzionati</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Choice_to_create_MT_CC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Metadata.Use_Logic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Metadata</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Work_Time_Centri_Convenzioanti</targetReference>
            </connector>
            <label>Choice to create MT CC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Choice_to_create_MT_Clienti_Info</name>
        <label>Choice to create MT Clienti Info</label>
        <locationX>1062</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Set_Voice_Call_RelatedRecordID_Clienti_AAI_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Choice_to_create_MT_Cli_Info</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Metadata.Use_Logic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Metadata</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Work_Time_Clienti_Info</targetReference>
            </connector>
            <label>Choice to create MT Cli Info</label>
        </rules>
    </decisions>
    <decisions>
        <name>Choice_to_create_MT_Clienti_Pic</name>
        <label>Choice to create MT Clienti Pic</label>
        <locationX>1502</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Set_Voice_Call_RelatedRecordID_Clienti_AAI_PIC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Choice_to_create_MT_Cli_Pic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Metadata.Use_Logic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Metadata</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Work_Time_Clienti_Pic</targetReference>
            </connector>
            <label>Choice to create MT Cli Pic</label>
        </rules>
    </decisions>
    <decisions>
        <name>Choice_to_create_MT_Concierge</name>
        <label>Choice to create MT Concierge</label>
        <locationX>2822</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Set_Voice_Call_RelatedRecordID_Medical_Concierge</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Choice_to_create_MT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Metadata.Use_Logic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Metadata</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Work_Time_Concierge</targetReference>
            </connector>
            <label>Choice to create MT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Choice_to_create_MT_Dipendenti_Info</name>
        <label>Choice to create MT Dipendenti Info</label>
        <locationX>2382</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Set_Voice_Call_RelatedRecordID_Dipendenti_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Choice_to_create_MT_Dip_Info</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Metadata.Use_Logic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Metadata</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Work_Time_Dipendenti_Info</targetReference>
            </connector>
            <label>Choice to create MT Dip Info</label>
        </rules>
    </decisions>
    <decisions>
        <name>Choice_to_create_MT_Dipendenti_Pic</name>
        <label>Choice to create MT Dipendenti Pic</label>
        <locationX>1942</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Set_Voice_Call_RelatedRecordID_Dipendenti_PIC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Choice_to_create_MT_Dip_Pic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Metadata.Use_Logic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Metadata</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Work_Time_Dipendenti_Pic</targetReference>
            </connector>
            <label>Choice to create MT Dip Pic</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Choice_to_create_MT_Agenti</name>
        <label>Choice to create MT Agenti</label>
        <locationX>3702</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Set_Voice_Call_RelatedRecordID_Agenti_AXA_Caring</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Choice_to_create_MT_Agenti</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Metadata.Use_Logic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Metadata</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Work_Time_Agenti</targetReference>
            </connector>
            <label>Choice to create MT Agenti</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FromNumber</name>
        <dataType>String</dataType>
        <expression>IF( BEGINS( {!$Record.FromPhoneNumber}, &apos;+39&apos; ), TRIM(RIGHT({!$Record.FromPhoneNumber}, LEN({!$Record.FromPhoneNumber})-3 )),{!$Record.FromPhoneNumber})</expression>
    </formulas>
    <formulas>
        <name>NameCaseOwner</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner:User.FirstName} +&apos; &apos;+ {!$Record.Owner:User.LastName}</expression>
    </formulas>
    <formulas>
        <name>Origin</name>
        <dataType>String</dataType>
        <expression>IF(
AND(
ISCHANGED({!$Record.Transcription__c}),
NOT(ISBLANK({!$Record.Transcription__c}))
),
&apos;Telefono STT&apos;,
&apos;Phone&apos;
)</expression>
    </formulas>
    <interviewLabel>Create Case AXA Caring from Voice Call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Case AXA Caring or Voice Bot from Voice Call</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Case_Clienti_AAI_PIC</name>
        <label>Copy 1 of Create Case Clienti AAI PIC</label>
        <locationX>1810</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>Copy_1_of_Set_Voice_Call_RelatedRecordID_Clienti_AAI_PIC</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseMilestone_StartDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Team_Members_Role__c</field>
            <value>
                <stringValue>HD1 Generico;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Presa in carico Diretta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complainant__c</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Owner_Queue__c</field>
            <value>
                <stringValue>Caring_Salute_HD1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribution_Network__c</field>
            <value>
                <stringValue>Axa Assicurazioni</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_Category__c</field>
            <value>
                <stringValue>Presa in carico Diretta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_LOB__c</field>
            <value>
                <stringValue>Sinistri Salute</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOB__c</field>
            <value>
                <stringValue>Sinistri Salute</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Status_Change__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Telefono Voice Bot</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Bot_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLAHours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLATaskHours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedPhone</field>
            <value>
                <elementReference>$Record.Numero_Ricontatto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_LastHD1Queue__c</field>
            <value>
                <stringValue>Caring_Salute_HD1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_LastModifiedDateStatus__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_SLAHours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_With_Agent__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_for_Applicative_activities__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_Agenti_AXA_Caring</name>
        <label>Create Case Agenti AXA Caring</label>
        <locationX>3702</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Copy_1_of_Choice_to_create_MT_Agenti</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseMilestone_StartDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Team_Members_Role__c</field>
            <value>
                <stringValue>HD1 Generico;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Informazione generica</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complainant__c</field>
            <value>
                <stringValue>Agente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Owner_Queue__c</field>
            <value>
                <stringValue>Caring_Salute_HD1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribution_Network__c</field>
            <value>
                <stringValue>Axa Assicurazioni</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_Category__c</field>
            <value>
                <stringValue>Informazione generica</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_LOB__c</field>
            <value>
                <stringValue>Sinistri Salute</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOB__c</field>
            <value>
                <stringValue>Sinistri Salute</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Status_Change__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLAHours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLATaskHours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_FirstHD1Agent__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_LastHD1Queue__c</field>
            <value>
                <stringValue>Caring_Salute_HD1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_LastModifiedDateStatus__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_SLAHours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_With_Agent__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_for_Applicative_activities__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_Banca_Info</name>
        <label>Create Case Banca Info</label>
        <locationX>622</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Choice_to_create_MT_Banca_Info</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseMilestone_StartDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Team_Members_Role__c</field>
            <value>
                <stringValue>HD1 Generico;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Informazione generica</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complainant__c</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Owner_Queue__c</field>
            <value>
                <stringValue>Caring_Salute_HD1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribution_Network__c</field>
            <value>
                <stringValue>MPS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_Category__c</field>
            <value>
                <stringValue>Informazione generica</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_LOB__c</field>
            <value>
                <stringValue>Sinistri Salute</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOB__c</field>
            <value>
                <stringValue>Sinistri Salute</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Status_Change__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLAHours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLATaskHours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_FirstHD1Agent__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_LastHD1Queue__c</field>
            <value>
                <stringValue>Caring_Salute_HD1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_LastModifiedDateStatus__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_SLAHours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_With_Agent__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_for_Applicative_activities__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_Banca_PIC</name>
        <label>Create Case Banca PIC</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Choice_to_create_MT_Banca_Pic</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseMilestone_StartDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Team_Members_Role__c</field>
            <value>
                <stringValue>HD1 Generico;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Presa in carico Diretta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complainant__c</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Owner_Queue__c</field>
            <value>
                <stringValue>Caring_Salute_HD1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribution_Network__c</field>
            <value>
                <stringValue>MPS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_Category__c</field>
            <value>
                <stringValue>Presa in carico Diretta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_LOB__c</field>
            <value>
                <stringValue>Sinistri Salute</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOB__c</field>
            <value>
                <stringValue>Sinistri Salute</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Status_Change__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLAHours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLATaskHours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_FirstHD1Agent__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_LastHD1Queue__c</field>
            <value>
                <stringValue>Caring_Salute_HD1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_LastModifiedDateStatus__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_SLAHours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_With_Agent__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_for_Applicative_activities__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_Centri_Convenzionati</name>
        <label>Create Case Centri Convenzionati</label>
        <locationX>3262</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Choice_to_create_MT_Centri_Convenzionati</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseMilestone_StartDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Team_Members_Role__c</field>
            <value>
                <stringValue>HD1 Generico;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Informazione generica</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complainant__c</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Owner_Queue__c</field>
            <value>
                <stringValue>Caring_Salute_HD1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_Category__c</field>
            <value>
                <stringValue>Informazione generica</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_LOB__c</field>
            <value>
                <stringValue>Sinistri Salute</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOB__c</field>
            <value>
                <stringValue>Sinistri Salute</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Status_Change__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLAHours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLATaskHours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_FirstHD1Agent__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_LastHD1Queue__c</field>
            <value>
                <stringValue>Caring_Salute_HD1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_LastModifiedDateStatus__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_SLAHours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_With_Agent__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_for_Applicative_activities__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_Clienti_AAI_Info</name>
        <label>Create Case Clienti AAI Info</label>
        <locationX>1062</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Choice_to_create_MT_Clienti_Info</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseMilestone_StartDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Team_Members_Role__c</field>
            <value>
                <stringValue>HD1 Generico;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Informazione generica</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complainant__c</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Owner_Queue__c</field>
            <value>
                <stringValue>Caring_Salute_HD1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribution_Network__c</field>
            <value>
                <stringValue>Axa Assicurazioni</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_Category__c</field>
            <value>
                <stringValue>Informazione generica</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_LOB__c</field>
            <value>
                <stringValue>Sinistri Salute</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOB__c</field>
            <value>
                <stringValue>Sinistri Salute</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Status_Change__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLAHours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLATaskHours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_FirstHD1Agent__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_LastHD1Queue__c</field>
            <value>
                <stringValue>Caring_Salute_HD1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_LastModifiedDateStatus__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_SLAHours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_With_Agent__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_for_Applicative_activities__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_Clienti_AAI_PIC</name>
        <label>Create Case Clienti AAI PIC</label>
        <locationX>1502</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Choice_to_create_MT_Clienti_Pic</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseMilestone_StartDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Team_Members_Role__c</field>
            <value>
                <stringValue>HD1 Generico;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Presa in carico Diretta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complainant__c</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Owner_Queue__c</field>
            <value>
                <stringValue>Caring_Salute_HD1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribution_Network__c</field>
            <value>
                <stringValue>Axa Assicurazioni</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_Category__c</field>
            <value>
                <stringValue>Presa in carico Diretta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_LOB__c</field>
            <value>
                <stringValue>Sinistri Salute</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOB__c</field>
            <value>
                <stringValue>Sinistri Salute</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Status_Change__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLAHours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLATaskHours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_FirstHD1Agent__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_LastHD1Queue__c</field>
            <value>
                <stringValue>Caring_Salute_HD1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_LastModifiedDateStatus__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_SLAHours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_With_Agent__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_for_Applicative_activities__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_Dipendenti_Info</name>
        <label>Create Case Dipendenti Info</label>
        <locationX>2382</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Choice_to_create_MT_Dipendenti_Info</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseMilestone_StartDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Team_Members_Role__c</field>
            <value>
                <stringValue>HD1 Generico;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Informazione generica</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complainant__c</field>
            <value>
                <stringValue>Dipendente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Owner_Queue__c</field>
            <value>
                <stringValue>Caring_Salute_HD1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_Category__c</field>
            <value>
                <stringValue>Informazione generica</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_LOB__c</field>
            <value>
                <stringValue>Sinistri Salute</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOB__c</field>
            <value>
                <stringValue>Sinistri Salute</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Status_Change__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLAHours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLATaskHours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_FirstHD1Agent__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_LastHD1Queue__c</field>
            <value>
                <stringValue>Caring_Salute_HD1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_LastModifiedDateStatus__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_SLAHours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_With_Agent__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_for_Applicative_activities__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_Dipendenti_PIC</name>
        <label>Create Case Dipendenti PIC</label>
        <locationX>1942</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Choice_to_create_MT_Dipendenti_Pic</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseMilestone_StartDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Team_Members_Role__c</field>
            <value>
                <stringValue>HD1 Generico;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Presa in carico Diretta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complainant__c</field>
            <value>
                <stringValue>Dipendente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Owner_Queue__c</field>
            <value>
                <stringValue>Caring_Salute_HD1_Dipendente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_Category__c</field>
            <value>
                <stringValue>Presa in carico Diretta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_LOB__c</field>
            <value>
                <stringValue>Sinistri Salute</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOB__c</field>
            <value>
                <stringValue>Sinistri Salute</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Status_Change__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLAHours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLATaskHours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubCategory__c</field>
            <value>
                <stringValue>Dipendente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_FirstHD1Agent__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_LastHD1Queue__c</field>
            <value>
                <stringValue>Caring_Salute_HD1_Dipendente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_LastModifiedDateStatus__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_SLAHours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_With_Agent__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_for_Applicative_activities__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_Medical_Concierge</name>
        <label>Create Case Medical Concierge</label>
        <locationX>2822</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Choice_to_create_MT_Concierge</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseMilestone_StartDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Team_Members_Role__c</field>
            <value>
                <stringValue>HD1 Generico;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Richiesta prenotazione DHP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complainant__c</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Owner_Queue__c</field>
            <value>
                <stringValue>Caring_Salute_HD1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_Category__c</field>
            <value>
                <stringValue>Richiesta prenotazione DHP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_LOB__c</field>
            <value>
                <stringValue>Sinistri Salute</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOB__c</field>
            <value>
                <stringValue>Sinistri Salute</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Status_Change__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLAHours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLATaskHours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_FirstHD1Agent__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_LastHD1Queue__c</field>
            <value>
                <stringValue>Caring_Salute_HD1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_LastModifiedDateStatus__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_SLAHours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_With_Agent__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_for_Applicative_activities__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Milestone_Tracking_Agenti</name>
        <label>Create Milestone Tracking Agenti</label>
        <locationX>3570</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Create_Team_Case_Agenti</targetReference>
        </connector>
        <inputAssignments>
            <field>Activity__c</field>
            <value>
                <stringValue>Case Creato</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseFieldToUpdate__c</field>
            <value>
                <stringValue>Time_With_Support__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseStatus__c</field>
            <value>
                <stringValue>Chiuso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Last_Modified_By__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Name__c</field>
            <value>
                <elementReference>NameCaseOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Case_Agenti_AXA_Caring</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gruppo_di_lavoro__c</field>
            <value>
                <stringValue>Caring Salute HD1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeWorkingItem__c</field>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SupportStartDate__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserProfile__c</field>
            <value>
                <stringValue>HD1 Generico</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserRole__c</field>
            <value>
                <elementReference>$Record.Owner:User.UserRole.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Working_Time__c</field>
            <value>
                <elementReference>Create_Work_Time_Agenti</elementReference>
            </value>
        </inputAssignments>
        <object>Milestone_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Milestone_Tracking_Banca_Info</name>
        <label>Create Milestone Tracking Banca Info</label>
        <locationX>490</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Create_Team_Case_Banca_Info</targetReference>
        </connector>
        <inputAssignments>
            <field>Activity__c</field>
            <value>
                <stringValue>Case Creato</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseFieldToUpdate__c</field>
            <value>
                <stringValue>Time_With_Support__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseStatus__c</field>
            <value>
                <stringValue>Chiuso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Last_Modified_By__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Name__c</field>
            <value>
                <elementReference>NameCaseOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Case_Banca_Info</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gruppo_di_lavoro__c</field>
            <value>
                <stringValue>Caring Salute HD1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeWorkingItem__c</field>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SupportStartDate__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserProfile__c</field>
            <value>
                <stringValue>HD1 Generico</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserRole__c</field>
            <value>
                <elementReference>$Record.Owner:User.UserRole.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Working_Time__c</field>
            <value>
                <elementReference>Create_Work_Time_Banca_Info</elementReference>
            </value>
        </inputAssignments>
        <object>Milestone_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Milestone_Tracking_Banca_Pic</name>
        <label>Create Milestone Tracking Banca Pic</label>
        <locationX>50</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Create_Team_Case_Banca_Pic</targetReference>
        </connector>
        <inputAssignments>
            <field>Activity__c</field>
            <value>
                <stringValue>Case Creato</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseFieldToUpdate__c</field>
            <value>
                <stringValue>Time_With_Support__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseStatus__c</field>
            <value>
                <stringValue>Preso in carico</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Last_Modified_By__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Name__c</field>
            <value>
                <elementReference>NameCaseOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Case_Banca_PIC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gruppo_di_lavoro__c</field>
            <value>
                <stringValue>Caring Salute HD1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeWorkingItem__c</field>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SupportStartDate__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserProfile__c</field>
            <value>
                <stringValue>HD1 Generico</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserRole__c</field>
            <value>
                <elementReference>$Record.Owner:User.UserRole.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Working_Time__c</field>
            <value>
                <elementReference>Create_Work_Time_Banca_Pic</elementReference>
            </value>
        </inputAssignments>
        <object>Milestone_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Milestone_Tracking_Centri_Convenzionati</name>
        <label>Create Milestone Tracking Centri Convenzionati</label>
        <locationX>3130</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Create_Team_Case_Centri_Convenzionati</targetReference>
        </connector>
        <inputAssignments>
            <field>Activity__c</field>
            <value>
                <stringValue>Case Creato</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseFieldToUpdate__c</field>
            <value>
                <stringValue>Time_With_Support__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseStatus__c</field>
            <value>
                <stringValue>Chiuso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Last_Modified_By__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Name__c</field>
            <value>
                <elementReference>NameCaseOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Case_Centri_Convenzionati</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gruppo_di_lavoro__c</field>
            <value>
                <stringValue>Caring Salute HD1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeWorkingItem__c</field>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SupportStartDate__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserProfile__c</field>
            <value>
                <stringValue>HD1 Generico</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserRole__c</field>
            <value>
                <elementReference>$Record.Owner:User.UserRole.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Working_Time__c</field>
            <value>
                <elementReference>Create_Work_Time_Centri_Convenzioanti</elementReference>
            </value>
        </inputAssignments>
        <object>Milestone_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Milestone_Tracking_Clienti_Info</name>
        <label>Create Milestone Tracking Clienti Info</label>
        <locationX>930</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Create_Team_Case_Clienti_Info</targetReference>
        </connector>
        <inputAssignments>
            <field>Activity__c</field>
            <value>
                <stringValue>Case Creato</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseFieldToUpdate__c</field>
            <value>
                <stringValue>Time_With_Support__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseStatus__c</field>
            <value>
                <stringValue>Chiuso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Last_Modified_By__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Name__c</field>
            <value>
                <elementReference>NameCaseOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Case_Clienti_AAI_Info</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gruppo_di_lavoro__c</field>
            <value>
                <stringValue>Caring Salute HD1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeWorkingItem__c</field>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SupportStartDate__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserProfile__c</field>
            <value>
                <stringValue>HD1 Generico</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserRole__c</field>
            <value>
                <elementReference>$Record.Owner:User.UserRole.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Working_Time__c</field>
            <value>
                <elementReference>Create_Work_Time_Clienti_Info</elementReference>
            </value>
        </inputAssignments>
        <object>Milestone_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Milestone_Tracking_Clienti_Pic</name>
        <label>Create Milestone Tracking Clienti Pic</label>
        <locationX>1370</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Create_Team_Case_Clienti_Pic</targetReference>
        </connector>
        <inputAssignments>
            <field>Activity__c</field>
            <value>
                <stringValue>Case Creato</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseFieldToUpdate__c</field>
            <value>
                <stringValue>Time_With_Support__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseStatus__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Last_Modified_By__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Name__c</field>
            <value>
                <elementReference>NameCaseOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Case_Clienti_AAI_PIC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gruppo_di_lavoro__c</field>
            <value>
                <stringValue>Caring Salute HD1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeWorkingItem__c</field>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SupportStartDate__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserProfile__c</field>
            <value>
                <stringValue>HD1 Generico</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserRole__c</field>
            <value>
                <elementReference>$Record.Owner:User.UserRole.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Working_Time__c</field>
            <value>
                <elementReference>Create_Work_Time_Clienti_Pic</elementReference>
            </value>
        </inputAssignments>
        <object>Milestone_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Milestone_Tracking_Concierge</name>
        <label>Create Milestone Tracking Concierge</label>
        <locationX>2690</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Create_Team_Case_Concierge</targetReference>
        </connector>
        <inputAssignments>
            <field>Activity__c</field>
            <value>
                <stringValue>Case Creato</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseFieldToUpdate__c</field>
            <value>
                <stringValue>Time_With_Support__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseStatus__c</field>
            <value>
                <stringValue>Preso in carico</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Last_Modified_By__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Name__c</field>
            <value>
                <elementReference>NameCaseOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Case_Medical_Concierge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gruppo_di_lavoro__c</field>
            <value>
                <stringValue>Caring Salute HD1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeWorkingItem__c</field>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SupportStartDate__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserProfile__c</field>
            <value>
                <stringValue>HD1 Generico</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserRole__c</field>
            <value>
                <elementReference>$Record.Owner:User.UserRole.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Working_Time__c</field>
            <value>
                <elementReference>Create_Work_Time_Concierge</elementReference>
            </value>
        </inputAssignments>
        <object>Milestone_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Milestone_Tracking_Dipendenti_Info</name>
        <label>Create Milestone Tracking Dipendenti Info</label>
        <locationX>2250</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Create_Team_Case_Dipendenti_Info</targetReference>
        </connector>
        <inputAssignments>
            <field>Activity__c</field>
            <value>
                <stringValue>Case Creato</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseFieldToUpdate__c</field>
            <value>
                <stringValue>Time_With_Support__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseStatus__c</field>
            <value>
                <stringValue>Chiuso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Last_Modified_By__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Name__c</field>
            <value>
                <elementReference>NameCaseOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Case_Dipendenti_Info</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gruppo_di_lavoro__c</field>
            <value>
                <stringValue>Caring Salute HD1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeWorkingItem__c</field>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SupportStartDate__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserProfile__c</field>
            <value>
                <stringValue>HD1 Generico</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserRole__c</field>
            <value>
                <elementReference>$Record.Owner:User.UserRole.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Working_Time__c</field>
            <value>
                <elementReference>Create_Work_Time_Dipendenti_Info</elementReference>
            </value>
        </inputAssignments>
        <object>Milestone_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Milestone_Tracking_Dipenendenti_Pic</name>
        <label>Create Milestone Tracking Dipenendenti Pic</label>
        <locationX>1810</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Create_Team_Case_Dipendenti_Pic</targetReference>
        </connector>
        <inputAssignments>
            <field>Activity__c</field>
            <value>
                <stringValue>Case Creato</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseFieldToUpdate__c</field>
            <value>
                <stringValue>Time_With_Support__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseStatus__c</field>
            <value>
                <stringValue>Preso in carico</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Last_Modified_By__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Name__c</field>
            <value>
                <elementReference>NameCaseOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Case_Dipendenti_PIC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gruppo_di_lavoro__c</field>
            <value>
                <stringValue>Caring Salute HD1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeWorkingItem__c</field>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SupportStartDate__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserProfile__c</field>
            <value>
                <stringValue>HD1 Generico</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserRole__c</field>
            <value>
                <elementReference>$Record.Owner:User.UserRole.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Working_Time__c</field>
            <value>
                <elementReference>Create_Work_Time_Dipendenti_Pic</elementReference>
            </value>
        </inputAssignments>
        <object>Milestone_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Team_Case_Agenti</name>
        <label>Create Team Case Agenti</label>
        <locationX>3570</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>Set_Voice_Call_RelatedRecordID_Agenti_AXA_Caring</targetReference>
        </connector>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Create_Case_Agenti_AXA_Caring</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamRoleId</field>
            <value>
                <elementReference>Get_Team_Member_Role.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Team_Case_Banca_Info</name>
        <label>Create Team Case Banca Info</label>
        <locationX>490</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>Set_Voice_Call_RelatedRecordID_Banca_Info</targetReference>
        </connector>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Create_Case_Banca_Info</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamRoleId</field>
            <value>
                <elementReference>Get_Team_Member_Role.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Team_Case_Banca_Pic</name>
        <label>Create Team Case Banca Pic</label>
        <locationX>50</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>Set_Voice_Call_RelatedRecordID_Banca_PIC</targetReference>
        </connector>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Create_Case_Banca_PIC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamRoleId</field>
            <value>
                <elementReference>Get_Team_Member_Role.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Team_Case_Centri_Convenzionati</name>
        <label>Create Team Case Centri Convenzionati</label>
        <locationX>3130</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>Set_Voice_Call_RelatedRecordID_Centri_Convenzionati</targetReference>
        </connector>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Create_Case_Centri_Convenzionati</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamRoleId</field>
            <value>
                <elementReference>Get_Team_Member_Role.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Team_Case_Clienti_Info</name>
        <label>Create Team Case Clienti Info</label>
        <locationX>930</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>Set_Voice_Call_RelatedRecordID_Clienti_AAI_Info</targetReference>
        </connector>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Create_Case_Clienti_AAI_Info</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamRoleId</field>
            <value>
                <elementReference>Get_Team_Member_Role.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Team_Case_Clienti_Pic</name>
        <label>Create Team Case Clienti Pic</label>
        <locationX>1370</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>Set_Voice_Call_RelatedRecordID_Clienti_AAI_PIC</targetReference>
        </connector>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Create_Case_Clienti_AAI_PIC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamRoleId</field>
            <value>
                <elementReference>Get_Team_Member_Role.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Team_Case_Concierge</name>
        <label>Create Team Case Concierge</label>
        <locationX>2690</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>Set_Voice_Call_RelatedRecordID_Medical_Concierge</targetReference>
        </connector>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Create_Case_Medical_Concierge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamRoleId</field>
            <value>
                <elementReference>Get_Team_Member_Role.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Team_Case_Dipendenti_Info</name>
        <label>Create Team Case Dipendenti Info</label>
        <locationX>2250</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>Set_Voice_Call_RelatedRecordID_Dipendenti_Info</targetReference>
        </connector>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Create_Case_Dipendenti_Info</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamRoleId</field>
            <value>
                <elementReference>Get_Team_Member_Role.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Team_Case_Dipendenti_Pic</name>
        <label>Create Team Case Dipendenti Pic</label>
        <locationX>1810</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>Set_Voice_Call_RelatedRecordID_Dipendenti_PIC</targetReference>
        </connector>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Create_Case_Dipendenti_PIC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamRoleId</field>
            <value>
                <elementReference>Get_Team_Member_Role.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Time_Agenti</name>
        <label>Create Work Time Agenti</label>
        <locationX>3570</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Create_Milestone_Tracking_Agenti</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Case_Agenti_AXA_Caring</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Spent__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserProfile__c</field>
            <value>
                <stringValue>HD1 Generico</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserRole__c</field>
            <value>
                <elementReference>$Record.Owner:User.UserRole.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Working_Times__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Time_Banca_Info</name>
        <label>Create Work Time Banca Info</label>
        <locationX>490</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Create_Milestone_Tracking_Banca_Info</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Case_Banca_Info</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Spent__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserProfile__c</field>
            <value>
                <stringValue>HD1 Generico</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserRole__c</field>
            <value>
                <elementReference>$Record.Owner:User.UserRole.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Working_Times__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Time_Banca_Pic</name>
        <label>Create Work Time Banca Pic</label>
        <locationX>50</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Create_Milestone_Tracking_Banca_Pic</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Case_Banca_PIC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Spent__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserProfile__c</field>
            <value>
                <stringValue>HD1 Generico</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserRole__c</field>
            <value>
                <elementReference>$Record.Owner:User.UserRole.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Working_Times__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Time_Centri_Convenzioanti</name>
        <label>Create Work Time Centri Convenzioanti</label>
        <locationX>3130</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Create_Milestone_Tracking_Centri_Convenzionati</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Case_Centri_Convenzionati</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Spent__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserProfile__c</field>
            <value>
                <stringValue>HD1 Generico</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserRole__c</field>
            <value>
                <elementReference>$Record.Owner:User.UserRole.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Working_Times__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Time_Clienti_Info</name>
        <label>Create Work Time Clienti Info</label>
        <locationX>930</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Create_Milestone_Tracking_Clienti_Info</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Case_Clienti_AAI_Info</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Spent__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserProfile__c</field>
            <value>
                <stringValue>HD1 Generico</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserRole__c</field>
            <value>
                <elementReference>$Record.Owner:User.UserRole.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Working_Times__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Time_Clienti_Pic</name>
        <label>Create Work Time Clienti Pic</label>
        <locationX>1370</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Create_Milestone_Tracking_Clienti_Pic</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Case_Clienti_AAI_PIC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Spent__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserProfile__c</field>
            <value>
                <stringValue>HD1 Generico</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserRole__c</field>
            <value>
                <elementReference>$Record.Owner:User.UserRole.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Working_Times__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Time_Concierge</name>
        <label>Create Work Time Concierge</label>
        <locationX>2690</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Create_Milestone_Tracking_Concierge</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Case_Medical_Concierge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Spent__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserProfile__c</field>
            <value>
                <stringValue>HD1 Generico</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserRole__c</field>
            <value>
                <elementReference>$Record.Owner:User.UserRole.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Working_Times__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Time_Dipendenti_Info</name>
        <label>Create Work Time Dipendenti Info</label>
        <locationX>2250</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Create_Milestone_Tracking_Dipendenti_Info</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Case_Dipendenti_Info</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Spent__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserProfile__c</field>
            <value>
                <stringValue>HD1 Generico</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserRole__c</field>
            <value>
                <elementReference>$Record.Owner:User.UserRole.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Working_Times__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Time_Dipendenti_Pic</name>
        <label>Create Work Time Dipendenti Pic</label>
        <locationX>1810</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Create_Milestone_Tracking_Dipenendenti_Pic</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Case_Dipendenti_PIC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Spent__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserProfile__c</field>
            <value>
                <stringValue>HD1 Generico</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserRole__c</field>
            <value>
                <elementReference>$Record.Owner:User.UserRole.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Working_Times__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Bot_Queue</name>
        <label>Get Bot Queue</label>
        <locationX>1810</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Create_Case_Clienti_AAI_PIC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Salute_Presa_in_carico_BOT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Metadata</name>
        <label>Get Metadata</label>
        <locationX>2096</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Skip_Trigger</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Skip_Trigger__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Team_case_Map</name>
        <label>Get Team case Map</label>
        <locationX>1942</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Team_member_map</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Profilo_Advisor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:User.Profile.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TeamMemberMap__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Team_Member_Role</name>
        <label>Get Team Member Role</label>
        <locationX>1942</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProfileDevname</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseTeamRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeID</name>
        <label>GetRecordTypeID</label>
        <locationX>2096</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CaseRecordType__c</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Set_Voice_Call_RelatedRecordID_Clienti_AAI_PIC</name>
        <label>Copy 1 of Set Voice Call RelatedRecordID Clienti AAI PIC</label>
        <locationX>1810</locationX>
        <locationY>1679</locationY>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>Copy_1_of_Create_Case_Clienti_AAI_PIC</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Voice_Call_RelatedRecordID_Agenti_AXA_Caring</name>
        <label>Set Voice Call RelatedRecordID Agenti AXA Caring</label>
        <locationX>3702</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Update_Status_to_Closed_Agenti_AXA_Caring</targetReference>
        </connector>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>Create_Case_Agenti_AXA_Caring</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Voice_Call_RelatedRecordID_Banca_Info</name>
        <label>Set Voice Call RelatedRecordID Banca Info</label>
        <locationX>622</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Update_Status_to_Closed_Banca_Info</targetReference>
        </connector>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>Create_Case_Banca_Info</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Voice_Call_RelatedRecordID_Banca_PIC</name>
        <label>Set Voice Call RelatedRecordID Banca PIC</label>
        <locationX>182</locationX>
        <locationY>2087</locationY>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>Create_Case_Banca_PIC</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Voice_Call_RelatedRecordID_Centri_Convenzionati</name>
        <label>Set Voice Call RelatedRecordID Centri Convenzionati</label>
        <locationX>3262</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Update_Status_to_Closed_Centri_Convenzionati</targetReference>
        </connector>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>Create_Case_Centri_Convenzionati</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Voice_Call_RelatedRecordID_Clienti_AAI_Info</name>
        <label>Set Voice Call RelatedRecordID Clienti AAI Info</label>
        <locationX>1062</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Update_Status_to_Closed_Clienti_AAI_Info</targetReference>
        </connector>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>Create_Case_Clienti_AAI_Info</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Voice_Call_RelatedRecordID_Clienti_AAI_PIC</name>
        <label>Set Voice Call RelatedRecordID Clienti AAI PIC</label>
        <locationX>1502</locationX>
        <locationY>2087</locationY>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>Create_Case_Clienti_AAI_PIC</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Voice_Call_RelatedRecordID_Dipendenti_Info</name>
        <label>Set Voice Call RelatedRecordID Dipendenti Info</label>
        <locationX>2382</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Update_Status_to_Closed_Dipendenti_Info</targetReference>
        </connector>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>Create_Case_Dipendenti_Info</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Voice_Call_RelatedRecordID_Dipendenti_PIC</name>
        <label>Set Voice Call RelatedRecordID Dipendenti PIC</label>
        <locationX>1942</locationX>
        <locationY>2087</locationY>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>Create_Case_Dipendenti_PIC</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Voice_Call_RelatedRecordID_Medical_Concierge</name>
        <label>Set Voice Call RelatedRecordID Medical Concierge</label>
        <locationX>2822</locationX>
        <locationY>2087</locationY>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>Create_Case_Medical_Concierge</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_to_Closed_Agenti_AXA_Caring</name>
        <label>Update Status to Closed Agenti AXA Caring</label>
        <locationX>3702</locationX>
        <locationY>2195</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Case_Agenti_AXA_Caring</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_to_Closed_Banca_Info</name>
        <label>Update Status to Closed Banca Info</label>
        <locationX>622</locationX>
        <locationY>2195</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Case_Banca_Info</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_to_Closed_Centri_Convenzionati</name>
        <label>Update Status to Closed Centri Convenzionati</label>
        <locationX>3262</locationX>
        <locationY>2195</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Case_Centri_Convenzionati</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_to_Closed_Clienti_AAI_Info</name>
        <label>Update Status to Closed Clienti AAI Info</label>
        <locationX>1062</locationX>
        <locationY>2195</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Case_Clienti_AAI_Info</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_to_Closed_Dipendenti_Info</name>
        <label>Update Status to Closed Dipendenti Info</label>
        <locationX>2382</locationX>
        <locationY>2195</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Case_Dipendenti_Info</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>1970</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecordTypeID</targetReference>
        </connector>
        <filterLogic>(((1 AND 2) AND (3 OR 4))) OR (5 AND 6)</filterLogic>
        <filters>
            <field>CallDisposition</field>
            <operator>Contains</operator>
            <value>
                <stringValue>in-progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>CallDisposition</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TECH_Queue_Destination__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>AXA Caring</stringValue>
            </value>
        </filters>
        <filters>
            <field>TECH_Queue_Destination__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HD1 VOICE AGENTI AXA CARING</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tech_fromBot__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tech_fromBot__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>VoiceCall</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ProfileDevname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>HD1 Generico</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
