force-app/main/default/flows/Iniziativa_Marketing_AfterUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>addListToUpdate</name>
        <label>addListToUpdate</label>
        <locationX>281</locationX>
        <locationY>714</locationY>
        <assignmentItems>
            <assignToReference>ListaAllRecordsActive</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordPivotIniziativa</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getAllActive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newRecordForupdate</name>
        <label>newRecordForupdate</label>
        <locationX>374</locationX>
        <locationY>583</locationY>
        <assignmentItems>
            <assignToReference>recordPivotIniziativa.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAllActive.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPivotIniziativa.Attiva__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPivotIniziativa.TECH_lock_record_story__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addListToUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateMessage</name>
        <label>updateMessage</label>
        <locationX>764</locationX>
        <locationY>571</locationY>
        <assignmentItems>
            <assignToReference>MessagioOUT</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non trovato </stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>isActiveOrDesactive</name>
        <label>isActiveOrDesactive</label>
        <locationX>873</locationX>
        <locationY>378</locationY>
        <defaultConnectorLabel>Desactive</defaultConnectorLabel>
        <rules>
            <name>cambiaAttivo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Attiva__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRecordsAttive</targetReference>
            </connector>
            <label>cambia Attivo</label>
        </rules>
    </decisions>
    <decisions>
        <name>recordNotFound</name>
        <label>recordNotFound</label>
        <locationX>365</locationX>
        <locationY>465</locationY>
        <defaultConnector>
            <targetReference>getAllActive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esiste al meno un record attivo</defaultConnectorLabel>
        <rules>
            <name>Non_found_record_attive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListaGetRecordsIniziali</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateMessage</targetReference>
            </connector>
            <label>Non found record attive</label>
        </rules>
    </decisions>
    <description>v1 after  update only</description>
    <environments>Default</environments>
    <interviewLabel>Iniziativa Marketing AfterUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Iniziativa Marketing AfterUpdate</label>
    <loops>
        <name>getAllActive</name>
        <label>getAllActive</label>
        <locationX>129</locationX>
        <locationY>557</locationY>
        <collectionReference>ListaGetRecordsIniziali</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>newRecordForupdate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>deactiveAllSameCodes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>il primo record attivo per codice</description>
        <name>getRecordsAttive</name>
        <label>getRecordsAttive</label>
        <locationX>574</locationX>
        <locationY>376</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recordNotFound</targetReference>
        </connector>
        <faultConnector>
            <targetReference>updateMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Communication_code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Communication_code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Attiva__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Iniziative_Marketing__c</object>
        <outputReference>ListaGetRecordsIniziali</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Attiva__c</queriedFields>
        <sortField>Versione__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>deactiveAllSameCodes</name>
        <label>deactiveAllSameCodes</label>
        <locationX>50</locationX>
        <locationY>842</locationY>
        <inputReference>ListaAllRecordsActive</inputReference>
    </recordUpdates>
    <start>
        <locationX>754</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>isActiveOrDesactive</targetReference>
        </connector>
        <object>Iniziative_Marketing__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ListaAllRecordsActive</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Iniziative_Marketing__c</objectType>
    </variables>
    <variables>
        <name>ListaGetRecordsIniziali</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Iniziative_Marketing__c</objectType>
    </variables>
    <variables>
        <description>uso per debug</description>
        <name>MessagioOUT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordIDsameCodeAttivo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordPivotIniziativa</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Iniziative_Marketing__c</objectType>
    </variables>
</Flow>
