force-app/main/default/flows/Iniziative_Marketing_Testing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assegnaValoreGiusto</name>
        <label>assegnaValoreGiusto</label>
        <locationX>50</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>finalProcessSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>REMOTEPAYMENT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>callerForTesting</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DAOL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignCommtoCustm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assegnaValoreGiusto_0</name>
        <label>assegnaValoreGiusto</label>
        <locationX>314</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>finalProcessSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AREA PREVENTIVI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>callerForTesting</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DAOL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignCommtoCustm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assegnaValoreGiusto_0_0</name>
        <label>assegnaValoreGiusto</label>
        <locationX>578</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>finalProcessSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MENSILIZZAZIONE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>callerForTesting</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DAOL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignCommtoCustm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assegnaValoreGiusto_0_0_0</name>
        <label>assegnaValoreGiusto</label>
        <locationX>842</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>finalProcessSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RINNOVI AAI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>callerForTesting</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DAOL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignCommtoCustm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assegnaValoreGiusto_0_0_0_0</name>
        <label>assegnaValoreGiusto</label>
        <locationX>1106</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>finalProcessSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RINNOVI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>callerForTesting</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DAOL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignCommtoCustm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCommtoCustm</name>
        <label>assignCommtoCustm</label>
        <locationX>710</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>InsertCommToCustomer.AccountId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountIDforTest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsertCommToCustomer.Communication_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordIniziativeOLD.Communication_code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsertCommToCustomer.Notification_Typology__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsertCommToCustomer.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordTypeIdChoose</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsertCommToCustomer.Communication_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Communication_DescriptionCambia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsertCommToCustomer.Insurance_Contract_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PolizzaCambia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsertCommToCustomer.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsertCommToCustomer.Caller__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>callerForTesting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsertCommToCustomer.Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>finalProcessSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsertCommToCustomer.Letto_Non_Letto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non Letto</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsertCommToCustomer.Archiviato__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsertCommToCustomer.Tipo_notifica_su_Centro_Notifiche__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Messaggio importante</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsertCommToCustomer.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emailAccountForTesting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsertCommToCustomer.Contact_Master_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactMasterAccountFortesting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsertCommToCustomer.Mobile_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MobilePhoneAccountForTesting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsertCommToCustomer.NDG__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NDGAccountForTEst</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createCommToCustomer</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>iniziativeTemplates</name>
        <choiceText>{!URLformula}</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>desicionStandarchoise</name>
        <label>desicionStandarchoise</label>
        <locationX>710</locationX>
        <locationY>806</locationY>
        <defaultConnector>
            <targetReference>StandarScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>REMOTEPAYMENTChoise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>REMOTEPAYMENTcheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assegnaValoreGiusto</targetReference>
            </connector>
            <label>REMOTEPAYMENT</label>
        </rules>
        <rules>
            <name>AREA_PREVENTIVI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AREA_PREVENTIVIcheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assegnaValoreGiusto_0</targetReference>
            </connector>
            <label>AREA PREVENTIVI</label>
        </rules>
        <rules>
            <name>MENSILIZZAZIONE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MENSILIZZAZIONEcheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assegnaValoreGiusto_0_0</targetReference>
            </connector>
            <label>MENSILIZZAZIONE</label>
        </rules>
        <rules>
            <name>RINNOVI_AAI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RINNOVI_AAIcheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assegnaValoreGiusto_0_0_0</targetReference>
            </connector>
            <label>RINNOVI AAI</label>
        </rules>
        <rules>
            <name>RINNOVI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RINNOVIcheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assegnaValoreGiusto_0_0_0_0</targetReference>
            </connector>
            <label>RINNOVI</label>
        </rules>
    </decisions>
    <decisions>
        <name>iscreated</name>
        <label>iscreated</label>
        <locationX>710</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>NonCreato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non creato</defaultConnectorLabel>
        <rules>
            <name>iscreatedID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InsertCommToCustomer.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sucess</targetReference>
            </connector>
            <label>iscreatedID</label>
        </rules>
    </decisions>
    <decisions>
        <name>recordTypeSelected</name>
        <label>recordTypeSelected</label>
        <locationX>1568</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>GetIniziative</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>StandardRT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_TypeCambia</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard Communication</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StandarScreen</targetReference>
            </connector>
            <label>StandardRT</label>
        </rules>
        <rules>
            <name>PianoEditorialeRT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_TypeCambia</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Piano Editoriale</stringValue>
                </rightValue>
            </conditions>
            <label>PianoEditorialeRT</label>
        </rules>
        <rules>
            <name>MigrazioneDigitaleRT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_TypeCambia</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Migrazione Processi Digital</stringValue>
                </rightValue>
            </conditions>
            <label>MigrazioneDigitaleRT</label>
        </rules>
    </decisions>
    <description>testare i template</description>
    <dynamicChoiceSets>
        <name>processPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Process__c</picklistField>
        <picklistObject>Communications_to_customer__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecortypesChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Communications_to_customer__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard_Communication</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordTypeIdChoose</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>URLformula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_260} , FIND(&apos;/services&apos;,{!$Api.Enterprise_Server_URL_260} ))</expression>
    </formulas>
    <interviewLabel>Iniziative Marketing Testing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Iniziative Marketing Testing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>insert</description>
        <name>createCommToCustomer</name>
        <label>createCommToCustomer</label>
        <locationX>710</locationX>
        <locationY>1262</locationY>
        <connector>
            <targetReference>iscreated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>NonCreato</targetReference>
        </faultConnector>
        <inputReference>InsertCommToCustomer</inputReference>
    </recordCreates>
    <recordLookups>
        <description>,get account sara for Test</description>
        <name>getAccountForTesting</name>
        <label>getAccountForTesting</label>
        <locationX>1568</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetIniziative</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NDG__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0013400000108693</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>contactMasterAccountFortesting</assignToReference>
            <field>Contact_Master_Id__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>emailAccountForTesting</assignToReference>
            <field>Email_Master_AAI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>accountIDforTest</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MobilePhoneAccountForTesting</assignToReference>
            <field>Mobile_Master_AAI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NDGAccountForTEst</assignToReference>
            <field>NDG__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>copy to new version</description>
        <name>getIniziativeMarkFields</name>
        <label>getIniziativeMarkFields</label>
        <locationX>1568</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccountForTesting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Iniziative_Marketing__c</object>
        <outputReference>recordIniziativeOLD</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Attiva__c</queriedFields>
        <queriedFields>Titolo__c</queriedFields>
        <queriedFields>Sottotitolo__c</queriedFields>
        <queriedFields>Invio_push__c</queriedFields>
        <queriedFields>Visibilita_nel_centro_notifiche__c</queriedFields>
        <queriedFields>Canale__c</queriedFields>
        <queriedFields>Message__c</queriedFields>
        <queriedFields>Short_Message__c</queriedFields>
        <queriedFields>Descrizione_dell_iniziativa__c</queriedFields>
        <queriedFields>Communication_code__c</queriedFields>
        <queriedFields>Tipo_notifica_su_Centro_Notifiche__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>GetIniziative</name>
        <label>GetIniziative</label>
        <locationX>1568</locationX>
        <locationY>446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>recordTypeSelected</targetReference>
        </connector>
        <fields>
            <name>testing</name>
            <fieldText>&lt;p&gt;Cliente utilizato NDG:  &lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;0013400000108693&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PolizzaCambia</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>90041141184</stringValue>
            </defaultValue>
            <fieldText>Numero di Polizza</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Communication_DescriptionCambia</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Testare iniziativa marketing template</stringValue>
            </defaultValue>
            <fieldText>Communication Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Record_TypeCambia</name>
            <choiceReferences>RecortypesChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Record Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NonCreato</name>
        <label>NonCreato</label>
        <locationX>842</locationX>
        <locationY>1502</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Errore</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Errore &lt;/strong&gt;nella creazione del record Test&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>StandarScreen</name>
        <label>StandarScreen</label>
        <locationX>710</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>desicionStandarchoise</targetReference>
        </connector>
        <fields>
            <name>REMOTEPAYMENTcheck</name>
            <dataType>Boolean</dataType>
            <fieldText>REMOTEPAYMENT</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RINNOVIcheck</name>
            <dataType>Boolean</dataType>
            <fieldText>RINNOVI</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RINNOVI_AAIcheck</name>
            <dataType>Boolean</dataType>
            <fieldText>RINNOVI AAI</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MENSILIZZAZIONEcheck</name>
            <dataType>Boolean</dataType>
            <fieldText>MENSILIZZAZIONE</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AREA_PREVENTIVIcheck</name>
            <dataType>Boolean</dataType>
            <fieldText>AREA PREVENTIVI</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sucess</name>
        <label>Sucess</label>
        <locationX>578</locationX>
        <locationY>1502</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Sucesslabel</name>
            <fieldText>&lt;p&gt;Record creato OK per cliente &lt;strong&gt;NDG: &lt;/strong&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;0013400000108693&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1442</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getIniziativeMarkFields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountIDforTest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Marketing Cloud</description>
        <name>callerForTesting</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Marketing Cloud</stringValue>
        </value>
    </variables>
    <variables>
        <name>contactMasterAccountFortesting</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContenutoPerMigrazione</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailAccountForTesting</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>finalProcessSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InsertCommToCustomer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Communications_to_customer__c</objectType>
    </variables>
    <variables>
        <name>MobilePhoneAccountForTesting</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NDGAccountForTEst</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProcessForTestingback</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>PIANO EDITORIALE</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a1T0E000001CCD8UAO</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordIniziativeOLD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Iniziative_Marketing__c</objectType>
    </variables>
    <variables>
        <name>recordTypeIdChoose</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TestoPerMigrazione</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
