force-app/main/default/flows/Iniziative_Marketing_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>addListToDelete</name>
        <label>addListToDelete</label>
        <locationX>490</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>recordsToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordPivot</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopOnInputselecteds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>valuesPivotsOnRecord</name>
        <label>valuesPivotsOnRecord</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>recordPivot.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOnInputselecteds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addListToDelete</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ForEachChoose</name>
        <label>ForEachChoose</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>NullaSelezionato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nullselected</defaultConnectorLabel>
        <rules>
            <name>almeno1voltaAttivo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TECH_lock_recordIniziativa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenNonCancella</targetReference>
            </connector>
            <label>almeno1voltaAttivo</label>
        </rules>
        <rules>
            <name>almeno1selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eliminare_Targets_Associati</targetReference>
            </connector>
            <label>almeno1selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>seiSicuroCancellare</name>
        <label>seiSicuroCancellare</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>NonSonoSicuro</defaultConnectorLabel>
        <rules>
            <name>CancellareOK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SeiSicuro.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopOnInputselecteds</targetReference>
            </connector>
            <label>CancellareOK</label>
        </rules>
    </decisions>
    <description>cancellare la relazione fra iniziativM e target , mentre non sia stato attivato al meno 1 volta.</description>
    <environments>Default</environments>
    <formulas>
        <name>URLcompletoFin</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_260} , FIND(&apos;/services&apos;,{!$Api.Enterprise_Server_URL_260} )) +&quot;lightning/r/Iniziative_Marketing__c/&quot;&amp;{!recordId} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>URLformula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_260} , FIND(&apos;/services&apos;,{!$Api.Enterprise_Server_URL_260} ))</expression>
    </formulas>
    <interviewLabel>Iniziative Marketing Delete Junction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Iniziative Marketing Delete</label>
    <loops>
        <name>loopOnInputselecteds</name>
        <label>loopOnInputselecteds</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>valuesPivotsOnRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>deleteList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>deleteList</name>
        <label>deleteList</label>
        <locationX>402</locationX>
        <locationY>974</locationY>
        <inputReference>recordsToDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>getIniziativaMaster</name>
        <label>getIniziativaMaster</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ForEachChoose</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Iniziative_Marketing__c</object>
        <outputAssignments>
            <assignToReference>TECH_lock_recordIniziativa</assignToReference>
            <field>TECH_lock_record_story__c</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Eliminare_Targets_Associati</name>
        <label>Eliminare Targets Associati</label>
        <locationX>534</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>seiSicuroCancellare</targetReference>
        </connector>
        <fields>
            <name>Eliminare_Targets_Associati_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Eliminare_Targets_Associati_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cancellare_sicuro</name>
                    <fieldText>&lt;p&gt;Proseguire con la cancellazione dell&apos;associazione con l&apos;Iniziative Marketing per i target selezionati ?&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Eliminare_Targets_Associati_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SeiSicuro</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>-</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Sono sicuro</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Non sono sicuro</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NullaSelezionato</name>
        <label>NullaSelezionato</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>almeno1</name>
            <fieldText>&lt;p&gt;Per proseguire, è necessario selezionare almeno un record. Sarà rimossa l&apos;associazione tra Iniziativa Marketing e Target; il Target non sarà eliminato.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenNonCancella</name>
        <label>ScreenNonCancella</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>alMeno1VoltaAttivo_text</name>
            <fieldText>&lt;p&gt;I targets associati non possono essere cancellati perché l&apos;Iniziativa Marketing è stata attivata almeno una volta&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getIniziativaMaster</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TextTemplateURL</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;{!URLcompletoFin}&quot; target=&quot;_parent&quot;&gt;Non sono sicuro...&lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordPivot</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TargetByIniziativaAssociation__c</objectType>
    </variables>
    <variables>
        <name>recordsToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TargetByIniziativaAssociation__c</objectType>
    </variables>
    <variables>
        <description>se true il record è stato attivato al meno 1 volta nella storia</description>
        <name>TECH_lock_recordIniziativa</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
