force-app/main/default/flows/JBSystemFlow_Communications_to_customer_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj37165fb9732773f4e2c78ed5ec76f037_FireJBTrigger</name>
        <label>SalesforceObj37165fb9732773f4e2c78ed5ec76f037_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3b29411a9cce897be461f87016b65baa</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3b29411a9cce897be461f87016b65baa</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact__c&quot;,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Communications_to_customer__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj37165fb9732773f4e2c78ed5ec76f037</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7300068</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;AccountId__r&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:AccountId__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;AAI_Agency_Reference_Code__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Status__c&quot;,&quot;Channel__c&quot;,&quot;Contact__c&quot;,&quot;Process__c&quot;,&quot;CreatedDate&quot;,&quot;Agency_Code__c&quot;,&quot;Mobile_Phone__c&quot;,&quot;Contact_Master_Id__c&quot;,&quot;Additional_Details__c&quot;,&quot;Communication_Code__c&quot;,&quot;Account_record_id_del__c&quot;,&quot;Communications_to_customer_ID__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj3b29411a9cce897be461f87016b65baa_FireJBTrigger</name>
        <label>SalesforceObj3b29411a9cce897be461f87016b65baa_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjaa68ec676d1636d9a13b94c6b594bfe1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjaa68ec676d1636d9a13b94c6b594bfe1</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact__c&quot;,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Communications_to_customer__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj3b29411a9cce897be461f87016b65baa</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7300068</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;AccountId__r&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:AccountId__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;NDG__c&quot;,&quot;FirstName&quot;,&quot;CIF_Privacy_2__c&quot;,&quot;CIF_Privacy_5__c&quot;,&quot;Ccod_Produttore__c&quot;,&quot;Email_Master_AAI__c&quot;,&quot;AAI_Agency_Reference_Code__c&quot;,&quot;Bcert_Privacy_Email_Ndg_AAI__c&quot;,&quot;Email_Master_AAI_stato_valid__c&quot;,&quot;Cprivacy_Profilazione_Ndg_AAI__c&quot;,&quot;Flag_registrazione_area_privata__c&quot;,&quot;Bcert_Privacy_Profilazione_Ndg_AAI__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Campaign&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Campaign__r&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:Campaign__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;NDG__c&quot;,&quot;Email__c&quot;,&quot;Status__c&quot;,&quot;Process__c&quot;,&quot;Contact__c&quot;,&quot;Channel__c&quot;,&quot;CreatedDate&quot;,&quot;Send_Date__c&quot;,&quot;Agency_Code__c&quot;,&quot;Error_Detail__c&quot;,&quot;Communication_Code__c&quot;,&quot;Additional_Details__c&quot;,&quot;Account_record_id_del__c&quot;,&quot;Insurance_Contract_Number__c&quot;,&quot;Communication_Description__c&quot;,&quot;Communications_to_customer_ID__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Iniziative_Marketing__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Iniziativa_Marketing_Id__r&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:Iniziativa_Marketing_Id__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;eCollaboration__c&quot;,&quot;Mostra_Nome_Cognome__c&quot;,&quot;Mostra_Box_Agenzia_Subagenzia__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj450d2d449e472dd5be4c97c991f71f62_FireJBTrigger</name>
        <label>SalesforceObj450d2d449e472dd5be4c97c991f71f62_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;Contact__c&quot;,
  &quot;relationshipName&quot;: &quot;Contact__r&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Contact&quot;,
  &quot;fieldName&quot;: &quot;Id&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Communications_to_customer__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj450d2d449e472dd5be4c97c991f71f62</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7300068</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;AccountId__r&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:AccountId__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;NDG__c&quot;,&quot;FirstName&quot;,&quot;CIF_Privacy_2__c&quot;,&quot;CIF_Privacy_5__c&quot;,&quot;Ccod_Produttore__c&quot;,&quot;Email_Master_AAI__c&quot;,&quot;Data_Scadenza_Documento__c&quot;,&quot;AAI_Agency_Reference_Code__c&quot;,&quot;Bcert_Privacy_Email_Ndg_AAI__c&quot;,&quot;Email_Master_AAI_stato_valid__c&quot;,&quot;Cprivacy_Profilazione_Ndg_AAI__c&quot;,&quot;Flag_registrazione_area_privata__c&quot;,&quot;Bcert_Privacy_Profilazione_Ndg_AAI__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;NDG__c&quot;,&quot;Email__c&quot;,&quot;Status__c&quot;,&quot;Process__c&quot;,&quot;Contact__c&quot;,&quot;Channel__c&quot;,&quot;CreatedDate&quot;,&quot;Send_Date__c&quot;,&quot;Agency_Code__c&quot;,&quot;Error_Detail__c&quot;,&quot;Communication_Code__c&quot;,&quot;Additional_Details__c&quot;,&quot;Account_record_id_del__c&quot;,&quot;Insurance_Contract_Number__c&quot;,&quot;Communication_Description__c&quot;,&quot;Communications_to_customer_ID__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;CreatedBy&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:CreatedBy:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;LastName&quot;,&quot;FirstName&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Iniziative_Marketing__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Iniziativa_Marketing_Id__r&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:Iniziativa_Marketing_Id__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;eCollaboration__c&quot;,&quot;Mostra_Nome_Cognome__c&quot;,&quot;Mostra_Box_Agenzia_Subagenzia__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj4b0353052834ebdeec2c51cc214054e9_FireJBTrigger</name>
        <label>SalesforceObj4b0353052834ebdeec2c51cc214054e9_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjecec8055a2e96031327b5cdaa1e34145</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjecec8055a2e96031327b5cdaa1e34145</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact__c&quot;,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Communications_to_customer__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj4b0353052834ebdeec2c51cc214054e9</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7300068</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;NDG__c&quot;,&quot;Email__c&quot;,&quot;Caller__c&quot;,&quot;Status__c&quot;,&quot;Channel__c&quot;,&quot;Contact__c&quot;,&quot;CreatedDate&quot;,&quot;AccountId__c&quot;,&quot;Agency_Code__c&quot;,&quot;AgencyEmail__c&quot;,&quot;Mobile_Phone__c&quot;,&quot;LastModifiedDate&quot;,&quot;Additional_Details__c&quot;,&quot;Communication_Code__c&quot;,&quot;Account_record_id_del__c&quot;,&quot;Communication_Description__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;AccountId__r&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:AccountId__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;CIF_Privacy_5__c&quot;,&quot;Bcert_Privacy_Email_Ndg_AAI__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj6862a615698cd80b5cee3be32339673b_FireJBTrigger</name>
        <label>SalesforceObj6862a615698cd80b5cee3be32339673b_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjc1237da5ac932fa96ec8a7d5b1e04ab3</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjc1237da5ac932fa96ec8a7d5b1e04ab3</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact__c&quot;,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Communications_to_customer__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj6862a615698cd80b5cee3be32339673b</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7300068</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Email__c&quot;,&quot;Status__c&quot;,&quot;Channel__c&quot;,&quot;Contact__c&quot;,&quot;Message__c&quot;,&quot;Process__c&quot;,&quot;Send_Date__c&quot;,&quot;Agency_Code__c&quot;,&quot;Error_Detail__c&quot;,&quot;Mobile_Phone__c&quot;,&quot;Additional_Details__c&quot;,&quot;Communication_Code__c&quot;,&quot;Notification_Typology__c&quot;,&quot;Account_record_id_del__c&quot;,&quot;Roadworthiness_Exp_Date__c&quot;,&quot;Driving_Licence_Exp_Date__c&quot;,&quot;Communication_Description__c&quot;,&quot;Insurance_Contract_Number__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;AccountId__r&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:AccountId__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;AAI_Agency_Reference_Code__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj8c5dd86d12eddf433cfb5cb5180fcbbd_FireJBTrigger</name>
        <label>SalesforceObj8c5dd86d12eddf433cfb5cb5180fcbbd_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja5a48f653c3feaa02880dde1e946a268</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja5a48f653c3feaa02880dde1e946a268</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact__c&quot;,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Communications_to_customer__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj8c5dd86d12eddf433cfb5cb5180fcbbd</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7300068</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;NDG__c&quot;,&quot;Email__c&quot;,&quot;Status__c&quot;,&quot;Channel__c&quot;,&quot;Contact__c&quot;,&quot;Process__c&quot;,&quot;AccountId__c&quot;,&quot;Agency_Code__c&quot;,&quot;Mobile_Phone__c&quot;,&quot;Additional_Details__c&quot;,&quot;Communication_Code__c&quot;,&quot;Notification_Typology__c&quot;,&quot;Communication_Description__c&quot;,&quot;Insurance_Contract_Number__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;AccountId__r&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:AccountId__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;AAI_Codice_fiscale__c&quot;,&quot;AAI_Agency_Reference_Code__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj9f343b054bc919ad47be076e7f89b728_FireJBTrigger</name>
        <label>SalesforceObj9f343b054bc919ad47be076e7f89b728_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja98632a1adf1e555c33cebd7bd161dbe</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja98632a1adf1e555c33cebd7bd161dbe</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact__c&quot;,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Communications_to_customer__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj9f343b054bc919ad47be076e7f89b728</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7300068</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Email__c&quot;,&quot;Status__c&quot;,&quot;Channel__c&quot;,&quot;Message__c&quot;,&quot;Process__c&quot;,&quot;Contact__c&quot;,&quot;Send_Date__c&quot;,&quot;Agency_Code__c&quot;,&quot;Error_Detail__c&quot;,&quot;Mobile_Phone__c&quot;,&quot;Communication_Code__c&quot;,&quot;Additional_Details__c&quot;,&quot;Account_record_id_del__c&quot;,&quot;Notification_Typology__c&quot;,&quot;Communication_Description__c&quot;,&quot;Insurance_Contract_Number__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;AccountId__r&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:AccountId__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;AAI_Agency_Reference_Code__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObja5a48f653c3feaa02880dde1e946a268_FireJBTrigger</name>
        <label>SalesforceObja5a48f653c3feaa02880dde1e946a268_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9f343b054bc919ad47be076e7f89b728</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9f343b054bc919ad47be076e7f89b728</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact__c&quot;,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Communications_to_customer__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObja5a48f653c3feaa02880dde1e946a268</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7300068</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;AccountId__r&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:AccountId__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;AAI_Agency__c&quot;,&quot;AAI_Codice_fiscale__c&quot;,&quot;AAI_Agency_Reference_Code__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;NDG__c&quot;,&quot;Email__c&quot;,&quot;Status__c&quot;,&quot;Contact__c&quot;,&quot;Channel__c&quot;,&quot;Process__c&quot;,&quot;AccountId__c&quot;,&quot;Agency_Code__c&quot;,&quot;Mobile_Phone__c&quot;,&quot;Additional_Details__c&quot;,&quot;Communication_Code__c&quot;,&quot;Account_record_id_del__c&quot;,&quot;Notification_Typology__c&quot;,&quot;Insurance_Contract_Number__c&quot;,&quot;Communication_Description__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObja98632a1adf1e555c33cebd7bd161dbe_FireJBTrigger</name>
        <label>SalesforceObja98632a1adf1e555c33cebd7bd161dbe_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj450d2d449e472dd5be4c97c991f71f62</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj450d2d449e472dd5be4c97c991f71f62</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact__c&quot;,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Communications_to_customer__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObja98632a1adf1e555c33cebd7bd161dbe</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7300068</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;AccountId__r&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:AccountId__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;AAI_Agency_Reference_Code__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Email__c&quot;,&quot;Status__c&quot;,&quot;Contact__c&quot;,&quot;Process__c&quot;,&quot;Mobile_Phone__c&quot;,&quot;Communication_Code__c&quot;,&quot;Additional_Details__c&quot;,&quot;Account_record_id_del__c&quot;,&quot;Notification_Typology__c&quot;,&quot;Insurance_Contract_Number__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjaa68ec676d1636d9a13b94c6b594bfe1_FireJBTrigger</name>
        <label>SalesforceObjaa68ec676d1636d9a13b94c6b594bfe1_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjf427203b51f5935f547cd7746c88c848</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjf427203b51f5935f547cd7746c88c848</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact__c&quot;,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Communications_to_customer__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjaa68ec676d1636d9a13b94c6b594bfe1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7300068</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;AccountId__r&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:AccountId__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;NDG__c&quot;,&quot;FirstName&quot;,&quot;CIF_Privacy_2__c&quot;,&quot;CIF_Privacy_5__c&quot;,&quot;Ccod_Produttore__c&quot;,&quot;Email_Master_AAI__c&quot;,&quot;AAI_Agency_Reference_Code__c&quot;,&quot;Bcert_Privacy_Email_Ndg_AAI__c&quot;,&quot;Email_Master_AAI_stato_valid__c&quot;,&quot;Cprivacy_Profilazione_Ndg_AAI__c&quot;,&quot;Flag_registrazione_area_privata__c&quot;,&quot;Bcert_Privacy_Profilazione_Ndg_AAI__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;NDG__c&quot;,&quot;Email__c&quot;,&quot;Status__c&quot;,&quot;Process__c&quot;,&quot;Contact__c&quot;,&quot;Channel__c&quot;,&quot;CreatedDate&quot;,&quot;Send_Date__c&quot;,&quot;Agency_Code__c&quot;,&quot;Error_Detail__c&quot;,&quot;Communication_Code__c&quot;,&quot;Additional_Details__c&quot;,&quot;Account_record_id_del__c&quot;,&quot;Insurance_Contract_Number__c&quot;,&quot;Communication_Description__c&quot;,&quot;Communications_to_customer_ID__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;CreatedBy&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:CreatedBy:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;LastName&quot;,&quot;FirstName&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Iniziative_Marketing__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Iniziativa_Marketing_Id__r&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:Iniziativa_Marketing_Id__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;eCollaboration__c&quot;,&quot;Mostra_Nome_Cognome__c&quot;,&quot;Mostra_Box_Agenzia_Subagenzia__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjc1237da5ac932fa96ec8a7d5b1e04ab3_FireJBTrigger</name>
        <label>SalesforceObjc1237da5ac932fa96ec8a7d5b1e04ab3_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjfe2d8de102436c448dededf407d1215c</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjfe2d8de102436c448dededf407d1215c</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact__c&quot;,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Communications_to_customer__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjc1237da5ac932fa96ec8a7d5b1e04ab3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7300068</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;NDG__c&quot;,&quot;Email__c&quot;,&quot;Status__c&quot;,&quot;Channel__c&quot;,&quot;Contact__c&quot;,&quot;Process__c&quot;,&quot;AccountId__c&quot;,&quot;Agency_Code__c&quot;,&quot;Mobile_Phone__c&quot;,&quot;Additional_Details__c&quot;,&quot;Communication_Code__c&quot;,&quot;Notification_Typology__c&quot;,&quot;Communication_Description__c&quot;,&quot;Insurance_Contract_Number__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;AccountId__r&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:AccountId__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;AAI_Codice_fiscale__c&quot;,&quot;AAI_Agency_Reference_Code__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjecec8055a2e96031327b5cdaa1e34145_FireJBTrigger</name>
        <label>SalesforceObjecec8055a2e96031327b5cdaa1e34145_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj6862a615698cd80b5cee3be32339673b</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj6862a615698cd80b5cee3be32339673b</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact_Master_Id__c&quot;,&quot;relationshipName&quot;:&quot;Contact_Master_Id__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Communications_to_customer__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjecec8055a2e96031327b5cdaa1e34145</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7300068</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;NDG__c&quot;,&quot;Email__c&quot;,&quot;Titolo__c&quot;,&quot;Status__c&quot;,&quot;Process__c&quot;,&quot;Message__c&quot;,&quot;URL_CTA__c&quot;,&quot;Channel__c&quot;,&quot;Contact__c&quot;,&quot;AccountId__c&quot;,&quot;Testo_CTA__c&quot;,&quot;Invio_push__c&quot;,&quot;Sottotitolo__c&quot;,&quot;Agency_Code__c&quot;,&quot;URL_Immagine__c&quot;,&quot;Mobile_Phone__c&quot;,&quot;Short_Message__c&quot;,&quot;Contact_Master_Id__c&quot;,&quot;Communication_Code__c&quot;,&quot;Additional_Details__c&quot;,&quot;Notification_Typology__c&quot;,&quot;Communication_Description__c&quot;,&quot;Insurance_Contract_Number__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact_Master_Id__r&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:Contact_Master_Id__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Iniziative_Marketing__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Iniziativa_Marketing_Id__r&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:Iniziativa_Marketing_Id__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Attiva__c&quot;,&quot;Invio_push__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjf427203b51f5935f547cd7746c88c848_FireJBTrigger</name>
        <label>SalesforceObjf427203b51f5935f547cd7746c88c848_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj4b0353052834ebdeec2c51cc214054e9</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj4b0353052834ebdeec2c51cc214054e9</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact__c&quot;,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Communications_to_customer__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjf427203b51f5935f547cd7746c88c848</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7300068</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;AccountId__r&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:AccountId__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;AAI_Agency_Reference_Code__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Email__c&quot;,&quot;Status__c&quot;,&quot;Contact__c&quot;,&quot;Process__c&quot;,&quot;AccountId__c&quot;,&quot;Mobile_Phone__c&quot;,&quot;Additional_Details__c&quot;,&quot;Communication_Code__c&quot;,&quot;Notification_Typology__c&quot;,&quot;Insurance_Contract_Number__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjfe2d8de102436c448dededf407d1215c_FireJBTrigger</name>
        <label>SalesforceObjfe2d8de102436c448dededf407d1215c_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj8c5dd86d12eddf433cfb5cb5180fcbbd</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj8c5dd86d12eddf433cfb5cb5180fcbbd</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact__c&quot;,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Communications_to_customer__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjfe2d8de102436c448dededf407d1215c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7300068</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;AccountId__r&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:AccountId__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;AAI_Codice_fiscale__c&quot;,&quot;AAI_Agency_Reference_Code__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;NDG__c&quot;,&quot;Email__c&quot;,&quot;Status__c&quot;,&quot;Contact__c&quot;,&quot;Channel__c&quot;,&quot;Process__c&quot;,&quot;AccountId__c&quot;,&quot;Agency_Code__c&quot;,&quot;Mobile_Phone__c&quot;,&quot;LastModifiedDate&quot;,&quot;Additional_Details__c&quot;,&quot;Communication_Code__c&quot;,&quot;Account_record_id_del__c&quot;,&quot;Notification_Typology__c&quot;,&quot;Insurance_Contract_Number__c&quot;,&quot;Communication_Description__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;Communications_to_customer__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj37165fb9732773f4e2c78ed5ec76f037</name>
        <label>JB_Decision_Null_Check_SalesforceObj37165fb9732773f4e2c78ed5ec76f037</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3b29411a9cce897be461f87016b65baa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj37165fb9732773f4e2c78ed5ec76f037_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj3b29411a9cce897be461f87016b65baa</targetReference>
            </connector>
            <label>JB_SalesforceObj37165fb9732773f4e2c78ed5ec76f037_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj37165fb9732773f4e2c78ed5ec76f037_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj37165fb9732773f4e2c78ed5ec76f037_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj37165fb9732773f4e2c78ed5ec76f037_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj37165fb9732773f4e2c78ed5ec76f037_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj37165fb9732773f4e2c78ed5ec76f037_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj37165fb9732773f4e2c78ed5ec76f037_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj3b29411a9cce897be461f87016b65baa</name>
        <label>JB_Decision_Null_Check_SalesforceObj3b29411a9cce897be461f87016b65baa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjaa68ec676d1636d9a13b94c6b594bfe1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj3b29411a9cce897be461f87016b65baa_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjaa68ec676d1636d9a13b94c6b594bfe1</targetReference>
            </connector>
            <label>JB_SalesforceObj3b29411a9cce897be461f87016b65baa_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj3b29411a9cce897be461f87016b65baa_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj3b29411a9cce897be461f87016b65baa_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj3b29411a9cce897be461f87016b65baa_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj3b29411a9cce897be461f87016b65baa_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj3b29411a9cce897be461f87016b65baa_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj3b29411a9cce897be461f87016b65baa_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj450d2d449e472dd5be4c97c991f71f62</name>
        <label>JB_Decision_Null_Check_SalesforceObj450d2d449e472dd5be4c97c991f71f62</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj450d2d449e472dd5be4c97c991f71f62_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj450d2d449e472dd5be4c97c991f71f62_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj450d2d449e472dd5be4c97c991f71f62_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj450d2d449e472dd5be4c97c991f71f62_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj450d2d449e472dd5be4c97c991f71f62_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj450d2d449e472dd5be4c97c991f71f62_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj450d2d449e472dd5be4c97c991f71f62_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj450d2d449e472dd5be4c97c991f71f62_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj4b0353052834ebdeec2c51cc214054e9</name>
        <label>JB_Decision_Null_Check_SalesforceObj4b0353052834ebdeec2c51cc214054e9</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjecec8055a2e96031327b5cdaa1e34145</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj4b0353052834ebdeec2c51cc214054e9_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjecec8055a2e96031327b5cdaa1e34145</targetReference>
            </connector>
            <label>JB_SalesforceObj4b0353052834ebdeec2c51cc214054e9_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj4b0353052834ebdeec2c51cc214054e9_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj4b0353052834ebdeec2c51cc214054e9_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj4b0353052834ebdeec2c51cc214054e9_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj6862a615698cd80b5cee3be32339673b</name>
        <label>JB_Decision_Null_Check_SalesforceObj6862a615698cd80b5cee3be32339673b</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjc1237da5ac932fa96ec8a7d5b1e04ab3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj6862a615698cd80b5cee3be32339673b_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjc1237da5ac932fa96ec8a7d5b1e04ab3</targetReference>
            </connector>
            <label>JB_SalesforceObj6862a615698cd80b5cee3be32339673b_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj6862a615698cd80b5cee3be32339673b_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj6862a615698cd80b5cee3be32339673b_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj6862a615698cd80b5cee3be32339673b_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj6862a615698cd80b5cee3be32339673b_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj6862a615698cd80b5cee3be32339673b_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj6862a615698cd80b5cee3be32339673b_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj8c5dd86d12eddf433cfb5cb5180fcbbd</name>
        <label>JB_Decision_Null_Check_SalesforceObj8c5dd86d12eddf433cfb5cb5180fcbbd</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja5a48f653c3feaa02880dde1e946a268</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj8c5dd86d12eddf433cfb5cb5180fcbbd_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObja5a48f653c3feaa02880dde1e946a268</targetReference>
            </connector>
            <label>JB_SalesforceObj8c5dd86d12eddf433cfb5cb5180fcbbd_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj8c5dd86d12eddf433cfb5cb5180fcbbd_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj8c5dd86d12eddf433cfb5cb5180fcbbd_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj8c5dd86d12eddf433cfb5cb5180fcbbd_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj8c5dd86d12eddf433cfb5cb5180fcbbd_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj8c5dd86d12eddf433cfb5cb5180fcbbd_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj8c5dd86d12eddf433cfb5cb5180fcbbd_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj9f343b054bc919ad47be076e7f89b728</name>
        <label>JB_Decision_Null_Check_SalesforceObj9f343b054bc919ad47be076e7f89b728</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja98632a1adf1e555c33cebd7bd161dbe</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj9f343b054bc919ad47be076e7f89b728_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObja98632a1adf1e555c33cebd7bd161dbe</targetReference>
            </connector>
            <label>JB_SalesforceObj9f343b054bc919ad47be076e7f89b728_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj9f343b054bc919ad47be076e7f89b728_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj9f343b054bc919ad47be076e7f89b728_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj9f343b054bc919ad47be076e7f89b728_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj9f343b054bc919ad47be076e7f89b728_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj9f343b054bc919ad47be076e7f89b728_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj9f343b054bc919ad47be076e7f89b728_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObja5a48f653c3feaa02880dde1e946a268</name>
        <label>JB_Decision_Null_Check_SalesforceObja5a48f653c3feaa02880dde1e946a268</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9f343b054bc919ad47be076e7f89b728</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObja5a48f653c3feaa02880dde1e946a268_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj9f343b054bc919ad47be076e7f89b728</targetReference>
            </connector>
            <label>JB_SalesforceObja5a48f653c3feaa02880dde1e946a268_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObja5a48f653c3feaa02880dde1e946a268_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja5a48f653c3feaa02880dde1e946a268_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObja5a48f653c3feaa02880dde1e946a268_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObja5a48f653c3feaa02880dde1e946a268_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja5a48f653c3feaa02880dde1e946a268_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObja5a48f653c3feaa02880dde1e946a268_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObja98632a1adf1e555c33cebd7bd161dbe</name>
        <label>JB_Decision_Null_Check_SalesforceObja98632a1adf1e555c33cebd7bd161dbe</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj450d2d449e472dd5be4c97c991f71f62</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObja98632a1adf1e555c33cebd7bd161dbe_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj450d2d449e472dd5be4c97c991f71f62</targetReference>
            </connector>
            <label>JB_SalesforceObja98632a1adf1e555c33cebd7bd161dbe_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObja98632a1adf1e555c33cebd7bd161dbe_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja98632a1adf1e555c33cebd7bd161dbe_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObja98632a1adf1e555c33cebd7bd161dbe_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjaa68ec676d1636d9a13b94c6b594bfe1</name>
        <label>JB_Decision_Null_Check_SalesforceObjaa68ec676d1636d9a13b94c6b594bfe1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjf427203b51f5935f547cd7746c88c848</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjaa68ec676d1636d9a13b94c6b594bfe1_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjf427203b51f5935f547cd7746c88c848</targetReference>
            </connector>
            <label>JB_SalesforceObjaa68ec676d1636d9a13b94c6b594bfe1_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjaa68ec676d1636d9a13b94c6b594bfe1_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjaa68ec676d1636d9a13b94c6b594bfe1_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjaa68ec676d1636d9a13b94c6b594bfe1_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjaa68ec676d1636d9a13b94c6b594bfe1_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjaa68ec676d1636d9a13b94c6b594bfe1_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjaa68ec676d1636d9a13b94c6b594bfe1_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjc1237da5ac932fa96ec8a7d5b1e04ab3</name>
        <label>JB_Decision_Null_Check_SalesforceObjc1237da5ac932fa96ec8a7d5b1e04ab3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjfe2d8de102436c448dededf407d1215c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjc1237da5ac932fa96ec8a7d5b1e04ab3_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjfe2d8de102436c448dededf407d1215c</targetReference>
            </connector>
            <label>JB_SalesforceObjc1237da5ac932fa96ec8a7d5b1e04ab3_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjc1237da5ac932fa96ec8a7d5b1e04ab3_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjc1237da5ac932fa96ec8a7d5b1e04ab3_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjc1237da5ac932fa96ec8a7d5b1e04ab3_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjc1237da5ac932fa96ec8a7d5b1e04ab3_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjc1237da5ac932fa96ec8a7d5b1e04ab3_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjc1237da5ac932fa96ec8a7d5b1e04ab3_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjecec8055a2e96031327b5cdaa1e34145</name>
        <label>JB_Decision_Null_Check_SalesforceObjecec8055a2e96031327b5cdaa1e34145</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj6862a615698cd80b5cee3be32339673b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjecec8055a2e96031327b5cdaa1e34145_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact_Master_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj6862a615698cd80b5cee3be32339673b</targetReference>
            </connector>
            <label>JB_SalesforceObjecec8055a2e96031327b5cdaa1e34145_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjecec8055a2e96031327b5cdaa1e34145_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjecec8055a2e96031327b5cdaa1e34145_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjecec8055a2e96031327b5cdaa1e34145_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjecec8055a2e96031327b5cdaa1e34145_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjecec8055a2e96031327b5cdaa1e34145_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjecec8055a2e96031327b5cdaa1e34145_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjf427203b51f5935f547cd7746c88c848</name>
        <label>JB_Decision_Null_Check_SalesforceObjf427203b51f5935f547cd7746c88c848</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj4b0353052834ebdeec2c51cc214054e9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjf427203b51f5935f547cd7746c88c848_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj4b0353052834ebdeec2c51cc214054e9</targetReference>
            </connector>
            <label>JB_SalesforceObjf427203b51f5935f547cd7746c88c848_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjf427203b51f5935f547cd7746c88c848_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjf427203b51f5935f547cd7746c88c848_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjf427203b51f5935f547cd7746c88c848_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjfe2d8de102436c448dededf407d1215c</name>
        <label>JB_Decision_Null_Check_SalesforceObjfe2d8de102436c448dededf407d1215c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj8c5dd86d12eddf433cfb5cb5180fcbbd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjfe2d8de102436c448dededf407d1215c_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj8c5dd86d12eddf433cfb5cb5180fcbbd</targetReference>
            </connector>
            <label>JB_SalesforceObjfe2d8de102436c448dededf407d1215c_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjfe2d8de102436c448dededf407d1215c_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjfe2d8de102436c448dededf407d1215c_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjfe2d8de102436c448dededf407d1215c_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjfe2d8de102436c448dededf407d1215c_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjfe2d8de102436c448dededf407d1215c_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjfe2d8de102436c448dededf407d1215c_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj37165fb9732773f4e2c78ed5ec76f037_Decision</name>
        <label>JB_SalesforceObj37165fb9732773f4e2c78ed5ec76f037_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3b29411a9cce897be461f87016b65baa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj37165fb9732773f4e2c78ed5ec76f037</name>
            <conditionLogic>( ( (1 AND 2)  AND 3)  AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VoiceBot_PIC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Communication_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIC_01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj37165fb9732773f4e2c78ed5ec76f037_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj37165fb9732773f4e2c78ed5ec76f037</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj37165fb9732773f4e2c78ed5ec76f037_State_change_Decision</name>
        <label>JB_SalesforceObj37165fb9732773f4e2c78ed5ec76f037_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3b29411a9cce897be461f87016b65baa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj37165fb9732773f4e2c78ed5ec76f037</name>
            <conditionLogic>NOT  ( ( (1 AND 2)  AND 3)  AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VoiceBot_PIC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Communication_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIC_01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj37165fb9732773f4e2c78ed5ec76f037_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj37165fb9732773f4e2c78ed5ec76f037</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj3b29411a9cce897be461f87016b65baa_Decision</name>
        <label>JB_SalesforceObj3b29411a9cce897be461f87016b65baa_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjaa68ec676d1636d9a13b94c6b594bfe1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj3b29411a9cce897be461f87016b65baa</name>
            <conditionLogic>( ( (1 AND 2)  AND 3)  AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AGENTE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Communication_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>CAMPCOMM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj3b29411a9cce897be461f87016b65baa_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj3b29411a9cce897be461f87016b65baa</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj3b29411a9cce897be461f87016b65baa_State_change_Decision</name>
        <label>JB_SalesforceObj3b29411a9cce897be461f87016b65baa_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjaa68ec676d1636d9a13b94c6b594bfe1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj3b29411a9cce897be461f87016b65baa</name>
            <conditionLogic>NOT  ( ( (1 AND 2)  AND 3)  AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AGENTE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Communication_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>CAMPCOMM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj3b29411a9cce897be461f87016b65baa_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj3b29411a9cce897be461f87016b65baa</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj450d2d449e472dd5be4c97c991f71f62_Decision</name>
        <label>JB_SalesforceObj450d2d449e472dd5be4c97c991f71f62_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj450d2d449e472dd5be4c97c991f71f62</name>
            <conditionLogic>( ( (1 AND 2)  AND 3)  AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AGENTE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Communication_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>CAMPAMM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj450d2d449e472dd5be4c97c991f71f62_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj450d2d449e472dd5be4c97c991f71f62</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj450d2d449e472dd5be4c97c991f71f62_State_change_Decision</name>
        <label>JB_SalesforceObj450d2d449e472dd5be4c97c991f71f62_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj450d2d449e472dd5be4c97c991f71f62</name>
            <conditionLogic>NOT  ( ( (1 AND 2)  AND 3)  AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AGENTE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Communication_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>CAMPAMM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj450d2d449e472dd5be4c97c991f71f62_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj450d2d449e472dd5be4c97c991f71f62</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj4b0353052834ebdeec2c51cc214054e9_Decision</name>
        <label>JB_SalesforceObj4b0353052834ebdeec2c51cc214054e9_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjecec8055a2e96031327b5cdaa1e34145</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj4b0353052834ebdeec2c51cc214054e9</name>
            <conditionLogic>( (1 AND 2)  AND  ( ( ( ( (3 OR 4)  OR 5)  OR 6)  OR 7)  OR 8) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KYC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Communication_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KYC_AGE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Communication_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KYC_AC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Communication_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KYC_AC_SMS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Communication_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KYC_BATCH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Communication_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STRONG_AUT_OTP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Communication_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KYC_AGE_SMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj4b0353052834ebdeec2c51cc214054e9_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj4b0353052834ebdeec2c51cc214054e9</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj6862a615698cd80b5cee3be32339673b_Decision</name>
        <label>JB_SalesforceObj6862a615698cd80b5cee3be32339673b_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjc1237da5ac932fa96ec8a7d5b1e04ab3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj6862a615698cd80b5cee3be32339673b</name>
            <conditionLogic>( (1 AND 2)  AND  ( ( (3 OR 4)  OR 5)  OR 6) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Communication_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SCAD-P-AAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Communication_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SCAD-P-AMPS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Communication_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SCAD-R-AAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Communication_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SCAD-R-AMPS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj6862a615698cd80b5cee3be32339673b_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj6862a615698cd80b5cee3be32339673b</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj6862a615698cd80b5cee3be32339673b_State_change_Decision</name>
        <label>JB_SalesforceObj6862a615698cd80b5cee3be32339673b_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjc1237da5ac932fa96ec8a7d5b1e04ab3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj6862a615698cd80b5cee3be32339673b</name>
            <conditionLogic>NOT  ( (1 AND 2)  AND  ( ( (3 OR 4)  OR 5)  OR 6) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Communication_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SCAD-P-AAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Communication_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SCAD-P-AMPS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Communication_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SCAD-R-AAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Communication_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SCAD-R-AMPS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj6862a615698cd80b5cee3be32339673b_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj6862a615698cd80b5cee3be32339673b</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj8c5dd86d12eddf433cfb5cb5180fcbbd_Decision</name>
        <label>JB_SalesforceObj8c5dd86d12eddf433cfb5cb5180fcbbd_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja5a48f653c3feaa02880dde1e946a268</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj8c5dd86d12eddf433cfb5cb5180fcbbd</name>
            <conditionLogic>(1 AND  ( (2 AND 3)  AND 4) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AREA PREVENTIVI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Communication_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AP_OKPAG_01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj8c5dd86d12eddf433cfb5cb5180fcbbd_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj8c5dd86d12eddf433cfb5cb5180fcbbd</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj8c5dd86d12eddf433cfb5cb5180fcbbd_State_change_Decision</name>
        <label>JB_SalesforceObj8c5dd86d12eddf433cfb5cb5180fcbbd_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja5a48f653c3feaa02880dde1e946a268</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj8c5dd86d12eddf433cfb5cb5180fcbbd</name>
            <conditionLogic>NOT  (1 AND  ( (2 AND 3)  AND 4) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AREA PREVENTIVI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Communication_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AP_OKPAG_01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj8c5dd86d12eddf433cfb5cb5180fcbbd_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj8c5dd86d12eddf433cfb5cb5180fcbbd</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj9f343b054bc919ad47be076e7f89b728_Decision</name>
        <label>JB_SalesforceObj9f343b054bc919ad47be076e7f89b728_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja98632a1adf1e555c33cebd7bd161dbe</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj9f343b054bc919ad47be076e7f89b728</name>
            <conditionLogic>( ( (1 AND 2)  AND 3)  AND  (4 OR 5) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REMOTEPAYMENT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Communication_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REMP_01</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Communication_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REMP_02</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj9f343b054bc919ad47be076e7f89b728_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj9f343b054bc919ad47be076e7f89b728</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj9f343b054bc919ad47be076e7f89b728_State_change_Decision</name>
        <label>JB_SalesforceObj9f343b054bc919ad47be076e7f89b728_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja98632a1adf1e555c33cebd7bd161dbe</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj9f343b054bc919ad47be076e7f89b728</name>
            <conditionLogic>NOT  ( ( (1 AND 2)  AND 3)  AND  (4 OR 5) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REMOTEPAYMENT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Communication_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REMP_01</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Communication_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REMP_02</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj9f343b054bc919ad47be076e7f89b728_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj9f343b054bc919ad47be076e7f89b728</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObja5a48f653c3feaa02880dde1e946a268_Decision</name>
        <label>JB_SalesforceObja5a48f653c3feaa02880dde1e946a268_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9f343b054bc919ad47be076e7f89b728</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObja5a48f653c3feaa02880dde1e946a268</name>
            <conditionLogic>( ( (1 AND 2)  AND  (3 OR 4) )  AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RINNOVI AAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RINNOVI NON AAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Communication_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>DipRC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObja5a48f653c3feaa02880dde1e946a268_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObja5a48f653c3feaa02880dde1e946a268</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObja5a48f653c3feaa02880dde1e946a268_State_change_Decision</name>
        <label>JB_SalesforceObja5a48f653c3feaa02880dde1e946a268_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9f343b054bc919ad47be076e7f89b728</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObja5a48f653c3feaa02880dde1e946a268</name>
            <conditionLogic>NOT  ( ( (1 AND 2)  AND  (3 OR 4) )  AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RINNOVI AAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RINNOVI NON AAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Communication_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>DipRC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja5a48f653c3feaa02880dde1e946a268_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObja5a48f653c3feaa02880dde1e946a268</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObja98632a1adf1e555c33cebd7bd161dbe_Decision</name>
        <label>JB_SalesforceObja98632a1adf1e555c33cebd7bd161dbe_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj450d2d449e472dd5be4c97c991f71f62</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObja98632a1adf1e555c33cebd7bd161dbe</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mensilizzazione</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObja98632a1adf1e555c33cebd7bd161dbe_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObja98632a1adf1e555c33cebd7bd161dbe</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjaa68ec676d1636d9a13b94c6b594bfe1_Decision</name>
        <label>JB_SalesforceObjaa68ec676d1636d9a13b94c6b594bfe1_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjf427203b51f5935f547cd7746c88c848</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjaa68ec676d1636d9a13b94c6b594bfe1</name>
            <conditionLogic>( ( (1 AND 2)  AND 3)  AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AGENTE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Communication_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>CAMPINFO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjaa68ec676d1636d9a13b94c6b594bfe1_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjaa68ec676d1636d9a13b94c6b594bfe1</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjaa68ec676d1636d9a13b94c6b594bfe1_State_change_Decision</name>
        <label>JB_SalesforceObjaa68ec676d1636d9a13b94c6b594bfe1_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjf427203b51f5935f547cd7746c88c848</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjaa68ec676d1636d9a13b94c6b594bfe1</name>
            <conditionLogic>NOT  ( ( (1 AND 2)  AND 3)  AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AGENTE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Communication_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>CAMPINFO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjaa68ec676d1636d9a13b94c6b594bfe1_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjaa68ec676d1636d9a13b94c6b594bfe1</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjc1237da5ac932fa96ec8a7d5b1e04ab3_Decision</name>
        <label>JB_SalesforceObjc1237da5ac932fa96ec8a7d5b1e04ab3_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjfe2d8de102436c448dededf407d1215c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjc1237da5ac932fa96ec8a7d5b1e04ab3</name>
            <conditionLogic>( ( (1 AND 2)  AND 3)  AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AREA PREVENTIVI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Communication_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AP_ONDIH_01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjc1237da5ac932fa96ec8a7d5b1e04ab3_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjc1237da5ac932fa96ec8a7d5b1e04ab3</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjc1237da5ac932fa96ec8a7d5b1e04ab3_State_change_Decision</name>
        <label>JB_SalesforceObjc1237da5ac932fa96ec8a7d5b1e04ab3_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjfe2d8de102436c448dededf407d1215c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjc1237da5ac932fa96ec8a7d5b1e04ab3</name>
            <conditionLogic>NOT  ( ( (1 AND 2)  AND 3)  AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AREA PREVENTIVI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Communication_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AP_ONDIH_01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjc1237da5ac932fa96ec8a7d5b1e04ab3_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjc1237da5ac932fa96ec8a7d5b1e04ab3</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjecec8055a2e96031327b5cdaa1e34145_Decision</name>
        <label>JB_SalesforceObjecec8055a2e96031327b5cdaa1e34145_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj6862a615698cd80b5cee3be32339673b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjecec8055a2e96031327b5cdaa1e34145</name>
            <conditionLogic>( ( (1 AND 2)  AND 3)  AND  (4 OR 5) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Invio_push__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Contact_Master_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Notification_Typology__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Notification_Typology__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjecec8055a2e96031327b5cdaa1e34145_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjecec8055a2e96031327b5cdaa1e34145</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjecec8055a2e96031327b5cdaa1e34145_State_change_Decision</name>
        <label>JB_SalesforceObjecec8055a2e96031327b5cdaa1e34145_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj6862a615698cd80b5cee3be32339673b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjecec8055a2e96031327b5cdaa1e34145</name>
            <conditionLogic>NOT  ( ( (1 AND 2)  AND 3)  AND  (4 OR 5) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Invio_push__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Contact_Master_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Notification_Typology__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Notification_Typology__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjecec8055a2e96031327b5cdaa1e34145_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjecec8055a2e96031327b5cdaa1e34145</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjf427203b51f5935f547cd7746c88c848_Decision</name>
        <label>JB_SalesforceObjf427203b51f5935f547cd7746c88c848_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj4b0353052834ebdeec2c51cc214054e9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjf427203b51f5935f547cd7746c88c848</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAUZIONI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjf427203b51f5935f547cd7746c88c848_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjf427203b51f5935f547cd7746c88c848</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjfe2d8de102436c448dededf407d1215c_Decision</name>
        <label>JB_SalesforceObjfe2d8de102436c448dededf407d1215c_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj8c5dd86d12eddf433cfb5cb5180fcbbd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjfe2d8de102436c448dededf407d1215c</name>
            <conditionLogic>( ( (1 AND 2)  AND 3)  AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RINNOVI AAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Communication_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>RC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjfe2d8de102436c448dededf407d1215c_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjfe2d8de102436c448dededf407d1215c</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjfe2d8de102436c448dededf407d1215c_State_change_Decision</name>
        <label>JB_SalesforceObjfe2d8de102436c448dededf407d1215c_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj8c5dd86d12eddf433cfb5cb5180fcbbd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjfe2d8de102436c448dededf407d1215c</name>
            <conditionLogic>NOT  ( ( (1 AND 2)  AND 3)  AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RINNOVI AAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Communication_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>RC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjfe2d8de102436c448dededf407d1215c_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjfe2d8de102436c448dededf407d1215c</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Communications_to_customer_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj37165fb9732773f4e2c78ed5ec76f037</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Communications_to_customer__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Communications_to_customer__c</objectType>
    </variables>
</Flow>
