force-app/main/default/flows/JBSystemFlow_Massive_Communication_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObjb2f0995ea6eb5d5e430a7879db84ef60_FireJBTrigger</name>
        <label>SalesforceObjb2f0995ea6eb5d5e430a7879db84ef60_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;Contact__c&quot;,
  &quot;relationshipName&quot;: &quot;Contact__r&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Contact&quot;,
  &quot;fieldName&quot;: &quot;Id&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Massive_Communication__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjb2f0995ea6eb5d5e430a7879db84ef60</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7300068</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account__r&quot;,&quot;dePrefix&quot;:&quot;Massive_Communication__c:Account__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;LastName&quot;,&quot;FirstName&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;Massive_Communication__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Massive_Communication__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;NDG__c&quot;,&quot;Type__c&quot;,&quot;Status__c&quot;,&quot;IsDeleted&quot;,&quot;Policy__c&quot;,&quot;Account__c&quot;,&quot;Contact__c&quot;,&quot;EOS_Code__c&quot;,&quot;CreatedById&quot;,&quot;CreatedDate&quot;,&quot;TECH_NDG__c&quot;,&quot;RecordTypeId&quot;,&quot;Send_Date__c&quot;,&quot;Mail_Type__c&quot;,&quot;TECH_Ramo__c&quot;,&quot;Send_Time__c&quot;,&quot;EOS_SubCode__c&quot;,&quot;SystemModstamp&quot;,&quot;TECH_CF_Piva__c&quot;,&quot;Policy_Number__c&quot;,&quot;LastModifiedDate&quot;,&quot;Document_Type__c&quot;,&quot;LastModifiedById&quot;,&quot;Codice_Agenzia__c&quot;,&quot;TECH_Policy_Key__c&quot;,&quot;AU2I_Targa_Auto__c&quot;,&quot;MC_Email_Opened__c&quot;,&quot;Send_Lot_Number__c&quot;,&quot;AU2I_CAP_Agenzia__c&quot;,&quot;ID_Communication__c&quot;,&quot;MC_Email_Clicked__c&quot;,&quot;AU2I_mail_Agenzia__c&quot;,&quot;Send_Error_Detail__c&quot;,&quot;TECH_Policy_Number__c&quot;,&quot;TECH_Email_Address__c&quot;,&quot;MC_Email_Opened_Date__c&quot;,&quot;MC_Email_Clicked_Date__c&quot;,&quot;Document_Univocal_Key__c&quot;,&quot;AU2I_Localita_Agenzia__c&quot;,&quot;AU2I_Indirizzo_Agenzia__c&quot;,&quot;AU2I_Codice_Subagenzia__c&quot;,&quot;AU2I_Effetto_quietanza__c&quot;,&quot;TECH_Status_Update_Date__c&quot;,&quot;AU2I_Descrizione_Agenzia__c&quot;,&quot;AU2I_Ragione_sociale_Agenzia__c&quot;,&quot;AU2I_Marca_e_modello_veicolo__c&quot;,&quot;AU2I_Numero_di_telefono_Agenzia__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjb2f0995ea6eb5d5e430a7879db84ef60</name>
        <label>JB_Decision_Null_Check_SalesforceObjb2f0995ea6eb5d5e430a7879db84ef60</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjb2f0995ea6eb5d5e430a7879db84ef60_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObjb2f0995ea6eb5d5e430a7879db84ef60_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjb2f0995ea6eb5d5e430a7879db84ef60_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjb2f0995ea6eb5d5e430a7879db84ef60_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjb2f0995ea6eb5d5e430a7879db84ef60_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjb2f0995ea6eb5d5e430a7879db84ef60_Decision</name>
        <label>JB_SalesforceObjb2f0995ea6eb5d5e430a7879db84ef60_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjb2f0995ea6eb5d5e430a7879db84ef60</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjb2f0995ea6eb5d5e430a7879db84ef60_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjb2f0995ea6eb5d5e430a7879db84ef60</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjb2f0995ea6eb5d5e430a7879db84ef60_State_change_Decision</name>
        <label>JB_SalesforceObjb2f0995ea6eb5d5e430a7879db84ef60_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjb2f0995ea6eb5d5e430a7879db84ef60</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjb2f0995ea6eb5d5e430a7879db84ef60_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjb2f0995ea6eb5d5e430a7879db84ef60</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Massive_Communication_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjb2f0995ea6eb5d5e430a7879db84ef60</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Massive_Communication__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Massive_Communication__c</objectType>
    </variables>
</Flow>
