force-app/main/default/flows/Knowledge_After_Created_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AAI_Team_Agenti</name>
        <label>AAI Team Agenti</label>
        <locationX>958</locationX>
        <locationY>438</locationY>
        <actionName>Knowledge__kav.Knowledge_Sending_notification_to_AAI_Team_Agenti</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>LoopForGroupNamesSelected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorRecipientsBlanks</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Knowledge__kav.Knowledge_Sending_notification_to_AAI_Team_Agenti</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>AAI_Team_Clienti_alert</name>
        <label>AAI Team Clienti</label>
        <locationX>372</locationX>
        <locationY>1466</locationY>
        <actionName>Knowledge__kav.Knowledge_Sending_notification_to_AAI_Team_Clienti</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>LoopForGroupNamesSelected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorRecipientsBlanks</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Knowledge__kav.Knowledge_Sending_notification_to_AAI_Team_Clienti</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Agenzia_Dipendenti</name>
        <label>Agenzia Dipendenti</label>
        <locationX>486</locationX>
        <locationY>1803</locationY>
        <actionName>Knowledge__kav.Knowledge_Sending_notification_to_Agenzia_Dipendenti</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>LoopForGroupNamesSelected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorRecipientsBlanks</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Knowledge__kav.Knowledge_Sending_notification_to_Agenzia_Dipendenti</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>AMPS_Financial</name>
        <label>AMPS Financial</label>
        <locationX>696</locationX>
        <locationY>709</locationY>
        <actionName>Knowledge__kav.Knowledge_Sending_notification_to_AMPS_Financial</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>LoopForGroupNamesSelected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorRecipientsBlanks</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Knowledge__kav.Knowledge_Sending_notification_to_AMPS_Financial</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>AXA_Caring_Salute</name>
        <label>AXA Caring Salute</label>
        <locationX>764</locationX>
        <locationY>2071</locationY>
        <actionName>Knowledge__kav.Knowledge_Sending_notification_to_AXA_Caring_Salute</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>LoopForGroupNamesSelected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorRecipientsBlanks</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Knowledge__kav.Knowledge_Sending_notification_to_AXA_Caring_Salute</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Knowledge_Sending_notification_to_AMPS_MOTOR_Sinistri_TP</name>
        <label>Knowledge - Sending notification to AMPS MOTOR_Sinistri_TP</label>
        <locationX>836</locationX>
        <locationY>138</locationY>
        <actionName>Knowledge__kav.Knowledge_Sending_notification_to_AMPS_MOTOR_Sinistri_TP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>LoopForGroupNamesSelected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorRecipientsBlanks</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Knowledge__kav.Knowledge_Sending_notification_to_AMPS_MOTOR_Sinistri_TP</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Outsourcer_Sinistri</name>
        <label>Outsourcer Sinistri</label>
        <locationX>677</locationX>
        <locationY>1176</locationY>
        <actionName>Knowledge__kav.Knowledge_Sending_notification_to_Outsourcer_Sinistri</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>LoopForGroupNamesSelected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorRecipientsBlanks</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Knowledge__kav.Knowledge_Sending_notification_to_Outsourcer_Sinistri</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Reclami_Atti_Giudiziari_CTL</name>
        <label>Reclami Atti Giudiziari CTL</label>
        <locationX>699</locationX>
        <locationY>899</locationY>
        <actionName>Knowledge__kav.Knowledge_Sending_notification_to_Reclami_Atti_Giudiziari_CTL</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>LoopForGroupNamesSelected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorRecipientsBlanks</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Knowledge__kav.Knowledge_Sending_notification_to_Reclami_Atti_Giudiziari_CTL</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_to_KM_AMPS_NO_Motor_L_S</name>
        <label>Send to KM AMPS NO Motor L&amp;S</label>
        <locationX>1029</locationX>
        <locationY>50</locationY>
        <actionName>Knowledge__kav.Knowledge_Sending_notification_to_KM_AMPS_NO_Motor_L_S</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>LoopForGroupNamesSelected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorRecipientsBlanks</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Knowledge__kav.Knowledge_Sending_notification_to_KM_AMPS_NO_Motor_L_S</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_to_KM_AMPS_NO_Motor_P_C</name>
        <label>Send to KM AMPS NO Motor P&amp;C</label>
        <locationX>1166</locationX>
        <locationY>2401</locationY>
        <actionName>Knowledge__kav.Knowledge_Sending_notification_to_KM_AMPS_NO_Motor_P_C</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>LoopForGroupNamesSelected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorRecipientsBlanks</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Knowledge__kav.Knowledge_Sending_notification_to_KM_AMPS_NO_Motor_P_C</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AddOneByOneExtract</name>
        <label>AddOneByOneExtract</label>
        <locationX>1831</locationX>
        <locationY>432</locationY>
        <assignmentItems>
            <assignToReference>PickListCollectionExtracted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaOnePicklistValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>removePicklistValueTop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddValueToVars</name>
        <label>AddValueToVars</label>
        <locationX>2273</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>valueListMultiPickList</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Destinatario_Notifica__c};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkNullValueComes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorRecipientsBlanks</name>
        <label>ErrorRecipientsBlanks</label>
        <locationX>50</locationX>
        <locationY>1032</locationY>
        <assignmentItems>
            <assignToReference>messageOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error Recipients. At leats one User on Group</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopForGroupNamesSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>ok ends all flow</description>
        <name>MessageENDs</name>
        <label>MessageENDs</label>
        <locationX>2386</locationX>
        <locationY>912</locationY>
        <assignmentItems>
            <assignToReference>messageOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OK ends sucess</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>ok ends all flow</description>
        <name>MessageENDs_0</name>
        <label>MessageENDs</label>
        <locationX>2292</locationX>
        <locationY>1138</locationY>
        <assignmentItems>
            <assignToReference>messageOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Picklist Value Non Alert</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopForGroupNamesSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>removePicklistValueTop</name>
        <label>removePicklistValueTop</label>
        <locationX>2009</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>valueListMultiPickList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>removeOnePicklistValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkNullValueComes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkNullValueComes</name>
        <label>checkNullValueComes</label>
        <locationX>2095</locationX>
        <locationY>712</locationY>
        <defaultConnector>
            <targetReference>AddOneByOneExtract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNull_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>valueListMultiPickList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopForGroupNamesSelected</targetReference>
            </connector>
            <label>isNull_OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionByPickListValue</name>
        <label>decisionByPickListValue</label>
        <locationX>1715</locationX>
        <locationY>1488</locationY>
        <defaultConnector>
            <targetReference>MessageENDs_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bancassurance_MOTOR_Sinistri_TP_desc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopForGroupNamesSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KM AMPS Motor_Sinistri_TP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Knowledge_Sending_notification_to_AMPS_MOTOR_Sinistri_TP</targetReference>
            </connector>
            <label>AMPS Motor_Sinistri_TP</label>
        </rules>
        <rules>
            <name>AAI_Team_Agenti_desc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopForGroupNamesSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KM AAI Team Agenti</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AAI_Team_Agenti</targetReference>
            </connector>
            <label>AAI Team Agenti</label>
        </rules>
        <rules>
            <name>AAI_Team_Clienti_desc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopForGroupNamesSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KM AAI Team Clienti</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AAI_Team_Clienti_alert</targetReference>
            </connector>
            <label>AAI Team Clienti</label>
        </rules>
        <rules>
            <name>Reclami_Atti_Giudiziari_CTL_desc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopForGroupNamesSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KM Reclami Atti Giudiziari CTL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reclami_Atti_Giudiziari_CTL</targetReference>
            </connector>
            <label>Reclami Atti Giudiziari CTL</label>
        </rules>
        <rules>
            <name>Agenzia_Dipendenti_desc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopForGroupNamesSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KM Agenzia Dipendenti</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agenzia_Dipendenti</targetReference>
            </connector>
            <label>Agenzia Dipendenti</label>
        </rules>
        <rules>
            <name>AMPS_Financialdesc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopForGroupNamesSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KM AMPS Financial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AMPS_Financial</targetReference>
            </connector>
            <label>AMPS Financial</label>
        </rules>
        <rules>
            <name>Outsourcer_Sinistridesc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopForGroupNamesSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KM Outsourcer Sinistri</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outsourcer_Sinistri</targetReference>
            </connector>
            <label>Outsourcer Sinistri</label>
        </rules>
        <rules>
            <name>AXA_Caring_SaluteDesc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopForGroupNamesSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KM AXA Caring Salute</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AXA_Caring_Salute</targetReference>
            </connector>
            <label>AXA Caring Salute</label>
        </rules>
        <rules>
            <name>KM_AMPS_NO_Motor_P_C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopForGroupNamesSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KM AMPS NO Motor P&amp;C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_KM_AMPS_NO_Motor_P_C</targetReference>
            </connector>
            <label>KM AMPS NO Motor P&amp;C</label>
        </rules>
        <rules>
            <name>KM_AMPS_NO_Motor_L_S</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopForGroupNamesSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KM AMPS NO Motor L&amp;S</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_KM_AMPS_NO_Motor_L_S</targetReference>
            </connector>
            <label>KM AMPS NO Motor L&amp;S</label>
        </rules>
    </decisions>
    <decisions>
        <name>recordTypedDesicion</name>
        <label>recordTypedDesicion</label>
        <locationX>2577</locationX>
        <locationY>621</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RT_news</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>News</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddValueToVars</targetReference>
            </connector>
            <label>RT_news</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formulaOnePicklistValue</name>
        <dataType>String</dataType>
        <expression>TRIM( 
     LEFT(
             {!valueListMultiPickList}, 
              FIND(
                     &quot;;&quot;,{!valueListMultiPickList}
             ) - 1
       ) 
 )</expression>
    </formulas>
    <formulas>
        <description>remove first</description>
        <name>removeOnePicklistValue</name>
        <dataType>String</dataType>
        <expression>TRIM(
     SUBSTITUTE({!valueListMultiPickList},  {!formulaOnePicklistValue}+&quot;;&quot;, &quot;&quot;)
 )</expression>
    </formulas>
    <formulas>
        <name>URL_ORG_hosting</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_260} , FIND(&apos;/services&apos;,{!$Api.Enterprise_Server_URL_260} ))</expression>
    </formulas>
    <interviewLabel>Knowledge After Created or Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Knowledge After Created Update</label>
    <loops>
        <description>Until 9 max, never hits di governal limit on get for this version</description>
        <name>LoopForGroupNamesSelected</name>
        <label>LoopForGroupNamesSelected</label>
        <locationX>1639</locationX>
        <locationY>1015</locationY>
        <collectionReference>PickListCollectionExtracted</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decisionByPickListValue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>MessageENDs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>2675</locationX>
        <locationY>222</locationY>
        <connector>
            <targetReference>recordTypedDesicion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseManagement_Send_Email_Notification__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Count_Feedback_Positivi__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Count_Feedback_Negativi__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Knowledge__kav</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Body--</description>
        <name>Body_ArticleKnowledgePublished</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Gentile Advisor,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;La presente per notificarti l&apos;avvenuta pubblicazione di un nuovo articolo nella sezione Knowledge.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Puoi trovarlo al seguente link:  &lt;/span&gt;&lt;a href=&quot;{!URL_ORG_hosting}{!$Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px;&quot;&gt;clicca qui&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Saluti,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Smart Center&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Group_ID_found_byName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>only for debug</description>
        <name>messageOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PickListCollectionExtracted</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Pubblicazione Articolo {!Knowledge__kav.Title}</description>
        <name>Sudject_ArticleKnowledgePublished</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Pubblicazione Articolo {!$Record.Title}</stringValue>
        </value>
    </variables>
    <variables>
        <description>value wit ;</description>
        <name>valueListMultiPickList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
