force-app/main/default/flows/Lead_Email_Notification_Web_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Assegnazione_Lead_MPS_a_coda_di_agenzia</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>Send Email To Agency</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <actionName>Lead.Assegnazione_Lead_MPS_a_coda_di_agenzia</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Assegnazione_Lead_MPS_a_coda_di_agenzia</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_sending</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Send Email</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Lead.Email_sending</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Email_sending</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_sending_cliente_AXA</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Send Email cliente AXA</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Lead.Email_sending_cliente_AXA</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Email_sending_cliente_AXA</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_sending_single_assignment</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Email sending single assignment</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>Lead.Email_sending_single_assignment</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Email_sending_single_assignment</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_Riassignment</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Send email riassignment</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>Lead.Email_Riassignment</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Email_Riassignment</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_Does_Not_Answer</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Send email Lead does not answer</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>Lead.Email_Does_Not_Answer</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Email_Does_Not_Answer</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>New Owner Web</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>Reset blocked email notification</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_pmetdec</targetReference>
            </connector>
            <label>New Owner MPS</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision14</name>
        <label>myDecision14</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_pmetdec</targetReference>
            </connector>
            <label>New Owner Lead MPS cliente AXA</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>New Owner Web cliente AXA</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>New owner Agency User</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Riassing Lead</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Lead does not answer</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_13_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1300</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_13_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_13_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_13_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_15_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1500</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_15_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_15_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_15_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>Lead email notification when Lead source is Web and MPS Lead Management</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(ISPICKVAL([Lead].TECH_Company__c , &apos;AAI&apos;),ISCHANGED([Lead].OwnerId ),[Lead].TECH_Send_Email_Notification__c,ISPICKVAL([Lead].LeadSource, &apos;Web&apos;),NOT(OR(ISPICKVAL([Lead].Landing_Page__c,&apos;&apos;),ISPICKVAL([Lead].Landing_Page__c,&apos;Centri Diagnostici&apos;))),CASESAFEID([Lead].OwnerId) &lt;&gt; CASESAFEID($User.Id),[Lead].Numero_assegnazioni_eseguite__c = 1,NOT([Lead].TECH_duplicatedwithClient__c),LEFT([Lead].OwnerId, 3)==&apos;00G&apos;,[Lead].RecordType.DeveloperName &lt;&gt;&apos;eCommerce&apos; )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL({!myVariable_current.TECH_Company__c} , &apos;AAI&apos;),ISCHANGED({!myVariable_current.OwnerId} ),{!myVariable_current.TECH_Send_Email_Notification__c},ISPICKVAL({!myVariable_current.LeadSource}, &apos;Web&apos;),NOT(OR(ISPICKVAL({!myVariable_current.Landing_Page__c},&apos;&apos;),ISPICKVAL({!myVariable_current.Landing_Page__c},&apos;Centri Diagnostici&apos;))),CASESAFEID({!myVariable_current.OwnerId}) &lt;&gt; CASESAFEID({!$User.Id}),{!myVariable_current.Numero_assegnazioni_eseguite__c} = 1,NOT({!myVariable_current.TECH_duplicatedwithClient__c}),LEFT({!myVariable_current.OwnerId}, 3)==&apos;00G&apos;,{!myVariable_current.RecordType.DeveloperName} &lt;&gt;&apos;eCommerce&apos; )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(ISPICKVAL([Lead].TECH_Company__c , &apos;AAI&apos;), OR(ISCHANGED([Lead].OwnerId ), ISNEW() ) , ISPICKVAL([Lead].LeadSource, &apos;Web&apos;), NOT(ISPICKVAL([Lead].Status , &apos;Duplicated Lead&apos;)),[Lead].RecordType.DeveloperName &lt;&gt;&apos;eCommerce&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL({!myVariable_current.TECH_Company__c} , &apos;AAI&apos;), OR(ISCHANGED({!myVariable_current.OwnerId} ), ISNEW() ) , ISPICKVAL({!myVariable_current.LeadSource}, &apos;Web&apos;), NOT(ISPICKVAL({!myVariable_current.Status} , &apos;Duplicated Lead&apos;)),{!myVariable_current.RecordType.DeveloperName} &lt;&gt;&apos;eCommerce&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
      OR(
        ISCHANGED([Lead].OwnerId),
        ISNEW()
    ),
    ISPICKVAL([Lead].LeadSource, &apos;Lead da MPS&apos;),
    LEFT([Lead].OwnerId, 3)==&apos;00G&apos;,
    BEGINS([Lead].Owner:Queue.DeveloperName, &apos;Coda_Agenzia&apos;),
    [Lead].RecordType.DeveloperName=&apos;Lead_MPS&apos;
    )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>AND(
      OR(
        ISCHANGED({!myVariable_current.OwnerId}),
        ISNEW()
    ),
    ISPICKVAL({!myVariable_current.LeadSource}, &apos;Lead da MPS&apos;),
    LEFT({!myVariable_current.OwnerId}, 3)==&apos;00G&apos;,
    BEGINS({!myVariable_current.Owner:Queue.DeveloperName}, &apos;Coda_Agenzia&apos;),
    {!myVariable_current.RecordType.DeveloperName}=&apos;Lead_MPS&apos;
    )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
      OR(
        ISCHANGED([Lead].OwnerId),
        ISNEW()
    ),
    ISPICKVAL([Lead].LeadSource, &apos;Lead da MPS&apos;),
    LEFT([Lead].OwnerId, 3)==&apos;00G&apos;,
    BEGINS([Lead].Owner:Queue.DeveloperName, &apos;Coda_Agenzia&apos;),
    [Lead].RecordType.DeveloperName=&apos;Lead_MPS&apos;
    )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
      OR(
        ISCHANGED({!myVariable_old.OwnerId}),
        ISNEW()
    ),
    ISPICKVAL({!myVariable_old.LeadSource}, &apos;Lead da MPS&apos;),
    LEFT({!myVariable_old.OwnerId}, 3)==&apos;00G&apos;,
    BEGINS({!myVariable_old.Owner:Queue.DeveloperName}, &apos;Coda_Agenzia&apos;),
    {!myVariable_old.RecordType.DeveloperName}=&apos;Lead_MPS&apos;
    )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
    ISNEW(),
    ISPICKVAL([Lead].LeadSource, &apos;Lead da MPS&apos;),
    [Lead].RecordType.DeveloperName=&apos;Lead_MPS&apos;,
    ([Lead].Gi_cliente_AXA__c = true)
    )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    ISNEW(),
    ISPICKVAL({!myVariable_current.LeadSource}, &apos;Lead da MPS&apos;),
    {!myVariable_current.RecordType.DeveloperName}=&apos;Lead_MPS&apos;,
    ({!myVariable_current.Gi_cliente_AXA__c} = true)
    )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
    ISNEW(),
    ISPICKVAL([Lead].LeadSource, &apos;Lead da MPS&apos;),
    [Lead].RecordType.DeveloperName=&apos;Lead_MPS&apos;,
    ([Lead].Gi_cliente_AXA__c = true)
    )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    ISNEW(),
    ISPICKVAL({!myVariable_old.LeadSource}, &apos;Lead da MPS&apos;),
    {!myVariable_old.RecordType.DeveloperName}=&apos;Lead_MPS&apos;,
    ({!myVariable_old.Gi_cliente_AXA__c} = true)
    )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(ISPICKVAL([Lead].TECH_Company__c , &apos;AAI&apos;),ISCHANGED([Lead].OwnerId ),[Lead].TECH_Send_Email_Notification__c,ISPICKVAL([Lead].LeadSource, &apos;Web&apos;),NOT(OR(ISPICKVAL([Lead].Landing_Page__c,&apos;&apos;),ISPICKVAL([Lead].Landing_Page__c,&apos;Centri Diagnostici&apos;))),CASESAFEID([Lead].OwnerId) &lt;&gt; CASESAFEID($User.Id),[Lead].Numero_assegnazioni_eseguite__c = 1,[Lead].TECH_duplicatedwithClient__c,[Lead].RecordType.DeveloperName &lt;&gt;&apos;eCommerce&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL({!myVariable_current.TECH_Company__c} , &apos;AAI&apos;),ISCHANGED({!myVariable_current.OwnerId} ),{!myVariable_current.TECH_Send_Email_Notification__c},ISPICKVAL({!myVariable_current.LeadSource}, &apos;Web&apos;),NOT(OR(ISPICKVAL({!myVariable_current.Landing_Page__c},&apos;&apos;),ISPICKVAL({!myVariable_current.Landing_Page__c},&apos;Centri Diagnostici&apos;))),CASESAFEID({!myVariable_current.OwnerId}) &lt;&gt; CASESAFEID({!$User.Id}),{!myVariable_current.Numero_assegnazioni_eseguite__c} = 1,{!myVariable_current.TECH_duplicatedwithClient__c},{!myVariable_current.RecordType.DeveloperName} &lt;&gt;&apos;eCommerce&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(ISPICKVAL([Lead].TECH_Company__c , &apos;AAI&apos;),ISCHANGED([Lead].OwnerId ),[Lead].TECH_Send_Email_Notification__c,ISPICKVAL([Lead].LeadSource, &apos;Web&apos;),NOT(OR(ISPICKVAL([Lead].Landing_Page__c,&apos;&apos;),ISPICKVAL([Lead].Landing_Page__c,&apos;Centri Diagnostici&apos;))),CASESAFEID([Lead].OwnerId) &lt;&gt; CASESAFEID($User.Id),NOT([Lead].TECH_duplicatedwithClient__c),NOT(LEFT([Lead].OwnerId, 3)==&apos;00G&apos;),[Lead].RecordType.DeveloperName &lt;&gt;&apos;eCommerce&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL({!myVariable_current.TECH_Company__c} , &apos;AAI&apos;),ISCHANGED({!myVariable_current.OwnerId} ),{!myVariable_current.TECH_Send_Email_Notification__c},ISPICKVAL({!myVariable_current.LeadSource}, &apos;Web&apos;),NOT(OR(ISPICKVAL({!myVariable_current.Landing_Page__c},&apos;&apos;),ISPICKVAL({!myVariable_current.Landing_Page__c},&apos;Centri Diagnostici&apos;))),CASESAFEID({!myVariable_current.OwnerId}) &lt;&gt; CASESAFEID({!$User.Id}),NOT({!myVariable_current.TECH_duplicatedwithClient__c}),NOT(LEFT({!myVariable_current.OwnerId}, 3)==&apos;00G&apos;),{!myVariable_current.RecordType.DeveloperName} &lt;&gt;&apos;eCommerce&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(ISPICKVAL([Lead].TECH_Company__c , &apos;AAI&apos;),ISCHANGED([Lead].OwnerId), ISCHANGED([Lead].Agency_Code__c),[Lead].TECH_Send_Email_Notification__c,ISPICKVAL([Lead].LeadSource, &apos;Web&apos;),NOT(ISPICKVAL([Lead].Landing_Page__c,&apos;&apos;)),CASESAFEID([Lead].OwnerId) &lt;&gt; CASESAFEID($User.Id),[Lead].Numero_assegnazioni_eseguite__c &gt; 1,[Lead].RecordType.DeveloperName &lt;&gt;&apos;eCommerce&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL({!myVariable_current.TECH_Company__c} , &apos;AAI&apos;),ISCHANGED({!myVariable_current.OwnerId}), ISCHANGED({!myVariable_current.Agency_Code__c}),{!myVariable_current.TECH_Send_Email_Notification__c},ISPICKVAL({!myVariable_current.LeadSource}, &apos;Web&apos;),NOT(ISPICKVAL({!myVariable_current.Landing_Page__c},&apos;&apos;)),CASESAFEID({!myVariable_current.OwnerId}) &lt;&gt; CASESAFEID({!$User.Id}),{!myVariable_current.Numero_assegnazioni_eseguite__c} &gt; 1,{!myVariable_current.RecordType.DeveloperName} &lt;&gt;&apos;eCommerce&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(ISPICKVAL([Lead].TECH_Company__c , &apos;AAI&apos;),ISCHANGED([Lead].TECH_Email_Does_Not_Answer__c),[Lead].TECH_Email_Does_Not_Answer__c,[Lead].TECH_Send_Email_Notification__c,ISPICKVAL([Lead].LeadSource, &apos;Web&apos;),NOT(ISPICKVAL([Lead].Landing_Page__c,&apos;&apos;)),[Lead].RecordType.DeveloperName &lt;&gt;&apos;eCommerce&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL({!myVariable_current.TECH_Company__c} , &apos;AAI&apos;),ISCHANGED({!myVariable_current.TECH_Email_Does_Not_Answer__c}),{!myVariable_current.TECH_Email_Does_Not_Answer__c},{!myVariable_current.TECH_Send_Email_Notification__c},ISPICKVAL({!myVariable_current.LeadSource}, &apos;Web&apos;),NOT(ISPICKVAL({!myVariable_current.Landing_Page__c},&apos;&apos;)),{!myVariable_current.RecordType.DeveloperName} &lt;&gt;&apos;eCommerce&apos;)</expression>
    </formulas>
    <interviewLabel>Lead_Email_Notification_Web_v2-7_InterviewLabel</interviewLabel>
    <label>Lead: Email Web And MPS</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Lead]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>Reset Email Notification</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>TECH Send Email Notification</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>TECH_Send_Email_Notification__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Lead]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_15_A1</name>
        <label>Assegnazione MPS gia cliente</label>
        <locationX>1500</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Group;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideLabel</name>
                <value>
                    <stringValue>Coda_Lead_Commercial_Line</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Queue</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <stringValue>00G08000001uLGzEAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Suspended</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
