force-app/main/default/flows/Lead_send_SMS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendSMS</name>
        <label>sendSMS</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>LeadManagementECommerce</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leads</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LeadManagementECommerce</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Check_conditions</name>
        <label>Check conditions</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>callMC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckConditions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendSMS</targetReference>
            </connector>
            <label>callMC</label>
        </rules>
    </decisions>
    <formulas>
        <name>CheckConditions</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.RecordType.DeveloperName} = &apos;eCommerce&apos; &amp;&amp;
LEFT({!$Record.OwnerId}, 3) =  &apos;00G&apos; &amp;&amp;
LEFT({!$Record.Owner:Group.DeveloperName}, 12) = &apos;Coda_Agenzia&apos; &amp;&amp;
(
ISNEW() ||
(
ISCHANGED({!$Record.OwnerId}) 
)
)
&amp;&amp;
(({!AssignmentLimitSMS} != null &amp;&amp;
{!$Record.Numero_assegnazioni_eseguite__c} &lt;= VALUE({!AssignmentLimitSMS} )) || {!AssignmentLimitSMS} == null)</expression>
    </formulas>
    <interviewLabel>Send SMS on ECommerce Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead send SMS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Assignment_Limits</name>
        <label>Assignment Limits</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_conditions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SMSAssignmentLimit</stringValue>
            </value>
        </filters>
        <object>AAI_Code_Variables__c</object>
        <outputAssignments>
            <assignToReference>AssignmentLimitSMS</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assignment_Limits</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignmentLimitSMS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
