force-app/main/default/flows/LetiziaBot_Changes_Owner_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Disable_Trigger_on_Case_and_Chat_Transcript</name>
        <label>Disable Trigger on Case and Chat Transcript</label>
        <locationX>304</locationX>
        <locationY>257</locationY>
        <actionName>CaseHandlerOffTriggerInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>getOwnerID_byDevName</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>CaseHandlerOffTriggerInvocable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AggiornaMessaError</name>
        <label>AggiornaMessaError</label>
        <locationX>746</locationX>
        <locationY>364</locationY>
        <assignmentItems>
            <assignToReference>MessageOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KO: Non ho trovato la Coda  </stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>UpdateMessageOK</name>
        <label>UpdateMessageOK</label>
        <locationX>1026</locationX>
        <locationY>136</locationY>
        <assignmentItems>
            <assignToReference>MessageOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OK</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>QueueIDValid</name>
        <label>QueueIDValid</label>
        <locationX>552</locationX>
        <locationY>214</locationY>
        <defaultConnector>
            <targetReference>AggiornaMessaError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isQueueID_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QueueIDfromGroup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseOwner_Status</targetReference>
            </connector>
            <label>isQueueID found</label>
        </rules>
    </decisions>
    <description>CHIUDI CASE --- after the case is done, this flow search for the case and chang the owner dependen on the metadata and way choose for levels</description>
    <formulas>
        <description>Chang for 2 values, if is on Bussines Hours = &apos;Chat_non_disponibile&apos; 
if OUT Bussines Hours(Out service) = &apos;Chat_fuori_orario&apos;</description>
        <name>QueueDevName</name>
        <dataType>String</dataType>
        <expression>if({!isBusinessDayWithinBusinessHours},&apos;Chat_non_disponibile&apos;,&apos;Chat_fuori_orario&apos;)</expression>
    </formulas>
    <interviewLabel>LetiziaBot Changes Owner Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LetiziaBot Changes Owner Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getOwnerID_byDevName</name>
        <label>getOwnerID_byDevName</label>
        <locationX>409</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QueueIDValid</targetReference>
        </connector>
        <faultConnector>
            <targetReference>AggiornaMessaError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueueDevName</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>QueueIDfromGroup</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCaseOwner_Status</name>
        <label>UpdateCaseOwner_Status</label>
        <locationX>787</locationX>
        <locationY>127</locationY>
        <connector>
            <targetReference>UpdateMessageOK</targetReference>
        </connector>
        <faultConnector>
            <targetReference>AggiornaMessaError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueIDfromGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Chiuso d&apos;ufficio</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>51</locationX>
        <locationY>110</locationY>
        <connector>
            <targetReference>Disable_Trigger_on_Case_and_Chat_Transcript</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Chiuso d&apos;ufficio</stringValue>
        </value>
    </variables>
    <variables>
        <name>isBusinessDayWithinBusinessHours</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessageOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Error</stringValue>
        </value>
    </variables>
    <variables>
        <name>QueueIDfromGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
