force-app/main/default/flows/LetiziaBot_Update_Owner_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>getOldOwnerRecord</name>
        <label>getOldOwnerRecord</label>
        <locationX>125</locationX>
        <locationY>334</locationY>
        <assignmentItems>
            <assignToReference>ownerOld</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ownerNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsOwnerChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateMessageKO</name>
        <label>UpdateMessageKO</label>
        <locationX>629</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>MessageOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KO</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>UpdateMEssageOK</name>
        <label>UpdateMEssageOK</label>
        <locationX>1177</locationX>
        <locationY>184</locationY>
        <assignmentItems>
            <assignToReference>MessageOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OK</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>IsOwnerChanged</name>
        <label>IsOwnerChanged</label>
        <locationX>261</locationX>
        <locationY>329</locationY>
        <defaultConnector>
            <targetReference>UpdateMessageKO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>fiChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ownerNew</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ownerOld</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetNamesOwnersChanged</targetReference>
            </connector>
            <label>IFChangOwner</label>
        </rules>
    </decisions>
    <decisions>
        <name>newOwnerValidation</name>
        <label>newOwnerValidation</label>
        <locationX>693</locationX>
        <locationY>208</locationY>
        <defaultConnector>
            <targetReference>UpdateMessageKO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ownerValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ownerNew</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newOwnerName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Automated Process</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newOwnerName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Utente Tecnico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseCodFiscal_or_PartitaIVA</targetReference>
            </connector>
            <label>ownerValid</label>
        </rules>
        <rules>
            <name>ownerValidFromQueue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ownerNew</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Owner:Group.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseCodFiscal_or_PartitaIVA</targetReference>
            </connector>
            <label>ownerValidQueue</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpdateCaseCodFiscal_or_PartitaIVA</name>
        <label>UpdateCaseCodFiscal_or_PartitaIVA</label>
        <locationX>861</locationX>
        <locationY>207</locationY>
        <defaultConnector>
            <targetReference>UpdateCaseRelated_pIVA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>partita IVA</defaultConnectorLabel>
        <rules>
            <name>codiceFiscale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FormulaCodFiscaleORpIVA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseRelated</targetReference>
            </connector>
            <label>codiceFiscale</label>
        </rules>
    </decisions>
    <description>Bug fix  status Open and Oring Chat PCC -- After a Agent answer the chat, is owner of the chat an also owner of the Case, this flow update case owner</description>
    <formulas>
        <description>torna true se un codice fiscale , false una P IVA</description>
        <name>FormulaCodFiscaleORpIVA</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!codiceFiscaleOpIVA}) =16 ,true , false )</expression>
    </formulas>
    <interviewLabel>LetiziaBot Update Owner Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LetiziaBot Update Owner Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>preden il ID Account  in caso null(quindi non ce cliente nel CRM),si scrive codice fiscale o iva nel campi del CASE</description>
        <name>getChatTransAccountID</name>
        <label>getChatTransAccountID</label>
        <locationX>566</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>newOwnerValidation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>LiveChatTranscript</object>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>codiceFiscaleOpIVA</assignToReference>
            <field>Codice_Fiscale_o_IVA__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetNamesOwnersChanged</name>
        <label>GetNamesOwnersChanged</label>
        <locationX>440</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getChatTransAccountID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>UpdateMessageKO</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ownerNew</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>newOwnerName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCaseRelated</name>
        <label>UpdateCaseRelated</label>
        <locationX>1008</locationX>
        <locationY>121</locationY>
        <connector>
            <targetReference>UpdateMEssageOK</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chat PCC</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Codice_Fiscale__c</field>
            <value>
                <elementReference>codiceFiscaleOpIVA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ownerNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Preso in carico</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseRelated_pIVA</name>
        <label>UpdateCaseRelated_pIVA</label>
        <locationX>1008</locationX>
        <locationY>283</locationY>
        <connector>
            <targetReference>UpdateMEssageOK</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chat PCC</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ownerNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>P_Iva__c</field>
            <value>
                <elementReference>codiceFiscaleOpIVA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Preso in carico</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>getOldOwnerRecord</targetReference>
        </connector>
        <object>LiveChatTranscript</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>fiscale o IVa del cliente che ha iniziato la chat, non necesariamente essitente nel CRM</description>
        <name>codiceFiscaleOpIVA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessageOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ownerNew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ownerOld</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
