force-app/main/default/flows/LetiziaBot_Add_Case_Comment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Disable Trigger on Case and Chat Transcript</description>
        <name>Disable_Trigger_on_Case_and_Chat_Transcript</name>
        <label>Disable Trigger on Case and Chat Transcript</label>
        <locationX>448</locationX>
        <locationY>62</locationY>
        <actionName>CaseHandlerOffTriggerInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>getOwnerQueueID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>CaseHandlerOffTriggerInvocable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>UpdateMessageKO</name>
        <label>UpdateMessageKO</label>
        <locationX>622</locationX>
        <locationY>473</locationY>
        <assignmentItems>
            <assignToReference>MessageOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KO: Error ChatTran or Agg Comment</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>UpdateMessageOK</name>
        <label>UpdateMessageOK</label>
        <locationX>1036</locationX>
        <locationY>72</locationY>
        <assignmentItems>
            <assignToReference>MessageOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OK</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>in dependenza del codice o iva scrive nel campo giusto del case</description>
        <name>CodiceFiscalOR_IVA</name>
        <label>CodiceFiscalOR_IVA</label>
        <locationX>684</locationX>
        <locationY>110</locationY>
        <defaultConnector>
            <targetReference>UpdateDescriptCaseIVA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>partita iva</defaultConnectorLabel>
        <rules>
            <name>fiscaleCOD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>codiceFoPIVA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateDescriptCase</targetReference>
            </connector>
            <label>fiscaleCOD</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExistCaseID</name>
        <label>ExistCaseID</label>
        <locationX>204</locationX>
        <locationY>233</locationY>
        <defaultConnector>
            <targetReference>getCaseIdFromTranscript</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>caseId or AccountID null</defaultConnectorLabel>
        <rules>
            <name>ifCaseIdFromChatNotNuLL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCaseDescrPrev</targetReference>
            </connector>
            <label>ifCaseIdFromChatNotNuLL</label>
        </rules>
    </decisions>
    <description>Aggiunge un commento ad un case , in caso ce Codice Fiscale o IVA aggiunge anche al CASE, owner Coda nel campo ownerQueue che si popola nel metadata Chat Config Cases</description>
    <environments>Default</environments>
    <formulas>
        <name>codiceFoPIVA</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!CodiceFiscale_pIVA}) =16 ,true , false )</expression>
    </formulas>
    <interviewLabel>LetiziaBot Add Case Comment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LetiziaBot Add Case Comment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAccountFiscalCode_IVA</name>
        <label>getAccountFiscalCode_IVA</label>
        <locationX>79</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExistCaseID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>CodiceFiscale_pIVA</assignToReference>
            <field>Codice_fiscale_ListView__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getCaseDescrPrev</name>
        <label>getCaseDescrPrev</label>
        <locationX>366</locationX>
        <locationY>174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Disable_Trigger_on_Case_and_Chat_Transcript</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>recordtypeNameDeveloper</assignToReference>
            <field>Case_Record_Type_Formula__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>getInitOwnerQueue</assignToReference>
            <field>Current_Owner_Queue__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseDescPrev</assignToReference>
            <field>Description</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getCaseIdFromTranscript</name>
        <label>getCaseIdFromTranscript</label>
        <locationX>398</locationX>
        <locationY>364</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCaseDescrPrev</targetReference>
        </connector>
        <faultConnector>
            <targetReference>UpdateMessageKO</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RoutableId</elementReference>
            </value>
        </filters>
        <object>LiveChatTranscript</object>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>caseId</assignToReference>
            <field>CaseId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CodiceFiscale_pIVA</assignToReference>
            <field>Codice_Fiscale_o_IVA__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getOwnerQueueID</name>
        <label>getOwnerQueueID</label>
        <locationX>563</locationX>
        <locationY>30</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CodiceFiscalOR_IVA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getInitOwnerQueue</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>ownerQueueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateDescriptCase</name>
        <label>UpdateDescriptCase</label>
        <locationX>873</locationX>
        <locationY>55</locationY>
        <connector>
            <targetReference>UpdateMessageOK</targetReference>
        </connector>
        <faultConnector>
            <targetReference>UpdateMessageKO</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Codice_Fiscale__c</field>
            <value>
                <elementReference>CodiceFiscale_pIVA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>{!CaseDescPrev} Commento Cliente: {!Case_Comment} </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat Webform PCC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ownerQueueID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>EmailInput</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateDescriptCaseIVA</name>
        <label>UpdateDescriptCaseIVA</label>
        <locationX>877</locationX>
        <locationY>163</locationY>
        <connector>
            <targetReference>UpdateMessageOK</targetReference>
        </connector>
        <faultConnector>
            <targetReference>UpdateMessageKO</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>{!CaseDescPrev} Commento Cliente: {!Case_Comment} </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat Webform PCC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ownerQueueID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>P_Iva__c</field>
            <value>
                <elementReference>CodiceFiscale_pIVA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>EmailInput</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>33</locationX>
        <locationY>59</locationY>
        <connector>
            <targetReference>getAccountFiscalCode_IVA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Comment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseDescPrev</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CodiceFiscale_pIVA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getInitOwnerQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessageOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ownerQueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordtypeNameDeveloper</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RoutableId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
