force-app/main/default/flows/LetiziaBot_Create_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Disable_Trigger_on_Case_and_Chat_Transcript</name>
        <label>Disable Trigger on Case and Chat Transcript</label>
        <locationX>591</locationX>
        <locationY>51</locationY>
        <actionName>CaseHandlerOffTriggerInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>isMultiNDG</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>CaseHandlerOffTriggerInvocable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <description>se PCC ci popola la var multindg con un solo ndg, non associamo il cliente al case e inseriamo NDG passato nella var multindg nel campo description del case</description>
        <name>isMultiNDGAccountNull</name>
        <label>isMultiNDGAccountNull</label>
        <locationX>768</locationX>
        <locationY>187</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ndgDescritOnMultiNDG</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NDG: {!GetInputChatTranscript.ndg__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ChangeOwnerCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OwnerIsUser</name>
        <label>OwnerIsUser</label>
        <locationX>1081</locationX>
        <locationY>26</locationY>
        <assignmentItems>
            <assignToReference>CaseOwnerInitQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetInputChatTranscript.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Preso in carico</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetStatusAs</name>
        <label>SetStatusAsOpen</label>
        <locationX>972</locationX>
        <locationY>115</locationY>
        <assignmentItems>
            <assignToReference>caseStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateMessageKO</name>
        <label>UpdateMessageKO</label>
        <locationX>100</locationX>
        <locationY>385</locationY>
        <assignmentItems>
            <assignToReference>MessageOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KO-Configurazione METADATA  Null</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>UpdatemessageKo_1</name>
        <label>UpdatemessageKo</label>
        <locationX>282</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>MessageOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KO: Metadata della Config Null</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>UpdatemessageKO_2</name>
        <label>UpdatemessageKO</label>
        <locationX>948</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>MessageOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KO: on Create Case, metadata incompleto per questo scenario</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>UpdatemessageOK</name>
        <label>UpdatemessageOK</label>
        <locationX>1095</locationX>
        <locationY>406</locationY>
        <assignmentItems>
            <assignToReference>MessageOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OK</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>CaseOrigin</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Chat PCC</stringValue>
        </value>
    </constants>
    <constants>
        <name>Richiedente</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Cliente</stringValue>
        </value>
    </constants>
    <decisions>
        <description>if owner is not AutoM process or Tecnical User let owner as &apos;005&apos;(means is a agent) ....if not stars &apos;005&apos; make owner a default queue</description>
        <name>ChangeOwnerCase</name>
        <label>ChangeOwnerCase</label>
        <locationX>855</locationX>
        <locationY>41</locationY>
        <defaultConnector>
            <targetReference>SetStatusAs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>if Not User Owner</defaultConnectorLabel>
        <rules>
            <name>if_user_owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInputChatTranscript.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ownerNameInit</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Automated Process</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseOwnerInitQueue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OwnerIsUser</targetReference>
            </connector>
            <label>if user owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>isMultiNDG</name>
        <label>isMultiNDG</label>
        <locationX>585</locationX>
        <locationY>188</locationY>
        <defaultConnector>
            <targetReference>ChangeOwnerCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isMultiNDG_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isMultiNDGInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isMultiNDGAccountNull</targetReference>
            </connector>
            <label>isMultiNDG_true</label>
        </rules>
    </decisions>
    <description>v 20 Prova senza trigger,Crea un case dal Chat bot nel livello giusto con parametri</description>
    <formulas>
        <description>dipendency of page came from</description>
        <name>Intermediario</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!homePageFrom}), &quot;Intermediario Non trovato&quot;,
IF(CONTAINS(&quot;AAI&quot;, {!homePageFrom}), &quot;Axa Assicurazioni&quot;,
IF(CONTAINS(&quot;Sinistri AAI&quot;, {!homePageFrom}), &quot;Axa Assicurazioni&quot;,
IF(CONTAINS(&quot;Sinistri AXA MPS&quot;, {!homePageFrom}), &quot;MPS&quot;,
IF(CONTAINS(&quot;AXA MPS&quot;, {!homePageFrom}), &quot;MPS&quot;,
IF(CONTAINS(&quot;AMF&quot;, {!homePageFrom}), &quot;MPS&quot;,
&quot;Other&quot;))))))</expression>
    </formulas>
    <interviewLabel>LetiziaBot Create Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LetiziaBot Create Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>1204</locationX>
        <locationY>172</locationY>
        <assignRecordIdToReference>CaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Case_Number</targetReference>
        </connector>
        <faultConnector>
            <targetReference>UpdatemessageKO_2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>GetConfigCaseFromChatMTData.categoria_case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complainant__c</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Owner_Queue__c</field>
            <value>
                <elementReference>GetConfigCaseFromChatMTData.titolare_iniziale_case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>ndgDescritOnMultiNDG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribution_Network__c</field>
            <value>
                <elementReference>Intermediario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOB__c</field>
            <value>
                <elementReference>GetConfigCaseFromChatMTData.area_case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat PCC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordTypeCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>caseStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <description>Get the case number of the case that was just created.</description>
        <name>Get_Case_Number</name>
        <label>Get Case Number</label>
        <locationX>1100</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Chat_Transcript_with_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>Case_Number</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>go to MTD and take the configuration for a Case on CHAT level 1,2 and 3 at the moment</description>
        <name>GetConfigCaseFromChatMTData</name>
        <label>GetConfigCaseFromChatMTData</label>
        <locationX>71</locationX>
        <locationY>162</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordTypeID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>UpdateMessageKO</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>chat_level_1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>level1</elementReference>
            </value>
        </filters>
        <filters>
            <field>chat_level_2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>level2</elementReference>
            </value>
        </filters>
        <filters>
            <field>chat_level_3__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>level3</elementReference>
            </value>
        </filters>
        <filters>
            <field>homePageFrom__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>homePageFrom</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Chat_Bot_Cases_Configuration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get the initial owner of this case on the MTD as field -- titolare iniziale del case</description>
        <name>getInitOwnerOfCase</name>
        <label>getInitOwnerOfCase</label>
        <locationX>428</locationX>
        <locationY>87</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Disable_Trigger_on_Case_and_Chat_Transcript</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetConfigCaseFromChatMTData.titolare_iniziale_case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>CaseOwnerInitQueue</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetInputChatTranscript</name>
        <label>GetInputChatTranscript</label>
        <locationX>286</locationX>
        <locationY>159</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOwnerName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Routable_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LiveChatTranscript</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOwnerName</name>
        <label>GetOwnerName</label>
        <locationX>396</locationX>
        <locationY>205</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getInitOwnerOfCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInputChatTranscript.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>ownerNameInit</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeID</name>
        <label>GetRecordTypeID</label>
        <locationX>188</locationX>
        <locationY>205</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetInputChatTranscript</targetReference>
        </connector>
        <faultConnector>
            <targetReference>UpdatemessageKo_1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetConfigCaseFromChatMTData.record_type_case__c</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordTypeCaseID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Chat_Transcript_with_Case</name>
        <label>Update Chat Transcript with Case</label>
        <locationX>1244</locationX>
        <locationY>312</locationY>
        <connector>
            <targetReference>UpdatemessageOK</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Routable_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetConfigCaseFromChatMTData</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ID of created case</description>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseOwnerInitQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>homePageFrom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isMultiNDGInput</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>level1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>level2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>level3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessageOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>NDG passato nella var multindg nel campo description del case</description>
        <name>ndgDescritOnMultiNDG</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ownerNameInit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID found on Recortype Objt for the new case</description>
        <name>recordTypeCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Routable_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
