force-app/main/default/flows/LetiziaBot_Update_Nome_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Disable_Trigger_on_Case_and_Chat_Transcript</name>
        <label>Disable Trigger on Case and Chat Transcript</label>
        <locationX>217</locationX>
        <locationY>203</locationY>
        <actionName>CaseHandlerOffTriggerInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>UpdateCaseNameEmail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>CaseHandlerOffTriggerInvocable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>updateMessageOut</name>
        <label>updateMessageOut</label>
        <locationX>670</locationX>
        <locationY>208</locationY>
        <assignmentItems>
            <assignToReference>MessageOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OK</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>UpdateMesssageKO</name>
        <label>UpdateMesssageKO</label>
        <locationX>590</locationX>
        <locationY>373</locationY>
        <assignmentItems>
            <assignToReference>MessageOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KO</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <description>Update Email to Case, from Form WEB Chatbot (Non trigger case RUNs)</description>
    <interviewLabel>LetiziaBot Update Nome Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LetiziaBot Update Nome Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateCaseNameEmail</name>
        <label>UpdateCaseNameEmail</label>
        <locationX>399</locationX>
        <locationY>230</locationY>
        <connector>
            <targetReference>updateMessageOut</targetReference>
        </connector>
        <faultConnector>
            <targetReference>UpdateMesssageKO</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>EmailNuovo</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Disable_Trigger_on_Case_and_Chat_Transcript</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailNuovo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessageOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
