force-app/main/default/flows/LetiziaBot_Get_Pre_Chat.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>getNameFull</name>
        <label>getNameFull</label>
        <locationX>384</locationX>
        <locationY>187</locationY>
        <assignmentItems>
            <assignToReference>SuppliedName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Name} {!LastName}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OK</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>UpdateMessage</name>
        <label>UpdateMessage</label>
        <locationX>381</locationX>
        <locationY>401</locationY>
        <assignmentItems>
            <assignToReference>MessageOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KO: Dati del JavaScript PCC mancano</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <description>Controlla se il Account è asociato al chatbot prima d iniziare la asistenza</description>
    <interviewLabel>LetiziaBot  Get Pre_Chat {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LetiziaBot  Get Pre_Chat</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Chat_Transcript</name>
        <label>Get Chat Transcript</label>
        <locationX>176</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getNameFull</targetReference>
        </connector>
        <faultConnector>
            <targetReference>UpdateMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Routable_Id</elementReference>
            </value>
        </filters>
        <object>LiveChatTranscript</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmailFromPage</assignToReference>
            <field>Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>isMultiNdg</assignToReference>
            <field>IsMultiNdg__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LastName</assignToReference>
            <field>LastName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Name</assignToReference>
            <field>Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>homePageFrom</assignToReference>
            <field>homePageFrom__c</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Chat_Transcript</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailFromPage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>String for the Home page sending chat request</description>
        <name>homePageFrom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isMultiNdg</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessageOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Routable_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SuppliedName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
