force-app/main/default/flows/Migrate_Related_Article_to_New_Article_Version.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>addListNewArticle</name>
        <label>addListNewArticle</label>
        <locationX>666</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>newRelatedArticleLst</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>item</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>foreach</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>foreach</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addListNewArticle_0_0</name>
        <label>addListNewArticle</label>
        <locationX>666</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>newRelatedArticleLst</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>item</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>foreach_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>articleDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>foreach_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>foreach_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_list</name>
        <label>Clear list</label>
        <locationX>578</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>UpdateList</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRelatedArticleLst</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>foreach_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>manageCurrentItem</name>
        <label>manageCurrentItem</label>
        <locationX>666</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>item</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>foreach</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>item.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>item.Knowledge_Article__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>foreach.Archived_Related_Article__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>foreach.Related_Knowledge_Article__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>foreach.Related_Knowledge_Article__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>addListNewArticle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>manageCurrentItem_0_0</name>
        <label>manageCurrentItem</label>
        <locationX>666</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>item</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>foreach_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>item.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>item.Related_Knowledge_Article__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>item.Knowledge_Article__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>foreach_0.Knowledge_Article__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addListNewArticle_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Articles_Founded</name>
        <label>Articles Founded</label>
        <locationX>446</locationX>
        <locationY>2702</locationY>
        <defaultConnector>
            <targetReference>EndScreen_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedArticle</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRelatedArticle_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EndScreen</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ArticlesFound</name>
        <label>ArticlesFound?</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>foreach</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedArticle</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>GetRelatedArticle</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedArticle_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>ArticlesFound_0</name>
        <label>ArticlesFound?</label>
        <locationX>446</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Clear_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No2_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedArticle_0</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>GetRelatedArticle_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Articles_Founded</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found</name>
        <label>Found?</label>
        <locationX>248</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>GetRelatedArticle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLastVersionArticle</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EndScreen_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>Migrate Related Article to New Article Version {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Migrate Related Article to New Article Version</label>
    <loops>
        <name>foreach</name>
        <label>forEach</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <collectionReference>GetRelatedArticle</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>manageCurrentItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateRelatedArticle</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>foreach_0</name>
        <label>forEach</label>
        <locationX>578</locationX>
        <locationY>1790</locationY>
        <collectionReference>GetRelatedArticle_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>manageCurrentItem_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateRelatedArticle_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Related_Article_List</name>
        <label>Create Related Article List</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>GetRelatedArticle_0</targetReference>
        </connector>
        <inputReference>newRelatedArticleLst</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Related_Article_List_0</name>
        <label>Create Related Article List</label>
        <locationX>578</locationX>
        <locationY>2366</locationY>
        <connector>
            <targetReference>DeleteOld</targetReference>
        </connector>
        <inputReference>newRelatedArticleLst</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>DeleteOld</name>
        <label>DeleteOld</label>
        <locationX>578</locationX>
        <locationY>2486</locationY>
        <connector>
            <targetReference>Articles_Founded</targetReference>
        </connector>
        <inputReference>articleDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetLastVersionArticle</name>
        <label>GetLastVersionArticle</label>
        <locationX>248</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KnowledgeArticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.KnowledgeArticleId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PublishStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Online</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Knowledge__kav</object>
        <sortField>VersionNumber</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedArticle</name>
        <label>GetRelatedArticle</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ArticlesFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Knowledge_Article__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLastVersionArticle.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Related_Article__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedArticle_0</name>
        <label>GetArticolidiRiferimento</label>
        <locationX>446</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ArticlesFound_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Knowledge_Article__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLastVersionArticle.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Related_Article__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRelatedArticle</name>
        <label>UpdateRelatedArticle</label>
        <locationX>578</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Create_Related_Article_List</targetReference>
        </connector>
        <inputReference>UpdateList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRelatedArticle_0_0</name>
        <label>UpdateRelatedArticle</label>
        <locationX>578</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>Create_Related_Article_List_0</targetReference>
        </connector>
        <inputReference>UpdateList</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>EndScreen</name>
        <label>EndScreen</label>
        <locationX>314</locationX>
        <locationY>2822</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(15, 144, 50); font-size: 22px;&quot;&gt;Gli Articoli Correlati sono stati aggiunti all&apos;articolo.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EndScreen_0</name>
        <label>EndScreen</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px; color: rgb(15, 144, 50);&quot;&gt;Procedura conclusa&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EndScreen_0_0</name>
        <label>EndScreen</label>
        <locationX>578</locationX>
        <locationY>2822</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px; color: rgb(15, 144, 50);&quot;&gt;Procedura conclusa&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetLastVersionArticle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>articleDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Related_Article__c</objectType>
    </variables>
    <variables>
        <name>item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Related_Article__c</objectType>
    </variables>
    <variables>
        <name>newRelatedArticleLst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Related_Article__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
    <variables>
        <name>UpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Related_Article__c</objectType>
    </variables>
</Flow>
