force-app/main/default/flows/Migrate_Iniziative_Marketing_to_New_Version_Attive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>addListToUpdateJunctions</name>
        <label>addListToUpdateJunctions</label>
        <locationX>801</locationX>
        <locationY>2082</locationY>
        <assignmentItems>
            <assignToReference>UpdateListJunction</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordJunctionPivot</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopForCopieJunctions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addToList</name>
        <label>addToList</label>
        <locationX>229</locationX>
        <locationY>1370</locationY>
        <assignmentItems>
            <assignToReference>AllActiveByCode</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordPivot</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DeactiveAllrecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addToList_0</name>
        <label>addToList</label>
        <locationX>757</locationX>
        <locationY>1262</locationY>
        <assignmentItems>
            <assignToReference>AllActiveByCode</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordPivot</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DeactiveAllrecords_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>aggiornaVersione</name>
        <label>aggiornaVersione</label>
        <locationX>668</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordIniziativeOLD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Edit_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assigNewvalues</name>
        <label>assigNewvalues</label>
        <locationX>405</locationX>
        <locationY>722</locationY>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NomeCambia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.Titolo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TitoloCambia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.Sottotitolo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SottotitoloCambia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MessaggioCambia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.Short_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShortMessaggioCambia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.Attiva__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Attiva.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.Canale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CanaleCambia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.Communication_code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordIniziativeOLD.Communication_code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.Entita_SFDC_di_riferimento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entita_SFDC_di_riferimentoCambia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.Tipologia_di_iniziative__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipologia_di_iniziativeCambia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.URL_CTA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>URL_CTACambia.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.URL_Immagine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>URL_ImmagineCambia.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.Versione__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaNewVersionNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.Contenuto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContenutoCambia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.Descrizione_dell_iniziativa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Descrizione_dell_iniziativaCambia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.Eligibile_per_Compagnia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Eligibile_per_CompagniaCambia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.Invio_push__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invio_pushCambia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.Testo_CTA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Testo_CTACambia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.Tipo_notifica_su_Centro_Notifiche__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipo_notifica_su_Centro_NotificheCambia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.Visibilita_nel_centro_notifiche__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visibilit_nel_centro_notificheCambia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.Base_Giuridica__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Base_GiuridicaCambias</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.eCollaboration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eCollaborationCambia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.Mail_Validata__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mail_ValidataCambias</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.Mostra_Box_Agenzia_Subagenzia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mostra_Box_Agenzia_SubagenziaCambia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.Mostra_Nome_Cognome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mostra_Nome_CognomeCambia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.Necessaria_Registrazione__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Necessaria_RegistrazioneCambias</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.Necessario_Consenso_Privacy_Promoziona__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Necessario_Consenso_Privacy_PromozionaCambias</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.Nome_Messaggio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nome_MessaggioCambia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.Stato_Documento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stato_DocumentoCambias</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.TAG__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TAGCambia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.TECH_URL_template_MC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Link_preview_EmailCambia.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.Categoria_Prodotto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Categoria_ProdottoCambias</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.is_closure_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Periodo_ChiusuraCambia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.is_scheduled_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nuovi_OrariCambia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.Tipologia_Campagna__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Form_tipologiaCampagnaFinale</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.Sottotipologia_Campagna__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Form_SottotipologiaCampagnaFinale</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.Descrizione_Messaggio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Descrizione_MessaggioCambia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.Adesione_Invio_Delle_Comunicazioni_Info__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adesione_Invio_Com_InformativeCambio2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.RichiestoConsensoStopCarta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Richiesto_Consenso_Stop_CartaCambia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recodIniziativeNEW.EscludiComunicaCliente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EscludiComunicaCliente</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getAllActiveByComunicationCode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>fieldDeactiveToFalse</name>
        <label>fieldDeactiveToFalse</label>
        <locationX>229</locationX>
        <locationY>1262</locationY>
        <assignmentItems>
            <assignToReference>recordPivot.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeactiveAllrecords.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPivot.Attiva__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>fieldDeactiveToFalse_0</name>
        <label>fieldDeactiveToFalse</label>
        <locationX>757</locationX>
        <locationY>1154</locationY>
        <assignmentItems>
            <assignToReference>DeactiveAllrecords.Attiva__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToList_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>loopForPivotJunction</name>
        <label>loopForPivotJunction</label>
        <locationX>624</locationX>
        <locationY>2145</locationY>
        <assignmentItems>
            <assignToReference>recordJunctionPivot.Iniziative_Marketing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recodIniziativeNEW.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordJunctionPivot.Target__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopForCopieJunctions.Target__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addListToUpdateJunctions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>See_new_record</name>
        <label>See new record</label>
        <locationX>405</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>recordidNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recodIniziativeNEW.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getAllJunctionRecords</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IFattivaChangeOLD</name>
        <label>IFattivaChangeOLD</label>
        <locationX>405</locationX>
        <locationY>938</locationY>
        <defaultConnector>
            <targetReference>DeactiveAllrecords_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New attive Old Non attive</defaultConnectorLabel>
        <rules>
            <name>New_is_Attive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Attiva.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordIniziativeOLD.Attiva__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>desativare</targetReference>
            </connector>
            <label>New is Attive and old attive</label>
        </rules>
        <rules>
            <name>Old_attive_New_Not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordIniziativeOLD.Attiva__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Attiva.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createNewVersion</targetReference>
            </connector>
            <label>Old attive New Not</label>
        </rules>
    </decisions>
    <decisions>
        <description>validare ritornando al messaggio di screen se campi 255 sono popolati bene</description>
        <name>ValidateLenthgOfFields</name>
        <label>ValidateLenthgOfFields</label>
        <locationX>685</locationX>
        <locationY>714</locationY>
        <defaultConnector>
            <targetReference>Errore255ForMessageField</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>validateFields255</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fieldMessageLength255</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ValidateLenthgOfFields_0</targetReference>
            </connector>
            <label>validateFields255</label>
        </rules>
    </decisions>
    <decisions>
        <description>validare ritornando al messaggio di screen se campi 255 sono popolati bene</description>
        <name>ValidateLenthgOfFields_0</name>
        <label>ValidateLenthgOfFields</label>
        <locationX>557</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>assigNewvalues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ifPush_popolaMessagi_0</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>invio_pushCambia</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isBlankMessa_ShortMess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErroreForMessageField_blank</targetReference>
            </connector>
            <label>ifPush_popolaMessagi</label>
        </rules>
        <rules>
            <name>ifNOtificaPopolaTitolo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Visibilit_nel_centro_notificheCambia</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IfVisibilitaNotifiche_popolaTitoloESottoT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErroreForMessageField_blank_0</targetReference>
            </connector>
            <label>ifNOtificaPopolaTitolo</label>
        </rules>
    </decisions>
    <description>&apos;Creazione Iniziativa Marketing
[EDIT] EClemente - IDCRM149 Mappatura comunicazioni eCollab - 28/03/2024: Add new field Escludi Comunica Cliente</description>
    <dynamicChoiceSets>
        <name>AdesioneInvioComunicazionePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Adesione_Invio_Delle_Comunicazioni_Info__c</picklistField>
        <picklistObject>Iniziative_Marketing__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BaseGiuridica</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Base_Giuridica__c</picklistField>
        <picklistObject>Iniziative_Marketing__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BlacklistdiCampagna</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Blacklist_di_Campagna__c</picklistField>
        <picklistObject>Iniziative_Marketing__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BlacklistdiProdotto</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Blacklist_di_Prodotto__c</picklistField>
        <picklistObject>Iniziative_Marketing__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CanalePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Canale__c</picklistField>
        <picklistObject>Iniziative_Marketing__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CategoriaProdotto</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Categoria_Prodotto__c</picklistField>
        <picklistObject>Iniziative_Marketing__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Eligibile_per_Compagnia</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Eligibile_per_Compagnia__c</picklistField>
        <picklistObject>Iniziative_Marketing__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>entita_di_riferimento</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Entita_SFDC_di_riferimento__c</picklistField>
        <picklistObject>Iniziative_Marketing__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MailValidata</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Mail_Validata__c</picklistField>
        <picklistObject>Iniziative_Marketing__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NecessariaRegistrazione</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Necessaria_Registrazione__c</picklistField>
        <picklistObject>Iniziative_Marketing__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NecessarioConsensoPrivacyPromoziona</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Necessario_Consenso_Privacy_Promoziona__c</picklistField>
        <picklistObject>Iniziative_Marketing__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RichiestoConsensoStopCartaPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RichiestoConsensoStopCarta__c</picklistField>
        <picklistObject>Iniziative_Marketing__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SottotipologiaCampagna</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sottotipologia_Campagna__c</picklistField>
        <picklistObject>Iniziative_Marketing__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StatoDocumento</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Stato_Documento__c</picklistField>
        <picklistObject>Iniziative_Marketing__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Tipo_notifica_suCentro_Notifiche</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tipo_notifica_su_Centro_Notifiche__c</picklistField>
        <picklistObject>Iniziative_Marketing__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>tipologia_di_iniziative</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tipologia_di_iniziative__c</picklistField>
        <picklistObject>Iniziative_Marketing__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TipologiaCampagna</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tipologia_Campagna__c</picklistField>
        <picklistObject>Iniziative_Marketing__c</picklistObject>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>importante per il mapping nel object comm2customer, il suo correspettivo e 255</description>
        <name>fieldMessageLength255</name>
        <dataType>Boolean</dataType>
        <expression>IF(  LEN( {!MessaggioCambia} )  &lt;=  255, true, false)</expression>
    </formulas>
    <formulas>
        <name>Form_SottotipologiaCampagnaFinale</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!Tipologia_SottoTipo_picklist.middleValue}),  TEXT( {!recordIniziativeOLD.Sottotipologia_Campagna__c})  ,{!Tipologia_SottoTipo_picklist.middleValue})</expression>
    </formulas>
    <formulas>
        <name>Form_tipologiaCampagnaFinale</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!Tipologia_SottoTipo_picklist.topValue}) ,TEXT({!recordIniziativeOLD.Tipologia_Campagna__c})  , {!Tipologia_SottoTipo_picklist.topValue})</expression>
    </formulas>
    <formulas>
        <name>formulaNewVersionNumber</name>
        <dataType>Number</dataType>
        <expression>{!versioneHigerNow} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>IfVisibilitaNotifiche_popolaTitoloESottoT</name>
        <dataType>Boolean</dataType>
        <expression>OR(ISBLANK({!TitoloCambia}),ISBLANK({!SottotitoloCambia}))</expression>
    </formulas>
    <formulas>
        <name>isBlankMessa_ShortMess</name>
        <dataType>Boolean</dataType>
        <expression>OR(ISBLANK({!MessaggioCambia}),ISBLANK({!ShortMessaggioCambia}))</expression>
    </formulas>
    <formulas>
        <name>URLformula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_260} , FIND(&apos;/services&apos;,{!$Api.Enterprise_Server_URL_260} ))</expression>
    </formulas>
    <interviewLabel>Migrate Iniziative Marketing to New Version Attive {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Creazione Iniziative Marketing to New Version Attive</label>
    <loops>
        <name>DeactiveAllrecords</name>
        <label>DeactiveAllrecords</label>
        <locationX>141</locationX>
        <locationY>1154</locationY>
        <collectionReference>getAllActiveByComunicationCode</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>fieldDeactiveToFalse</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>deactivateOLD</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>DeactiveAllrecords_0</name>
        <label>DeactiveAllrecords</label>
        <locationX>669</locationX>
        <locationY>1046</locationY>
        <collectionReference>AllActiveByCode</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>fieldDeactiveToFalse_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>deactivateIniziativaAttiva</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopForCopieJunctions</name>
        <label>loopForCopieJunctions</label>
        <locationX>404</locationX>
        <locationY>2078</locationY>
        <collectionReference>ListRecordsJunctions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loopForPivotJunction</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createJunctionsRecordsNewVersion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createJunctionsRecordsNewVersion</name>
        <label>createJunctionsRecordsNewVersion</label>
        <locationX>406</locationX>
        <locationY>2288</locationY>
        <connector>
            <targetReference>URL</targetReference>
        </connector>
        <inputReference>UpdateListJunction</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createNewVersion</name>
        <label>createNewVersion</label>
        <locationX>405</locationX>
        <locationY>1754</locationY>
        <connector>
            <targetReference>See_new_record</targetReference>
        </connector>
        <inputReference>recodIniziativeNEW</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getAllActiveByComunicationCode</name>
        <label>getAllActiveByComunicationCode</label>
        <locationX>405</locationX>
        <locationY>830</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IFattivaChangeOLD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Communication_code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordIniziativeOLD.Communication_code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Attiva__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Iniziative_Marketing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAllJunctionRecords</name>
        <label>getAllJunctionRecords</label>
        <locationX>405</locationX>
        <locationY>1970</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopForCopieJunctions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Iniziative_Marketing__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordIniziativeOLD.Id</elementReference>
            </value>
        </filters>
        <object>TargetByIniziativaAssociation__c</object>
        <outputReference>ListRecordsJunctions</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Iniziative_Marketing__c</queriedFields>
        <queriedFields>Target__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>copy to new version</description>
        <name>getIniziativeMarkFields</name>
        <label>getIniziativeMarkFields</label>
        <locationX>669</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetVersionHiger</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Iniziative_Marketing__c</object>
        <outputReference>recordIniziativeOLD</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Attiva__c</queriedFields>
        <queriedFields>Titolo__c</queriedFields>
        <queriedFields>Sottotitolo__c</queriedFields>
        <queriedFields>Invio_push__c</queriedFields>
        <queriedFields>Visibilita_nel_centro_notifiche__c</queriedFields>
        <queriedFields>Canale__c</queriedFields>
        <queriedFields>Message__c</queriedFields>
        <queriedFields>Short_Message__c</queriedFields>
        <queriedFields>Descrizione_dell_iniziativa__c</queriedFields>
        <queriedFields>Communication_code__c</queriedFields>
        <queriedFields>Tipologia_di_iniziative__c</queriedFields>
        <queriedFields>URL_CTA__c</queriedFields>
        <queriedFields>URL_Immagine__c</queriedFields>
        <queriedFields>Entita_SFDC_di_riferimento__c</queriedFields>
        <queriedFields>Contenuto__c</queriedFields>
        <queriedFields>Versione__c</queriedFields>
        <queriedFields>Testo_CTA__c</queriedFields>
        <queriedFields>Tipo_notifica_su_Centro_Notifiche__c</queriedFields>
        <queriedFields>Eligibile_per_Compagnia__c</queriedFields>
        <queriedFields>Base_Giuridica__c</queriedFields>
        <queriedFields>Categoria_Prodotto__c</queriedFields>
        <queriedFields>eCollaboration__c</queriedFields>
        <queriedFields>TECH_URL_template_MC__c</queriedFields>
        <queriedFields>Mostra_Box_Agenzia_Subagenzia__c</queriedFields>
        <queriedFields>Mostra_Nome_Cognome__c</queriedFields>
        <queriedFields>TAG__c</queriedFields>
        <queriedFields>Necessaria_Registrazione__c</queriedFields>
        <queriedFields>Necessario_Consenso_Privacy_Promoziona__c</queriedFields>
        <queriedFields>Nome_Messaggio__c</queriedFields>
        <queriedFields>Tipologia_Campagna__c</queriedFields>
        <queriedFields>Sottotipologia_Campagna__c</queriedFields>
        <queriedFields>Stato_Documento__c</queriedFields>
        <queriedFields>Mail_Validata__c</queriedFields>
        <queriedFields>is_closure_type__c</queriedFields>
        <queriedFields>is_scheduled_type__c</queriedFields>
        <queriedFields>Descrizione_Messaggio__c</queriedFields>
        <queriedFields>Adesione_Invio_Delle_Comunicazioni_Info__c</queriedFields>
        <queriedFields>RichiestoConsensoStopCarta__c</queriedFields>
        <queriedFields>EscludiComunicaCliente__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>prendere la versione ultima del template</description>
        <name>GetVersionHiger</name>
        <label>GetVersionHigher</label>
        <locationX>669</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>aggiornaVersione</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Communication_code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordIniziativeOLD.Communication_code__c</elementReference>
            </value>
        </filters>
        <object>Iniziative_Marketing__c</object>
        <outputAssignments>
            <assignToReference>versioneHigerNow</assignToReference>
            <field>Versione__c</field>
        </outputAssignments>
        <sortField>Versione__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <description>desactivare quella che attiva per questo codice</description>
        <name>deactivateIniziativaAttiva</name>
        <label>deactivateIniziativaAttiva</label>
        <locationX>683</locationX>
        <locationY>1562</locationY>
        <connector>
            <targetReference>createNewVersion</targetReference>
        </connector>
        <inputReference>AllActiveByCode</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>desattivare la vecchia se la nuova va attiva</description>
        <name>deactivateOLD</name>
        <label>deactivateOLD</label>
        <locationX>141</locationX>
        <locationY>1562</locationY>
        <connector>
            <targetReference>createNewVersion</targetReference>
        </connector>
        <inputReference>AllActiveByCode</inputReference>
    </recordUpdates>
    <screens>
        <name>desativare</name>
        <label>desativare</label>
        <locationX>141</locationX>
        <locationY>1046</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DeactiveAllrecords</targetReference>
        </connector>
        <fields>
            <name>Messagio_alert</name>
            <fieldText>&lt;p&gt;Il nuovo template disattiva la versione : &lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!recordIniziativeOLD.Versione__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Edit_fields</name>
        <label>Edit fields</label>
        <locationX>651</locationX>
        <locationY>561</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ValidateLenthgOfFields</targetReference>
        </connector>
        <fields>
            <name>Dettagli_Iniziativa</name>
            <fieldText>Dettagli Iniziativa</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dettagli_Iniziativa_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NomeCambia</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recodIniziativeNEW.Name</elementReference>
                    </defaultValue>
                    <fieldText>Nome</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Descrizione_dell_iniziativaCambia</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recodIniziativeNEW.Descrizione_dell_iniziativa__c</elementReference>
                    </defaultValue>
                    <fieldText>Descrizione dell&apos;iniziativa</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Eligibile_per_CompagniaCambia</name>
                    <choiceReferences>Eligibile_per_Compagnia</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recodIniziativeNEW.Eligibile_per_Compagnia__c</elementReference>
                    </defaultValue>
                    <fieldText>Eligibile per Compagnia</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Nuovi_OrariCambia</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>recordIniziativeOLD.is_scheduled_type__c</elementReference>
                    </defaultValue>
                    <fieldText>Nuovi Orari</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Periodo_ChiusuraCambia</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>recordIniziativeOLD.is_closure_type__c</elementReference>
                    </defaultValue>
                    <fieldText>Periodo Chiusura</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dettagli_Iniziativa_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CanaleCambia</name>
                    <choiceReferences>CanalePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recodIniziativeNEW.Canale__c</elementReference>
                    </defaultValue>
                    <fieldText>Canale</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Tipologia_di_iniziativeCambia</name>
                    <choiceReferences>tipologia_di_iniziative</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recodIniziativeNEW.Tipologia_di_iniziative__c</elementReference>
                    </defaultValue>
                    <fieldText>Tipologia di iniziative</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Entita_SFDC_di_riferimentoCambia</name>
                    <choiceReferences>entita_di_riferimento</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recodIniziativeNEW.Entita_SFDC_di_riferimento__c</elementReference>
                    </defaultValue>
                    <fieldText>Entità SFDC di riferimento</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>EscludiComunicaCliente</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>recordIniziativeOLD.EscludiComunicaCliente__c</elementReference>
                    </defaultValue>
                    <fieldText>Escludi Comunica Cliente</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dettagli_Iniziativa_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Attiva</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Attiva</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>recodIniziativeNEW.Attiva__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Visibilit_nel_centro_notificheCambia</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>recodIniziativeNEW.Visibilita_nel_centro_notifiche__c</elementReference>
                    </defaultValue>
                    <fieldText>Visibilità nel centro notifiche</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>invio_pushCambia</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>recodIniziativeNEW.Invio_push__c</elementReference>
                    </defaultValue>
                    <fieldText>Invio Push</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>spazeLabel</name>
                    <fieldText>&lt;p&gt;-&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ComunicatioCodeLabel</name>
                    <fieldText>&lt;p&gt;&lt;em&gt;Codice Comunicazione&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ComunicationCodeValue</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!recordIniziativeOLD.Communication_code__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Dettagli_Campagna</name>
            <fieldText>Dettagli Campagna</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dettagli_Campagna_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tipologia_Campagna_label</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(68, 68, 68); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Tipologia Campagna&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>TipologiaCampagna_value</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;﻿{!recordIniziativeOLD.Tipologia_Campagna__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dettagli_Campagna_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SottotipologiaCampagnaLabel</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(68, 68, 68); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Sottotipologia Campagna&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SottotipologiaCampagna_value</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!recordIniziativeOLD.Sottotipologia_Campagna__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Tipologia_SottoTipo_picklist</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Iniziative_Marketing__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Tipologia_Campagna__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Sottotipologia_Campagna__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Tipologia Campagna</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <stringValue>Tipologia_CampagnaCambiasDepend</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Sottotipologia Campagna</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <stringValue>SottoTipologia_CampagnaCambiasDepend</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Verifiche_per_Invio_Singolo</name>
            <fieldText>Verifiche per Invio Singolo</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Verifiche_per_Invio_Singolo_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Necessario_Consenso_Privacy_PromozionaCambias</name>
                    <choiceReferences>NecessarioConsensoPrivacyPromoziona</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recodIniziativeNEW.Necessario_Consenso_Privacy_Promoziona__c</elementReference>
                    </defaultValue>
                    <fieldText>Necessario Consenso Privacy Prom.</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Necessaria_RegistrazioneCambias</name>
                    <choiceReferences>NecessariaRegistrazione</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recodIniziativeNEW.Necessaria_Registrazione__c</elementReference>
                    </defaultValue>
                    <fieldText>Necessaria Registrazione</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Mail_ValidataCambias</name>
                    <choiceReferences>MailValidata</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recodIniziativeNEW.Mail_Validata__c</elementReference>
                    </defaultValue>
                    <fieldText>Mail Validata</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verifiche_per_Invio_Singolo_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Stato_DocumentoCambias</name>
                    <choiceReferences>StatoDocumento</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recodIniziativeNEW.Stato_Documento__c</elementReference>
                    </defaultValue>
                    <fieldText>Stato Documento</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Adesione_Invio_Com_InformativeCambio2</name>
                    <choiceReferences>AdesioneInvioComunicazionePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recodIniziativeNEW.Adesione_Invio_Delle_Comunicazioni_Info__c</elementReference>
                    </defaultValue>
                    <fieldText>Adesione Invio Com. Informative</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>eCollaborationCambia</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>recodIniziativeNEW.eCollaboration__c</elementReference>
                    </defaultValue>
                    <fieldText>eCollaboration</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verifiche_per_Invio_Singolo_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Richiesto_Consenso_Stop_CartaCambia</name>
                    <choiceReferences>RichiestoConsensoStopCartaPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recodIniziativeNEW.RichiestoConsensoStopCarta__c</elementReference>
                    </defaultValue>
                    <fieldText>Richiesto Consenso Stop Carta</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Dettagli_Messaggio</name>
            <fieldText>Dettagli Messaggio</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dettagli_Messaggio_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nome_MessaggioCambia</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recodIniziativeNEW.Nome_Messaggio__c</elementReference>
                    </defaultValue>
                    <fieldText>Nome Messaggio</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Base_GiuridicaCambias</name>
                    <choiceReferences>BaseGiuridica</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recodIniziativeNEW.Base_Giuridica__c</elementReference>
                    </defaultValue>
                    <fieldText>Base Giuridica</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>TAGCambia</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recodIniziativeNEW.TAG__c</elementReference>
                    </defaultValue>
                    <fieldText>TAG</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dettagli_Messaggio_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Categoria_ProdottoCambias</name>
                    <choiceReferences>CategoriaProdotto</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recodIniziativeNEW.Categoria_Prodotto__c</elementReference>
                    </defaultValue>
                    <fieldText>Categoria Prodotto</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Descrizione_MessaggioCambia</name>
                    <defaultValue>
                        <stringValue>{!recodIniziativeNEW.Descrizione_Messaggio__c}</stringValue>
                    </defaultValue>
                    <fieldText>Descrizione Messaggio</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dettagli_Messaggio_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mostra_Box_Agenzia_SubagenziaCambia</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>recodIniziativeNEW.Mostra_Box_Agenzia_Subagenzia__c</elementReference>
                    </defaultValue>
                    <fieldText>Mostra Box Agenzia\Subagenzia</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Mostra_Nome_CognomeCambia</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>recodIniziativeNEW.Mostra_Nome_Cognome__c</elementReference>
                    </defaultValue>
                    <fieldText>Mostra Nome Cognome</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Link_preview_EmailCambia</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Link Preview Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>recodIniziativeNEW.TECH_URL_template_MC__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Testi_Push_Notification</name>
            <fieldText>Testi Push Notification</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Testi_Push_Notification_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ShortMessaggioCambia</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recodIniziativeNEW.Short_Message__c</elementReference>
                    </defaultValue>
                    <fieldText>Messaggio Breve</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Numero massimo caratteri: 255&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Testi_Push_Notification_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MessaggioCambia</name>
                    <defaultValue>
                        <stringValue>{!recodIniziativeNEW.Message__c}</stringValue>
                    </defaultValue>
                    <fieldText>Messaggio</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;Numero massimo caratteri: 255&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Testi_Centro_Notifiche</name>
            <fieldText>Testi Centro Notifiche</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Testi_Centro_Notifiche_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TitoloCambia</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recodIniziativeNEW.Titolo__c</elementReference>
                    </defaultValue>
                    <fieldText>Titolo</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Numero massimo caratteri: 255&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>SottotitoloCambia</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recodIniziativeNEW.Sottotitolo__c</elementReference>
                    </defaultValue>
                    <fieldText>Sottotitolo</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Numero massimo caratteri: 255&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Tipo_notifica_su_Centro_NotificheCambia</name>
                    <choiceReferences>Tipo_notifica_suCentro_Notifiche</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recodIniziativeNEW.Tipo_notifica_su_Centro_Notifiche__c</elementReference>
                    </defaultValue>
                    <fieldText>Tipo notifica su Centro Notifiche</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>URL_ImmagineCambia</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>URL Immagine</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>recodIniziativeNEW.URL_Immagine__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Testi_Centro_Notifiche_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>URL_CTACambia</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>URL CTA</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>recodIniziativeNEW.URL_CTA__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Testo_CTACambia</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recodIniziativeNEW.Testo_CTA__c</elementReference>
                    </defaultValue>
                    <fieldText>Testo CTA</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ContenutoCambia</name>
                    <defaultValue>
                        <stringValue>{!recodIniziativeNEW.Contenuto__c}</stringValue>
                    </defaultValue>
                    <fieldText>Contenuto Centro Notifiche</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <helpText>&lt;p&gt;I campi * sono &lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;obbligatori&lt;/span&gt;&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Creare</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>i campi titolo,sottoti,message e short message devono essere piu piccoli da 255</description>
        <name>Errore255ForMessageField</name>
        <label>Errore255ForMessageField</label>
        <locationX>1003</locationX>
        <locationY>515</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Edit_fields</targetReference>
        </connector>
        <fields>
            <name>ErroreLabel255</name>
            <fieldText>&lt;p&gt;Controllare che i campi Titolo, Sottotitolo, Messaggio e Messaggio breve abbiano un numero massimo di caratteri pari a 255&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>i campi titolo,sottoti,message e short message devono essere piu piccoli da 255</description>
        <name>ErroreForMessageField_blank</name>
        <label>ErroreForMessageField_blank</label>
        <locationX>1012</locationX>
        <locationY>655</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Edit_fields</targetReference>
        </connector>
        <fields>
            <name>ErroreLabel255_0</name>
            <fieldText>&lt;p&gt;Con &quot;Invio Push&quot; popolare i campi Messaggio e Messaggio breve &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>i campi titolo,sottoti,message e short message devono essere piu piccoli da 255</description>
        <name>ErroreForMessageField_blank_0</name>
        <label>ErroreForMessageField_blank</label>
        <locationX>1016</locationX>
        <locationY>802</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Edit_fields</targetReference>
        </connector>
        <fields>
            <name>ErroreLabel255_0_0</name>
            <fieldText>&lt;p&gt;Con &quot;V&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: &amp;quot;Google Sans&amp;quot;, Roboto, sans-serif; color: rgb(31, 31, 31);&quot;&gt;isibilità nel centro notifiche&lt;/span&gt;&quot; popolare i campi T&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: &amp;quot;Google Sans&amp;quot;, Roboto, sans-serif; color: rgb(31, 31, 31);&quot;&gt;itolo &lt;/span&gt;e S&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: &amp;quot;Google Sans&amp;quot;, Roboto, sans-serif; color: rgb(31, 31, 31);&quot;&gt;ottotitolo&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>URL</name>
        <label>URL</label>
        <locationX>402</locationX>
        <locationY>2438</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>text</name>
            <fieldText>&lt;p&gt;È stata creata una nuova versione dell&apos;Iniziativa Marketing&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;.&lt;/span&gt; &lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Per vederla &lt;/span&gt;&lt;a href=&quot;{!URLformula}lightning/r/Iniziative_Marketing__c/{!recodIniziativeNEW.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;clicca qui &lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getIniziativeMarkFields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllActiveByCode</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Iniziative_Marketing__c</objectType>
    </variables>
    <variables>
        <description>unione fra target e iniziativa marketing deve migrare insieme alla versione</description>
        <name>ListRecordsJunctions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TargetByIniziativaAssociation__c</objectType>
    </variables>
    <variables>
        <name>recodIniziativeNEW</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Iniziative_Marketing__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a1T0E000001CCb0UAG</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordIDIniziativaAttiva</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordidNew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordIniziativeOLD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Iniziative_Marketing__c</objectType>
    </variables>
    <variables>
        <name>recordJunctionPivot</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TargetByIniziativaAssociation__c</objectType>
    </variables>
    <variables>
        <name>recordPivot</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Iniziative_Marketing__c</objectType>
    </variables>
    <variables>
        <name>UpdateListJunction</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TargetByIniziativaAssociation__c</objectType>
    </variables>
    <variables>
        <name>versioneHigerNow</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
