force-app/main/default/flows/Pgaina_Assistenza_CRM_Agenzia_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <choices>
        <name>Visualizzaanchelerichiesterisolte</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: &amp;quot;Source Sans Pro&amp;quot;; color: rgb(90, 90, 90);&quot;&gt;Visualizza anche le richieste risolte&lt;/span&gt;</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <dynamicChoiceSets>
        <name>areaValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LOB__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>categoryValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>richiedenteValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Complainant__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>statusValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>filtriCase</name>
        <dataType>String</dataType>
        <expression>&quot;{\&quot;filter1\&quot;:{\&quot;targetFilter\&quot;:\&quot;CaseNumber\&quot;,\&quot;filterValue\&quot;:\&quot;&quot;+{!Numero_Richiesta}+&quot;\&quot;},\&quot;filter2\&quot;:{  \&quot;targetFilter\&quot;: \&quot;Description\&quot;, \&quot;filterValue\&quot;: \&quot;&quot;+{!Descrizione}+&quot;\&quot;}}&quot;</expression>
    </formulas>
    <interviewLabel>Pgaina Assistenza CRM Agenzia v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pagina Assistenza CRM Agenzia v2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCase</name>
        <label>getCase</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getNews</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getNews</name>
        <label>getNews</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assistenza</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PublishStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Online</stringValue>
            </value>
        </filters>
        <filters>
            <field>Language</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>it</stringValue>
            </value>
        </filters>
        <filters>
            <field>FAQ_Valido_fino_a__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRecordTypeIdKnowled.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Knowledge__kav</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecordTypeIdKnowled</name>
        <label>getRecordTypeIdKnowled</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>News</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Assistenza</name>
        <label>Assistenza</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>bannerScreen</name>
            <fieldText>&lt;p&gt;{!Banner}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>COMUNICAZIONI</name>
            <fieldText>COMUNICAZIONI</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>COMUNICAZIONI_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>yrf</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Knowledge__kav</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>getNews</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Line_of_Business_Relevance__c&quot;,&quot;guid&quot;:&quot;column-2f4c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;LOB/Relevance&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>tabellaNews</name>
                    <dataTypeMappings>
                        <typeName>Obj</typeName>
                        <typeValue>Knowledge__kav</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:tableWithPagination_V2</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>collectionData</name>
                        <value>
                            <elementReference>getNews</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pageSize</name>
                        <value>
                            <numberValue>5.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Titolo&quot;,&quot;fieldName&quot;:&quot;Title&quot;},{&quot;label&quot;:&quot;LOB/Relevance&quot;,&quot;fieldName&quot;:&quot;Line_of_Business_Relevance__c&quot;,&quot;type&quot;:&quot;CustomDataTypeRichText&quot;,&quot;typeAttributes&quot;:{&quot;areaTesto&quot;:{&quot;fieldName&quot;:&quot;Line_of_Business_Relevance__c&quot;}}},{&quot;label&quot;:&quot;Risposta&quot;,&quot;fieldName&quot;:&quot;Article_Content__c&quot;,&quot;type&quot;:&quot;richText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>apriCase</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!nuovaRichista}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RICHIESTE_DI_AGENZIA</name>
            <fieldText>RICHIESTE DI AGENZIA</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RICHIESTE_DI_AGENZIA_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Oggetto</name>
                    <dataType>String</dataType>
                    <fieldText>Oggetto</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Numero_Richiesta</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>ff</stringValue>
                    </defaultValue>
                    <fieldText>Numero Richiesta</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Visualizza_anche_le_richieste_risolte</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Si</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Visualizza anche le richieste risolte</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RICHIESTE_DI_AGENZIA_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Stato</name>
                    <choiceReferences>statusValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Stato</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Numero_Targa</name>
                    <dataType>String</dataType>
                    <fieldText>Numero Targa</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Descrizione</name>
                    <dataType>String</dataType>
                    <fieldText>Descrizione</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RICHIESTE_DI_AGENZIA_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Richiedente</name>
                    <choiceReferences>richiedenteValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Richiedente</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>LOB_Category</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>LOB__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Category__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Area</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Categoria</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>AreaSelected</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleValue</name>
                        <value>
                            <elementReference>CategorySelected</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>tabell</name>
            <dataTypeMappings>
                <typeName>Obj</typeName>
                <typeValue>Case</typeValue>
            </dataTypeMappings>
            <extensionName>c:tableWithPagination_V2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>collectionData</name>
                <value>
                    <elementReference>getCase</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Id&quot;,&quot;fieldName&quot;:&quot;Id&quot;},{&quot;label&quot;:&quot;Numero Case&quot;,&quot;fieldName&quot;:&quot;CaseNumber&quot;,&quot;sortable&quot;:&quot;true&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dynamicFilters</name>
                <value>
                    <elementReference>filtriCase</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageSize</name>
                <value>
                    <numberValue>3.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRecordTypeIdKnowled</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Banner</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;c-container slds-cell-wrap&quot; style=&quot;white-space: normal;&quot;&gt;&lt;div class=&quot;slds-page-header&quot; role=&quot;banner&quot; &gt;&lt;div class=&quot;slds-media&quot; style=&quot;display: flex; justify-content: center; align-items: center&quot;&gt;&lt;div class=&quot;slds-media__figure&quot;&gt;&lt;img src=&quot;/resource/case_new_icon&quot; class=&quot;slds-icon_container_circle slds-icon-action-new-case&quot; style=&quot;background-color: #ff5d2d; margin: 0; padding: 8&quot; &gt;&lt;/div&gt;&lt;div class=&quot;slds-media__body&quot;&gt;&lt;h1 class=&quot;slds-text-heading_medium&quot;&gt;Assistenza&lt;/h1&gt;&lt;p class=&quot;slds-text-heading_label&quot; style=&quot;font-size: .75rem;&quot;&gt;Vista Personale - {!$User.Main_Node__c}&lt;/p&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>nuovaRichista</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a class=&quot;slds-button slds-button_brand&quot; href=&quot;https://axaitalia--axadevuff.sandbox.my.site.com/crm/s/assistenza-nuovo-caso-new&quot; target=&quot;_blank&quot;&gt;Open Record&lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <name>AreaSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CategorySelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
