force-app/main/default/flows/SelfQaDV_email_process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Create_Task</name>
        <label>Copy 1 of Create Task</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>TaskCreationIvass</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseObj</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ObjType</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateApiName</name>
            <value>
                <stringValue>Case_Massivi_Richiesta_QADV</stringValue>
            </value>
        </inputParameters>
        <nameSegment>TaskCreationIvass</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>TaskCreationIvass</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseObj</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ObjType</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateApiName</name>
            <value>
                <stringValue>Xerox_Richiesta_QADV</stringValue>
            </value>
        </inputParameters>
        <nameSegment>TaskCreationIvass</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Task_MASS_EB_Collettive</name>
        <label>Create Task MASS EB Collettive</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <actionName>TaskCreationIvass</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseObj</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ObjType</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateApiName</name>
            <value>
                <stringValue>Case_Massivi_Richiesta_QADV_EB_Coll</stringValue>
            </value>
        </inputParameters>
        <nameSegment>TaskCreationIvass</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Case.Email_alert_SelfQAdV_WFCL</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Email_alert_SelfQAdV_WFCL</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Mass</name>
        <label>Send Email Mass</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Case.Email_alert_SelfQAdV_MASS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_Create_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Email_alert_SelfQAdV_MASS</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Mass_EB_Collettive</name>
        <label>Send Email Mass EB Collettive</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>Case.Email_alert_SelfQAdV_MASS_EB_Collettive</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Task_MASS_EB_Collettive</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Email_alert_SelfQAdV_MASS_EB_Collettive</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>origine</name>
        <label>origine</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>XEROX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origine_Pratica_Documentale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WFCL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>XEROX</label>
        </rules>
        <rules>
            <name>MASS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origine_Pratica_Documentale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SubCategory__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Recupero QADV AAI EB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Mass</targetReference>
            </connector>
            <label>MASS</label>
        </rules>
        <rules>
            <name>MASS_EB_Collettive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origine_Pratica_Documentale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SubCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recupero QADV AAI EB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Mass_EB_Collettive</targetReference>
            </connector>
            <label>MASS EB Collettive</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SelfQaDV email process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SelfQaDV email process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>origine</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2 AND ( 3 OR 5 ) AND 4</filterLogic>
        <filters>
            <field>WFCL_Template_Mail__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pratica_Documentale__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Origine_Pratica_Documentale__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WFCL</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In attesa verifica antiriciclaggio</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origine_Pratica_Documentale__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MASS</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
