force-app/main/default/flows/sendSMSHallmarks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>addAgenzia</name>
        <label>addAgenzia</label>
        <locationX>468</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>initialMessageRequiredField</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Agency Code, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campiMancanti</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkField</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addCaseToColl</name>
        <label>addCaseToColl</label>
        <locationX>611</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>collCase</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getQuestionario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addNumeroSinistro</name>
        <label>addNumeroSinistro</label>
        <locationX>468</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>initialMessageRequiredField</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Numero Sinistro, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campiMancanti</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_checkNumSinistro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setCtCAAI_IP</name>
        <label>setCtCAAI_IP</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>CommunicationToCustomer.AccountId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommunicationToCustomer.Caller__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CRM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommunicationToCustomer.Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HALLMARKS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommunicationToCustomer.Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommunicationToCustomer.Communication_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Template</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommunicationToCustomer.Mobile_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Numero_Telefono</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommunicationToCustomer.NDG__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.Account.NDG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommunicationToCustomer.Fiscal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.Account.AAI_Codice_fiscale__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommunicationToCustomer.Communication_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invio Manuale</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommunicationToCustomer.Numero_Sinistro__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.Numero_Sinistro__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommunicationToCustomer.Tipologia_Destinatario__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipologia_Destinatario_toPickList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommunicationToCustomer.VAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.Account.AAI_Partita_IVA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommunicationToCustomer.Agency_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.Agency_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommunicationToCustomer.Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Body_IP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommunicationToCustomer.CaseId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createCtC_AAI_IP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setCtCNOAAI_IP</name>
        <label>setCtCNOAAI_IP</label>
        <locationX>314</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>CommunicationToCustomerNOAAI.AccountId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommunicationToCustomerNOAAI.Caller__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CRM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommunicationToCustomerNOAAI.Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HALLMARKS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommunicationToCustomerNOAAI.Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommunicationToCustomerNOAAI.Communication_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Template</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommunicationToCustomerNOAAI.Mobile_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Numero_Telefono</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommunicationToCustomerNOAAI.Fiscal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.Account.Fiscal_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommunicationToCustomerNOAAI.Communication_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invio Manuale</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommunicationToCustomerNOAAI.Numero_Sinistro__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.Numero_Sinistro__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommunicationToCustomerNOAAI.Tipologia_Destinatario__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipologia_Destinatario_toPickList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommunicationToCustomerNOAAI.VAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.Account.Partita_IVA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommunicationToCustomerNOAAI.Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Body_IP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommunicationToCustomerNOAAI.CaseId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createCtC_NOAAI_IP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setErrorMessage</name>
        <label>setErrorMessage</label>
        <locationX>578</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>titolo</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Impossibile mandare la comunicazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messaggio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>alertRequiredField2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variante</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>error</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>setSuccessMessage</name>
        <label>setSuccessMessage</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>titolo</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Comunicazione presa in carico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messaggio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>La richiesta di invio SMS è stata presa in carico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variante</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>success</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>setSuccessMessage_2</name>
        <label>setSuccessMessage_2</label>
        <locationX>314</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>titolo</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Comunicazione presa in carico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messaggio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>La richiesta di invio SMS è stata presa in carico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variante</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>success</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>checkNumSinistro</name>
        <label>checkNumSinistro</label>
        <locationX>600</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_checkNumSinistro</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>numsinistroAssente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkField.Numero_Sinistro__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addNumeroSinistro</targetReference>
            </connector>
            <label>numsinistroAssente</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkRequiredFields</name>
        <label>checkRequiredFields</label>
        <locationX>380</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Exit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Creare</defaultConnectorLabel>
        <rules>
            <name>Crea</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>campiMancanti</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tech_Company_IP</targetReference>
            </connector>
            <label>Crea</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_checkNumSinistro</name>
        <label>checkAgenzia</label>
        <locationX>600</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>checkField</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>agenziaAssente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkField.Agency_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addAgenzia</targetReference>
            </connector>
            <label>agenziaAssente</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordType_Handler</name>
        <label>RecordType_Handler</label>
        <locationX>611</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Instant_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Instant_payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invia_SMS_IP</targetReference>
            </connector>
            <label>Instant_Payment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tech_Company_IP</name>
        <label>Tech_Company_IP</label>
        <locationX>182</locationX>
        <locationY>1682</locationY>
        <defaultConnector>
            <targetReference>setCtCNOAAI_IP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MPS</defaultConnectorLabel>
        <rules>
            <name>AAI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCase.Account.TECH_Company__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setCtCAAI_IP</targetReference>
            </connector>
            <label>AAI</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>TemplateSMS</name>
        <collectionReference>getTemplate</collectionReference>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <object>Template_SMS__mdt</object>
        <valueField>Communication_Code__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>alertRequiredField2</name>
        <dataType>String</dataType>
        <expression>IF(
     RIGHT({!initialMessageRequiredField}, 2) = &quot;, &quot;,
             LEFT({!initialMessageRequiredField}, LEN({!initialMessageRequiredField}) - 2 ) &amp; &quot;.&quot;,
                       {!initialMessageRequiredField})</expression>
    </formulas>
    <formulas>
        <name>Body_IP</name>
        <dataType>String</dataType>
        <expression>&quot;{\&quot;Data_Apertura_Sinistro\&quot;:\&quot;&quot;+TEXT({!getCase.Data_evento__c})+&quot;\&quot;,\&quot;Numero_Targa\&quot;:\&quot;&quot;+{!getCase.Targa__c}+&quot;\&quot;,\&quot;Veicolo\&quot;:\&quot;&quot;+{!getCase.Veicolo__c}+&quot;\&quot;,\&quot;Importo_Erogato\&quot;:&quot;+TEXT({!getQuestionario.importo_valutazione__c})+&quot;,\&quot;IBAN\&quot;:\&quot;\&quot;,\&quot;Intestatario_Conto\&quot;:\&quot;&quot;+IF({!Tipologia_Destinatario_toPickList}=&quot;Contraente&quot;, {!getCase.Account.FirstName} + &quot; &quot; + {!getCase.Account.LastName},{!getQuestionario.Nominativo_intestatario__c})+&quot;\&quot;,\&quot;Nome_IntestatarioOfferta\&quot;:\&quot;&quot;+IF({!Tipologia_Destinatario_toPickList}=&quot;Contraente&quot;, {!getQuestionario.Nome_contraente__c},{!getQuestionario.Nominativo_intestatario__c})+
&quot;\&quot;,\&quot;Cognome_IntestatarioOfferta\&quot;:\&quot;&quot;+IF({!Tipologia_Destinatario_toPickList}=&quot;Contraente&quot;, {!getQuestionario.Cognome_Contraente__c}, {!getQuestionario.Nominativo_intestatario__c})+&quot;\&quot;,\&quot;SMS_IntestatarioOfferta\&quot;:\&quot;&quot;+{!Numero_Telefono}+&quot;\&quot;,\&quot;Email_IntestatarioOfferta\&quot;:\&quot;&quot;+
IF({!Tipologia_Destinatario_toPickList}=&quot;Contraente&quot;,{!getQuestionario.Email_Contraente__c},{!getQuestionario.Mail_intestatario__c})+&quot;\&quot;,\&quot;assignment-id\&quot;:11823962}&quot;</expression>
    </formulas>
    <formulas>
        <name>Tipologia_Destinatario_toPickList</name>
        <dataType>String</dataType>
        <expression>IF({!getQuestionario.Intestatario_diverso_da_contraente__c} = false, &quot;Contraente&quot;, &quot;Intestatario PRA&quot;)</expression>
    </formulas>
    <interviewLabel>sendSMSHallmarks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>sendSMSHallmarks</label>
    <loops>
        <name>checkField</name>
        <label>checkField</label>
        <locationX>380</locationX>
        <locationY>782</locationY>
        <collectionReference>collCase</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkNumSinistro</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkRequiredFields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createCtC_AAI_IP</name>
        <label>createCtC_AAI_IP</label>
        <locationX>50</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>setSuccessMessage</targetReference>
        </connector>
        <inputReference>CommunicationToCustomer</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createCtC_NOAAI_IP</name>
        <label>createCtC_NOAAI_IP</label>
        <locationX>314</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>setSuccessMessage_2</targetReference>
        </connector>
        <inputReference>CommunicationToCustomerNOAAI</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getCase</name>
        <label>getCase</label>
        <locationX>611</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>addCaseToColl</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQuestionario</name>
        <label>getQuestionario</label>
        <locationX>611</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getTemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Questionario_CA__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTemplate</name>
        <label>getTemplate</label>
        <locationX>611</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordType_Handler</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCase.RecordType.DeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Filtro__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>*</stringValue>
            </value>
        </filters>
        <filters>
            <field>Filtro__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCase.CreatedBy.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Template_SMS__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Exit</name>
        <label>Exit</label>
        <locationX>578</locationX>
        <locationY>1682</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>setErrorMessage</targetReference>
        </connector>
        <fields>
            <name>nextEvent</name>
            <extensionName>c:flowNextEventComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invia_SMS_IP</name>
        <label>Invia SMS IP</label>
        <locationX>380</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>checkField</targetReference>
        </connector>
        <fields>
            <name>Invia_SMS_IP_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Invia_SMS_IP_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Template</name>
                    <choiceReferences>TemplateSMS</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Template</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Invia_SMS_IP_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Numero_Telefono</name>
                    <dataType>String</dataType>
                    <fieldText>Numero Telefono</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Inserisci un numero di telefono compreso di prefisso internazionale e senza spazi&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Numero_Telefono}, &quot;^(\\+|00)\\d{12,13}$&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Invia SMS</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>campiMancanti</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>collCase</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CommunicationToCustomer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CommunicationToCustomer__e</objectType>
    </variables>
    <variables>
        <name>CommunicationToCustomerNOAAI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CommunicationToCustomerNoAAI__e</objectType>
    </variables>
    <variables>
        <name>initialMessageRequiredField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Attenzione! Inserire i seguenti campi mancanti: </stringValue>
        </value>
    </variables>
    <variables>
        <name>messaggio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>titolo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>variante</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
