force-app/main/default/flows/SendNotificationHD2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendNotificationHD2AssistenzaAgenti</name>
        <label>SendNotificationHD2AssistenzaAgenti</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <actionName>Case.SendNotificationHD2AssistenzaAgenti</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.SendNotificationHD2AssistenzaAgenti</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>assignBoolean</name>
        <label>assignBoolean</label>
        <locationX>336</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>emptyQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>findGroupMember</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkAllQueue</name>
        <label>checkAllQueue</label>
        <locationX>446</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Exit</defaultConnectorLabel>
        <rules>
            <name>Correct_Queue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>isHD2StandardA</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>isHD2StandardB</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>isHD2CLEngineering</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>isHD2CLLiabilityNonStandard</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>isHD2CLPropertyNonStandard</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendNotificationHD2AssistenzaAgenti</targetReference>
            </connector>
            <label>Correct Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIsEmptyQueue</name>
        <label>checkIsEmptyQueue</label>
        <locationX>248</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>checkAllQueue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkIsEmptyuQueue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emptyQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>errorMessage</targetReference>
            </connector>
            <label>checkIsEmptyuQueue</label>
        </rules>
    </decisions>
    <description>[IDCRM 146]EClemente - 04/04/2024 - NEW: Inserimento nuova logica per avviso owner coda HD2</description>
    <environments>Default</environments>
    <interviewLabel>SendNotificationHD2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SendNotificationHD2</label>
    <loops>
        <name>findGroupMember</name>
        <label>findGroupMember</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <collectionReference>getAllMember</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignBoolean</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkIsEmptyQueue</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAllMember</name>
        <label>getAllMember</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findGroupMember</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAllMember</targetReference>
        </connector>
        <filterFormula>AND(
ISCHANGED({!$Record.OwnerId}) ,
BEGINS({!$Record.OwnerId}, &quot;00G&quot;) ,
{!$Record.RecordType.Name} == &apos;Assistenza Agenti&apos;
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>emptyQueue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isHD2CLEngineering</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>HD2 BIZ Commercial Lines Engineering</stringValue>
        </value>
    </variables>
    <variables>
        <name>isHD2CLLiabilityNonStandard</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>HD2 BIZ CL Liability Non Standard</stringValue>
        </value>
    </variables>
    <variables>
        <name>isHD2CLPropertyNonStandard</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>HD2 BIZ CL Property Non Standard</stringValue>
        </value>
    </variables>
    <variables>
        <name>isHD2StandardA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>HD2 BIZ Commercial Lines SME Standard A</stringValue>
        </value>
    </variables>
    <variables>
        <name>isHD2StandardB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>HD2 BIZ Commercial Lines SME Standard B</stringValue>
        </value>
    </variables>
</Flow>
