force-app/main/default/flows/SensSMSOnChangeStatusCase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendSMSCase</name>
        <label>sendSMSCase</label>
        <locationX>242</locationX>
        <locationY>408</locationY>
        <actionName>InvocableSendSMS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseToSend</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvocableSendSMS</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>checkPhoneNumber</name>
        <label>checkPhoneNumber</label>
        <locationX>374</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkPhoneNumberCell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedPhone</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>+393</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendSMSCase</targetReference>
            </connector>
            <label>checkPhoneNumberCell</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SensSMSOnChangeStatusCase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SensSMSOnChangeStatusCase</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11)</filterLogic>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Telefono STT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Out of time</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Case_Record_Type_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Motor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Record_Type_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NonMotor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Record_Type_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Axa_Assicurazioni</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Record_Type_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AMPS_Financial</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Record_Type_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sinistri_Danni_Banca</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Record_Type_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assistenza_Agenti</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Record_Type_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agenzia_dipendenti</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Record_Type_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sinistri_AAI</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>checkPhoneNumber</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
