force-app/main/default/flows/Tabella_Case_Agenzia_STD_v1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AssegnaPrimaVista</name>
        <label>AssegnaPrimaVista</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>firstView</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filtra</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_SetCaseAgenziaFiltrati</name>
        <label>Copy 1 of Copy 1 of SetCaseAgenziaFiltrati</label>
        <locationX>314</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>CaseIteration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filtro2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FiltraStato</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_7_of_Copy_1_of_SetCaseAgenziaFiltrati</name>
        <label>Copy 1 of Copy 7 of Copy 1 of SetCaseAgenziaFiltrati</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>CaseIteration</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>getCaseRisolti</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FiltraCaseNumber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_SetCaseAgenziaFiltrati</name>
        <label>Copy 1 of SetCaseAgenziaFiltrati</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>CaseIteration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filtro1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FiltraOggetto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_1_of_SetCaseAgenziaFiltrati</name>
        <label>Copy 2 of Copy 1 of SetCaseAgenziaFiltrati</label>
        <locationX>314</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>CaseIteration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filtro3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FiltraRichiedente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Copy_1_of_SetCaseAgenziaFiltrati</name>
        <label>Copy 3 of Copy 1 of SetCaseAgenziaFiltrati</label>
        <locationX>314</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>CaseIteration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filtro5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FiltraCategoria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Copy_1_of_SetCaseAgenziaFiltrati</name>
        <label>Copy 4 of Copy 1 of SetCaseAgenziaFiltrati</label>
        <locationX>314</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>CaseIteration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filtro4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FiltraArea</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Copy_1_of_SetCaseAgenziaFiltrati</name>
        <label>Copy 5 of Copy 1 of SetCaseAgenziaFiltrati</label>
        <locationX>314</locationX>
        <locationY>3338</locationY>
        <assignmentItems>
            <assignToReference>CaseIteration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filtro6</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FiltraTarga</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_6_of_Copy_1_of_SetCaseAgenziaFiltrati</name>
        <label>Copy 6 of Copy 1 of SetCaseAgenziaFiltrati</label>
        <locationX>314</locationX>
        <locationY>3746</locationY>
        <assignmentItems>
            <assignToReference>CaseIteration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filtro7</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetCaseAgenziaFiltrati2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_7_of_Copy_1_of_SetCaseAgenziaFiltrati</name>
        <label>Copy 7 of Copy 1 of SetCaseAgenziaFiltrati</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>CaseIteration</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getCaseRisolti</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FiltraCaseNumber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCaseAgenzia</name>
        <label>SetCaseAgenzia</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>CaseAgenzia</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assistenza</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCaseAgenziaFiltrati</name>
        <label>SetCaseAgenziaFiltrati</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>CaseIteration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getCaseRisolti</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCaseAgenziaFiltrati2</name>
        <label>SetCaseAgenziaFiltrati2</label>
        <locationX>446</locationX>
        <locationY>3938</locationY>
        <assignmentItems>
            <assignToReference>CaseAgenzia</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseIteration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assistenza</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TogliPrimaVista</name>
        <label>TogliPrimaVista</label>
        <locationX>446</locationX>
        <locationY>4238</locationY>
        <assignmentItems>
            <assignToReference>firstView</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Filtra</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Visualizzaanchelerichiesterisolte</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: &amp;quot;Source Sans Pro&amp;quot;; color: rgb(90, 90, 90);&quot;&gt;Visualizza anche le richieste risolte&lt;/span&gt;</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <collectionProcessors>
        <name>CaseAMioCarico</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>CaseAMioCarico</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNextValueToReference>currentItem_CaseAMioCarico</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getCase</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_CaseAMioCarico.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Soluzione proposta</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>AssegnaPrimaVista</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filtro1</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filtro1</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <assignNextValueToReference>currentItem_Copy_1_of_Filtro1</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>CaseIteration</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_Filtro1.CaseNumber</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Numero_Richiesta</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copy_1_of_SetCaseAgenziaFiltrati</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filtro2</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filtro2</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <assignNextValueToReference>currentItem_Filtro2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>CaseIteration</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filtro2.Oggetto_Apertura_Case__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>Oggetto</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_SetCaseAgenziaFiltrati</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filtro3</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filtro3</label>
        <locationX>314</locationX>
        <locationY>2006</locationY>
        <assignNextValueToReference>currentItem_Copy_1_of_Filtro1</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>CaseIteration</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_Filtro1.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Stato</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_SetCaseAgenziaFiltrati</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filtro4</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filtro4</label>
        <locationX>314</locationX>
        <locationY>2414</locationY>
        <assignNextValueToReference>currentItem_Copy_1_of_Filtro1</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>CaseIteration</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_Filtro1.Complainant__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Richiedente</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copy_4_of_Copy_1_of_SetCaseAgenziaFiltrati</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filtro5</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filtro5</label>
        <locationX>314</locationX>
        <locationY>2822</locationY>
        <assignNextValueToReference>currentItem_Copy_1_of_Filtro1</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>CaseIteration</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_Filtro1.LOB__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>LOB_Category.topValue</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copy_3_of_Copy_1_of_SetCaseAgenziaFiltrati</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filtro6</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filtro6</label>
        <locationX>314</locationX>
        <locationY>3230</locationY>
        <assignNextValueToReference>currentItem_Copy_1_of_Filtro1</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>CaseIteration</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_Filtro1.Category__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>LOB_Category.middleValue</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copy_5_of_Copy_1_of_SetCaseAgenziaFiltrati</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filtro7</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filtro7</label>
        <locationX>314</locationX>
        <locationY>3638</locationY>
        <assignNextValueToReference>currentItem_Copy_1_of_Filtro1</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>CaseIteration</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_Filtro1.Targa__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Numero_Targa</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copy_6_of_Copy_1_of_SetCaseAgenziaFiltrati</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Filtra</name>
        <label>Filtra</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assistenza</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Filtrare</defaultConnectorLabel>
        <rules>
            <name>Azzera_filtri_case_Agenzia</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Direction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Azzera filtri case Agenzia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>firstView</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCaseAgenzia</targetReference>
            </connector>
            <label>Azzera filtri case Agenzia</label>
        </rules>
        <rules>
            <name>Filtra_case_Agenzia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Direction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Filtra case Agenzia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>firstView</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCaseAgenziaFiltrati</targetReference>
            </connector>
            <label>Filtra case Agenzia</label>
        </rules>
    </decisions>
    <decisions>
        <name>FiltraArea</name>
        <label>FiltraArea</label>
        <locationX>446</locationX>
        <locationY>2714</locationY>
        <defaultConnector>
            <targetReference>FiltraCategoria</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AreaPopolato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LOB_Category.topValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LOB_Category.topValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filtro5</targetReference>
            </connector>
            <label>AreaPopolato</label>
        </rules>
    </decisions>
    <decisions>
        <name>FiltraCaseNumber</name>
        <label>FiltraCaseNumber</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>FiltraOggetto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CaseNumberPopolato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Numero_Richiesta</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Numero_Richiesta</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filtro1</targetReference>
            </connector>
            <label>CaseNumberPopolato</label>
        </rules>
    </decisions>
    <decisions>
        <name>FiltraCaseRisolti</name>
        <label>FiltraCaseRisolti</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_7_of_Copy_1_of_SetCaseAgenziaFiltrati</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_CaseNumberPopolato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Visualizza_anche_le_richieste_risolte.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_Copy_1_of_SetCaseAgenziaFiltrati</targetReference>
            </connector>
            <label>Copy 1 of CaseNumberPopolato</label>
        </rules>
    </decisions>
    <decisions>
        <name>FiltraCategoria</name>
        <label>FiltraCategoria</label>
        <locationX>446</locationX>
        <locationY>3122</locationY>
        <defaultConnector>
            <targetReference>FiltraTarga</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CategoriaPopolato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LOB_Category.middleValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LOB_Category.middleValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filtro6</targetReference>
            </connector>
            <label>CategoriaPopolato</label>
        </rules>
    </decisions>
    <decisions>
        <name>FiltraOggetto</name>
        <label>FiltraOggetto</label>
        <locationX>446</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>FiltraStato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OggettoPopolato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Oggetto</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Oggetto</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filtro2</targetReference>
            </connector>
            <label>OggettoPopolato</label>
        </rules>
    </decisions>
    <decisions>
        <name>FiltraRichiedente</name>
        <label>FiltraRichiedente</label>
        <locationX>446</locationX>
        <locationY>2306</locationY>
        <defaultConnector>
            <targetReference>FiltraArea</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RichiedentePopolato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Richiedente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Richiedente</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filtro4</targetReference>
            </connector>
            <label>RichiedentePopolato</label>
        </rules>
    </decisions>
    <decisions>
        <name>FiltraStato</name>
        <label>FiltraStato</label>
        <locationX>446</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>FiltraRichiedente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>StatoPopolato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stato</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stato</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filtro3</targetReference>
            </connector>
            <label>StatoPopolato</label>
        </rules>
    </decisions>
    <decisions>
        <name>FiltraTarga</name>
        <label>FiltraTarga</label>
        <locationX>446</locationX>
        <locationY>3530</locationY>
        <defaultConnector>
            <targetReference>SetCaseAgenziaFiltrati2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TargaPopolato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Numero_Targa</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Numero_Targa</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filtro7</targetReference>
            </connector>
            <label>TargaPopolato</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>areaValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LOB__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>categoryValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>richiedenteValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Complainant__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>statusValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>filtriCase</name>
        <dataType>String</dataType>
        <expression>&quot;{\&quot;filter1\&quot;:{\&quot;targetFilter\&quot;:\&quot;CaseNumber\&quot;,\&quot;filterValue\&quot;:\&quot;&quot;+{!Numero_Richiesta}+&quot;\&quot;},\&quot;filter2\&quot;:{  \&quot;targetFilter\&quot;: \&quot;Description\&quot;, \&quot;filterValue\&quot;: \&quot;&quot;+{!Descrizione}+&quot;\&quot;}}&quot;</expression>
    </formulas>
    <interviewLabel>Tabella_Case_Agenzia_STD_v1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tabella_Case_Agenzia_STD_v1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCase</name>
        <label>getCase</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseAMioCarico</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCaseRisolti</name>
        <label>getCaseRisolti</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FiltraCaseRisolti</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Assistenza</name>
        <label>Assistenza</label>
        <locationX>446</locationX>
        <locationY>4130</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TogliPrimaVista</targetReference>
        </connector>
        <fields>
            <name>bannerScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!nuovaRichiesta}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RICHIESTE_DI_AGENZIA</name>
            <fieldText>RICHIESTE DI AGENZIA</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RICHIESTE_DI_AGENZIA_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Oggetto</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Oggetto</elementReference>
                    </defaultValue>
                    <fieldText>Oggetto</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Numero_Richiesta</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Numero_Richiesta</elementReference>
                    </defaultValue>
                    <fieldText>Numero Richiesta</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Visualizza_anche_le_richieste_risolte</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Si</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Visualizza anche le richieste risolte</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Visualizza_anche_le_richieste_risolte.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RICHIESTE_DI_AGENZIA_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Stato</name>
                    <choiceReferences>statusValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Stato</elementReference>
                    </defaultValue>
                    <fieldText>Stato</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Numero_Targa</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Numero_Targa</elementReference>
                    </defaultValue>
                    <fieldText>Numero Targa</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Descrizione</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Descrizione</elementReference>
                    </defaultValue>
                    <fieldText>Descrizione</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RICHIESTE_DI_AGENZIA_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Richiedente</name>
                    <choiceReferences>richiedenteValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Richiedente</elementReference>
                    </defaultValue>
                    <fieldText>Richiedente</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>LOB_Category</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>LOB__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Category__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Area</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Categoria</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>LOB_Category.topValue</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleValue</name>
                        <value>
                            <elementReference>LOB_Category.middleValue</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>test9</name>
                    <extensionName>c:flowDomandeFrequenti</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>area</name>
                        <value>
                            <elementReference>LOB_Category.topValue</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>category</name>
                        <value>
                            <elementReference>LOB_Category.middleValue</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>searchString</name>
                        <value>
                            <elementReference>Oggetto</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>subCategory</name>
                        <value>
                            <elementReference>Descrizione</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Assistenza_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assistenza_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assistenza_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FiltraCase</name>
                    <extensionName>c:flowRouterButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Applica Filtri</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>routeDirectioin</name>
                        <value>
                            <stringValue>Filtra case Agenzia</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>variant</name>
                        <value>
                            <stringValue>brand-outline</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>classe</name>
                        <value>
                            <stringValue>slds-float_right</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Direction</assignToReference>
                        <name>Direction</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assistenza_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AzzeraFiltriCase</name>
                    <extensionName>c:flowRouterButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Reset Filtri</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>routeDirectioin</name>
                        <value>
                            <stringValue>Azzera filtri case Agenzia</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>variant</name>
                        <value>
                            <stringValue>brand-outline</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>classe</name>
                        <value>
                            <stringValue>slds-float_left</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Direction</assignToReference>
                        <name>Direction</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assistenza_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Case_Agenzia_TBL</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Case</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Case Agenzia</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>CaseAgenzia</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Case_Link__c&quot;,&quot;guid&quot;:&quot;column-0467&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;NUMERO CASE&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Case_Link&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Owner_HD1__c&quot;,&quot;guid&quot;:&quot;column-d02e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;NOME COMPLETO&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Owner HD1&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Origin&quot;,&quot;guid&quot;:&quot;column-2678&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;ORIGINE CASE&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Case Origin&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LOB__c&quot;,&quot;guid&quot;:&quot;column-ca3d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;AREA&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;LOB&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Category__c&quot;,&quot;guid&quot;:&quot;column-f065&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;CATEGORIA&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Category&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Oggetto_Apertura_Case__c&quot;,&quot;guid&quot;:&quot;column-5ce6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;OGGETTO RICHIESTA&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Oggetto Apertura Case&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status&quot;,&quot;guid&quot;:&quot;column-d0c1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;STATO&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-db27&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;DATA CREAZIONE&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;ClosedDate&quot;,&quot;guid&quot;:&quot;column-aa5a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;DATA CHIUSURA&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:8,&quot;label&quot;:&quot;Closed Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;E2E_Age_in_BH_Text__c&quot;,&quot;guid&quot;:&quot;column-e389&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;DURATA LAVORAZIONE&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:9,&quot;label&quot;:&quot;E2E Age in BH Text&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Time_with_Customer_Text__c&quot;,&quot;guid&quot;:&quot;column-c4ce&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;DURATA GESTIONE AGENTE&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:10,&quot;label&quot;:&quot;Time With Customer Text&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AZIONI_A_MIO_CARICO</name>
            <fieldText>AZIONI A MIO CARICO</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AZIONI_A_MIO_CARICO_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Case_Agente_TBL</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Case</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Case Agente</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>CaseAMioCarico</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Case_Link__c&quot;,&quot;guid&quot;:&quot;column-e27d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;NUMERO CASE&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Case_Link&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Owner_HD1__c&quot;,&quot;guid&quot;:&quot;column-336e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;NOME COMPLETO&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Owner HD1&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Origin&quot;,&quot;guid&quot;:&quot;column-a4c8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;ORIGINE CASE&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Case Origin&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LOB__c&quot;,&quot;guid&quot;:&quot;column-2077&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;AREA&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;LOB&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Category__c&quot;,&quot;guid&quot;:&quot;column-a5f3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;CATEGORIA&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Category&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Oggetto_Apertura_Case__c&quot;,&quot;guid&quot;:&quot;column-9b4d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;OGGETTO RICHIESTA&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Oggetto Apertura Case&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status&quot;,&quot;guid&quot;:&quot;column-ccb3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;STATO&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-314a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;DATA CREAZIONE&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;Data_soluzione_proposta__c&quot;,&quot;guid&quot;:&quot;column-c107&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;DATA SOLUZIONE PROPOSTA&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:8,&quot;label&quot;:&quot;Data soluzione proposta&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Banner</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;c-container slds-cell-wrap&quot; style=&quot;white-space: normal;&quot;&gt;&lt;div class=&quot;slds-page-header&quot; role=&quot;banner&quot; &gt;&lt;div class=&quot;slds-media&quot; style=&quot;display: flex; justify-content: center; align-items: center&quot;&gt;&lt;div class=&quot;slds-media__figure&quot;&gt;&lt;img src=&quot;/resource/case_new_icon&quot; class=&quot;slds-icon_container_circle slds-icon-action-new-case&quot; style=&quot;background-color: #ff5d2d; margin: 0; padding: 8&quot; &gt;&lt;/div&gt;&lt;div class=&quot;slds-media__body&quot;&gt;&lt;h1 class=&quot;slds-text-heading_medium&quot;&gt;Assistenza&lt;/h1&gt;&lt;p class=&quot;slds-text-heading_label&quot; style=&quot;font-size: .75rem;&quot;&gt;Vista Personale - {!$User.Main_Node__c}&lt;/p&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>nuovaRichiesta</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a class=&quot;slds-button slds-button_brand&quot; href=&quot;https://axaitalia--axadevuff.sandbox.my.site.com/crm/s/assistenza-nuovo-caso-new&quot; target=&quot;_blank&quot;&gt;Nuova Richiesta&lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <name>AreaSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseAgenzia</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseIteration</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CategorySelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contentDocumentIDsUploaded</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_CaseAMioCarico</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>currentItem_Copy_1_of_Filtro1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>currentItem_Filtro2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Direction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstView</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
