force-app/main/default/flows/Test_Ip_Range.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Avvia_Batch</name>
        <label>Avvia Batch</label>
        <locationX>1326</locationX>
        <locationY>2410</locationY>
        <actionName>AWS_IP_Range</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Old_Ip_Prefix_after_batch</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>AWS_IP_Range</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>count</name>
        <label>count</label>
        <locationX>731</locationX>
        <locationY>1983</locationY>
        <assignmentItems>
            <assignToReference>countcompare</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creare_Nuovo_IP</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cancellare</name>
        <label>Cancellare vecchio json?</label>
        <locationX>842</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Invio_mail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non cancellare</defaultConnectorLabel>
        <rules>
            <name>cancella</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fromfile.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_old_CD</targetReference>
            </connector>
            <label>cancella</label>
        </rules>
    </decisions>
    <decisions>
        <name>Creare_Nuovo_IP</name>
        <label>Creare Nuovo IP</label>
        <locationX>931</locationX>
        <locationY>1888</locationY>
        <defaultConnector>
            <targetReference>Get_Ip_Prefix_after_insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non creare</defaultConnectorLabel>
        <rules>
            <name>Crea_Ip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quanti_IP_prefix_vuoi_creare</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>countcompare</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_IP_prefix</targetReference>
            </connector>
            <label>Crea Ip</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invio_mail</name>
        <label>Invio mail</label>
        <locationX>935</locationX>
        <locationY>889</locationY>
        <defaultConnector>
            <targetReference>Update_Check_Synctoken</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non inviare</defaultConnectorLabel>
        <rules>
            <name>Invia_mail2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Invia_Mail.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Check_Synctoken_0</targetReference>
            </connector>
            <label>Invia mail</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Test Ip Range {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Ip Range</label>
    <loops>
        <name>Editing</name>
        <label>Editing</label>
        <locationX>938</locationX>
        <locationY>1460</locationY>
        <collectionReference>Ip_Prefix.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Delete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Ip_prefix_after_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crea_Ip_Prefix</name>
        <label>Crea Ip Prefix</label>
        <locationX>532</locationX>
        <locationY>2113</locationY>
        <connector>
            <targetReference>count</targetReference>
        </connector>
        <inputAssignments>
            <field>AWS_IP_Range__c</field>
            <value>
                <elementReference>idAWS.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Create_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ip_prefix__c</field>
            <value>
                <elementReference>Create_Ip_Prefix_editing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isNew__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>region__c</field>
            <value>
                <elementReference>Region</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>service__c</field>
            <value>
                <elementReference>Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>trovato__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ip_range__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete</name>
        <label>Delete</label>
        <locationX>730</locationX>
        <locationY>1459</locationY>
        <connector>
            <targetReference>Editing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Editing.Id</elementReference>
            </value>
        </filters>
        <object>ip_range__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_old_CD</name>
        <label>Delete old CD</label>
        <locationX>678</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>Update_FromFile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Content_Version.Id</elementReference>
            </value>
        </filters>
        <object>ContentDocument</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_AWS_IP_Range</name>
        <label>Get AWS IP Range</label>
        <locationX>964</locationX>
        <locationY>2442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Ip_prefix_after_batch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>actual__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>new_prefixes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ip_Prefix</name>
        <label>Get Ip Prefix</label>
        <locationX>939</locationX>
        <locationY>1313</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Ip_Prefix</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AWS_IP_Range__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idAWS.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ip_range__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ip_prefix_after_batch</name>
        <label>Get Ip prefix after batch</label>
        <locationX>808</locationX>
        <locationY>2442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Update_FromFile_Final</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AWS_IP_Range__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idAWS_after_batch.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ip_range__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ip_Prefix_after_insert</name>
        <label>Get Ip Prefix after insert</label>
        <locationX>1268</locationX>
        <locationY>1894</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Post_Edit_Ip_Range</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AWS_IP_Range__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idAWS.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ip_range__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ip_prefix_after_update</name>
        <label>Get Ip prefix after update</label>
        <locationX>937</locationX>
        <locationY>1581</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>test</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AWS_IP_Range__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idAWS.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ip_range__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_Ip_Prefix_after_batch</name>
        <label>Get Old Ip Prefix after batch</label>
        <locationX>1232</locationX>
        <locationY>2442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>idAWS_after_batch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AWS_IP_Range__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idAWS.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ip_range__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Id_Content_Version</name>
        <label>Id Content Document</label>
        <locationX>657</locationX>
        <locationY>245</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Id_Content_Version2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id_Contentworkspace.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Id_Content_Version2</name>
        <label>Id Content Version</label>
        <locationX>848</locationX>
        <locationY>245</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Test_Nick</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Content_Version.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>id_Contentworkspace</name>
        <label>id Contentworkspace</label>
        <locationX>482</locationX>
        <locationY>245</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Id_Content_Version</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AWS IP Range</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentWorkspace</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>idAWS</name>
        <label>idAWS</label>
        <locationX>307</locationX>
        <locationY>245</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>id_Contentworkspace</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>actual__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>new_prefixes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>idAWS_after_batch</name>
        <label>idAWS_after_batch</label>
        <locationX>1113</locationX>
        <locationY>2442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AWS_IP_Range</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>actual__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>new_prefixes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_FromFile_Final</name>
        <label>Update FromFile Final</label>
        <locationX>656</locationX>
        <locationY>2443</locationY>
        <connector>
            <targetReference>Post_estrazione</targetReference>
        </connector>
        <inputAssignments>
            <field>FromFile__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>AWS_IP_Ranges_Check_Settings__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Check_Synctoken</name>
        <label>Update Check Synctoken</label>
        <locationX>1022</locationX>
        <locationY>1092</locationY>
        <connector>
            <targetReference>Get_Ip_Prefix</targetReference>
        </connector>
        <inputAssignments>
            <field>Check_syncToken__c</field>
            <value>
                <elementReference>CheckSyncToken.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invia_Mail__c</field>
            <value>
                <elementReference>Invia_Mail.value</elementReference>
            </value>
        </inputAssignments>
        <object>AWS_IP_Ranges_Check_Settings__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Check_Synctoken_0</name>
        <label>Update Check Synctoken</label>
        <locationX>861</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Get_Ip_Prefix</targetReference>
        </connector>
        <inputAssignments>
            <field>Check_syncToken__c</field>
            <value>
                <elementReference>CheckSyncToken.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destinatari_Email__c</field>
            <value>
                <elementReference>Destinatari_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invia_Mail__c</field>
            <value>
                <elementReference>Invia_Mail.value</elementReference>
            </value>
        </inputAssignments>
        <object>AWS_IP_Ranges_Check_Settings__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_FromFile</name>
        <label>Update FromFile</label>
        <locationX>677</locationX>
        <locationY>871</locationY>
        <connector>
            <targetReference>Invio_mail</targetReference>
        </connector>
        <inputAssignments>
            <field>FromFile__c</field>
            <value>
                <elementReference>fromfile.value</elementReference>
            </value>
        </inputAssignments>
        <object>AWS_IP_Ranges_Check_Settings__c</object>
    </recordUpdates>
    <screens>
        <name>Create_IP_prefix</name>
        <label>Create IP prefix</label>
        <locationX>533</locationX>
        <locationY>1875</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Crea_Ip_Prefix</targetReference>
        </connector>
        <fields>
            <name>Create_Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Service</name>
            <dataType>String</dataType>
            <fieldText>Service</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Region</name>
            <dataType>String</dataType>
            <fieldText>Region</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Create_Ip_Prefix_editing</name>
            <dataType>String</dataType>
            <fieldText>Ip Prefix</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Post_Edit_Ip_Range</name>
        <label>Post Edit Ip Range</label>
        <locationX>1267</locationX>
        <locationY>2225</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Avvia_Batch</targetReference>
        </connector>
        <fields>
            <name>Ip_Prefix_aggiornato</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ip_range__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Ip_Prefix_after_insert</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-c4fa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;IP_Range Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;region__c&quot;,&quot;guid&quot;:&quot;column-16fd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;region&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;service__c&quot;,&quot;guid&quot;:&quot;column-10b6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;service&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ip_prefix__c&quot;,&quot;guid&quot;:&quot;column-5e84&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;ip_prefix&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Avvia Batch Manualmente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Post_estrazione</name>
        <label>Post estrazione</label>
        <locationX>651</locationX>
        <locationY>2699</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Nuova_estrazione</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>new_prefixes__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Nuova estrazione</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_AWS_IP_Range</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-821c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;AWS_IP_Range Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;syncToken__c&quot;,&quot;guid&quot;:&quot;column-a2b1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;syncToken&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Created_Date_JSON__c&quot;,&quot;guid&quot;:&quot;column-b3be&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Created Date JSON&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;actual__c&quot;,&quot;guid&quot;:&quot;column-212e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;actual&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;Ip_Nuovi__c&quot;,&quot;guid&quot;:&quot;column-3d2a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Ip Nuovi&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Ip_Cancellati__c&quot;,&quot;guid&quot;:&quot;column-5405&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Ip Cancellati&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-4bfe&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Post_estrazione_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Post_estrazione_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Releted_Ip_Nuova_Estrazione</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>ip_range__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Releted Ip Nuova Estrazione</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Ip_prefix_after_batch</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-47ed&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;IP_Range Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;region__c&quot;,&quot;guid&quot;:&quot;column-42de&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;region&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;service__c&quot;,&quot;guid&quot;:&quot;column-1c60&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;service&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ip_prefix__c&quot;,&quot;guid&quot;:&quot;column-280c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;ip_prefix&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;isNew__c&quot;,&quot;guid&quot;:&quot;column-d78b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nuovo&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;isNew&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Post_estrazione_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Releted_Ip_vecchia_Estrazione</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>ip_range__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Related Ip Vecchia Estrazione</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Old_Ip_Prefix_after_batch</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-43c6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;IP_Range Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ip_prefix__c&quot;,&quot;guid&quot;:&quot;column-8f77&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;ip_prefix&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;region__c&quot;,&quot;guid&quot;:&quot;column-e783&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;region&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;service__c&quot;,&quot;guid&quot;:&quot;column-f7a8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;service&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;trovato__c&quot;,&quot;guid&quot;:&quot;column-2358&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Non Cancellato&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;trovato&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Related_Ip_Prefix</name>
        <label>Related Ip Prefix</label>
        <locationX>1110</locationX>
        <locationY>1321</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Editing</targetReference>
        </connector>
        <fields>
            <name>adv2</name>
            <fieldText>&lt;p&gt;Seleziona elementi da cancellare. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;NB:&lt;/p&gt;&lt;p&gt;Se cancelli n record alla prossima chiamata API questi non verranno trovati tra i vecchi IP e quindi n sarranno anche i nuovi IP&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ip_Prefix</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ip_range__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Ip Prefix</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Ip_Prefix</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-bc36&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;IP_Range Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;region__c&quot;,&quot;guid&quot;:&quot;column-d677&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;region&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;service__c&quot;,&quot;guid&quot;:&quot;column-5dd2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;service&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ip_prefix__c&quot;,&quot;guid&quot;:&quot;column-9ff6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;ip_prefix&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>test</name>
        <label>test</label>
        <locationX>938</locationX>
        <locationY>1749</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Creare_Nuovo_IP</targetReference>
        </connector>
        <fields>
            <name>Ip_Prefix2</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ip_range__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>IP Post delete</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Ip_prefix_after_update</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-dc3f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;IP_Range Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;region__c&quot;,&quot;guid&quot;:&quot;column-a1ad&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;region&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;service__c&quot;,&quot;guid&quot;:&quot;column-31c2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;service&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ip_prefix__c&quot;,&quot;guid&quot;:&quot;column-1f23&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;ip_prefix&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Adv3</name>
            <fieldText>&lt;p&gt;Se decidi di creare manualmente n IP prefix allora questi si aggiungeranno ai count degli IP cancellati perchè non verrano trovati in fase di estrazione&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>test_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>test_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>creates2</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Vuoi creare manualmente degli IP Prefix?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Crea</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Non creare</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>test_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quanti_IP_prefix_vuoi_creare</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Quanti IP prefix vuoi creare?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>creates2.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Test_Nick</name>
        <label>Test Nick</label>
        <locationX>850</locationX>
        <locationY>436</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Cancellare</targetReference>
        </connector>
        <fields>
            <name>Adv1</name>
            <fieldText>&lt;p&gt;Scegli se effettuare check su Synctoken. Se il campo è flaggato allora la classe controllerà se il syncToken è uguale a quello attuale e se la condizione verrà soddisfatta la chiamata verrà interrotta, altrimenti verrà creato un nuovo record padre con lo stesso syncToken.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;NB: Quando i syncToken sono uguali allora anche gli IP contentuti nel JSON sono gli stessi&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Impostazioni</name>
            <fieldText>Impostazioni</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Impostazioni_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CheckSyncToken</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>CheckSyncToken</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Controlla</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Non controllare</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>$Setup.AWS_IP_Ranges_Check_Settings__c.Check_syncToken__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Impostazioni_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>fromfile</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>$Setup.AWS_IP_Ranges_Check_Settings__c.FromFile__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Esegui Batch da File</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>dowlo</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Clicca il link di seguito per scaricare un json di esempio da modificare&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!Id_Content_Version2.VersionDataUrl}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Download JSON&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>fromfile.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FromFile2</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>File da parsare</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.json , .JSON</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>id_Contentworkspace.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>fromfile.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Impostazioni_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Invia_Mail</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Invia Mail</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Invia</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Non inviare</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>$Setup.AWS_IP_Ranges_Check_Settings__c.Invia_Mail__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Destinatari_Email</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>$Setup.AWS_IP_Ranges_Check_Settings__c.Destinatari_Email__c</elementReference>
                    </defaultValue>
                    <fieldText>Destinatari Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Inserisci mail separata dal carattere &quot;;&quot;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Invia_Mail.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Test_Nick_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Test_Nick_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Test_Nick_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Test_Nick_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Test_Nick_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>401</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>idAWS</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>countcompare</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Crea</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>id1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
