force-app/main/default/flows/UpdatePolicyForDataIntegration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_Enter_Batch</name>
        <label>Check Enter Batch</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Should not Enter</defaultConnectorLabel>
        <rules>
            <name>Should_Enter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EnterBatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Policy_to_enter_batch</targetReference>
            </connector>
            <label>Should Enter</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EnterBatch</name>
        <dataType>Boolean</dataType>
        <expression>AND(TEXT({!$Record.TECH_Company__c}) = &apos;AAI&apos;, OR( ISCHANGED({!$Record.Nodes__c}) , ISNEW()))</expression>
    </formulas>
    <interviewLabel>UpdatePolicyForDataIntegration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdatePolicyForDataIntegration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Technical_User</name>
        <label>Get Technical User</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_record_visible</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AXA_TECHNICAL_USER_ID</stringValue>
            </value>
        </filters>
        <object>AAI_Code_Variables__c</object>
        <outputAssignments>
            <assignToReference>TechUserId</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_record_visible</name>
        <label>Set record visible</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Check_Enter_Batch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>isHidden__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>isHidden__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Need_Async_Trigger</name>
        <label>Update Need Async Trigger</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TECH_Company__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>AAI</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>NeedAsyncTriggerExecution__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_owner</name>
        <label>Update owner</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Update_Need_Async_Trigger</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TECH_Company__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AAI</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>NeedAsyncTriggerExecution__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>TechUserId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Policy_to_enter_batch</name>
        <label>Update Policy to enter batch</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Last_Node_Modify_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>TechUserId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Technical_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NeedAsyncTriggerExecution__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>InsurancePolicy__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TechUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
