force-app/main/default/flows/UpdateAccountForDataIntegration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>CheckFormula</name>
        <label>CheckFormula</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>UpdateAccountOnlyOwner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>truePath</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShouldTrigger</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAccount</targetReference>
            </connector>
            <label>truePath</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ShouldTrigger</name>
        <dataType>Boolean</dataType>
        <expression>OR(
AND(
NOT({!$Record.NeedAsyncTriggerExecution__c}),
ISPICKVAL({!$Record.TECH_Company__c}, &apos;AAI&apos;)
),
AND(
{!$Record.NeedAsyncTriggerExecution__c},
ISPICKVAL({!$Record.TECH_Company__c}, &apos;AAI&apos;),
OR(
ISNEW(),
ISCHANGED({!$Record.Nodes__c}),
ISCHANGED({!$Record.AAI_Agency_Reference_Code__c}),
ISCHANGED({!$Record.TECH_Company__c}),
ISCHANGED({!$Record.Ccod_Produttore__c})
)
)
)</expression>
    </formulas>
    <interviewLabel>UpdateAccountForDataIntegration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateAccountForDataIntegration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>OwnerId_0</name>
        <label>OwnerId</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Record_Visible</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AXA_TECHNICAL_USER_ID</stringValue>
            </value>
        </filters>
        <object>AAI_Code_Variables__c</object>
        <outputAssignments>
            <assignToReference>TechUserId</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Record_Visible</name>
        <label>Set Record Visible</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>CheckFormula</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>isHidden__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>isHidden__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAccount</name>
        <label>UpdateAccount</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Last_Node_Modify_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NeedAsyncTriggerExecution__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>TechUserId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAccountOnlyOwner</name>
        <label>UpdateAccountOnlyOwner</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>UpdateForNonAAI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TECH_Company__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AAI</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>NeedAsyncTriggerExecution__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>TechUserId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateForNonAAI</name>
        <label>UpdateForNonAAI</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TECH_Company__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>AAI</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>NeedAsyncTriggerExecution__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OwnerId_0</targetReference>
        </connector>
        <filterFormula>{!$Setup.ByPassingTrigger__c.isTriggerAccount__c}</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TechUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
